<div class="public-footer">
  <div class="left">
    <h1>Finax</h1>

    <span>
      <img
        ngSrc="assets/imgs/copyright.svg"
        width="16"
        height="16"
        alt="copyright logo"
      />

      2024 Finax, Inc.
    </span>
  </div>

  <div class="privacy-policy">
    <!-- <span routerLink="/politica-privacidade">Política de privacidade</span> -->
  </div>

  <div class="right">
    <a
      href="https://www.linkedin.com/in/gabriel-hawerroth/"
      target="_blank"
      aria-label="Linkedin finax"
    >
      <img
        ngSrc="assets/imgs/linkedin.svg"
        width="22"
        height="22"
        alt="Linkedin logo"
      />
    </a>

    <a href="" aria-label="Facebook finax">
      <img
        ngSrc="assets/imgs/facebook.svg"
        width="22"
        height="22"
        alt="Facebook logo"
      />
    </a>

    <a href="mailto:suporte@appfinax.com.br" aria-label="E-mail finax">
      <img
        ngSrc="assets/imgs/email.svg"
        width="22"
        height="22"
        alt="Email logo"
      />
    </a>
  </div>
</div>
