<div class="public-footer">
  <div class="top">
    <div class="about">
      <div class="logo">
        <img
          [ngSrc]="cloudFireCdnImgsLink + 'logo.svg'"
          width="35"
          height="35"
          alt="company logo"
        />

        <h1 class="text-gradient">Finax</h1>
      </div>

      <p>A plataforma mais inteligente para controle financeiro pessoal.</p>
    </div>

    <div class="links">
      <div class="column">
        <span class="column-title">Suporte</span>

        <a href="mailto:suporte@appfinax.com.br" aria-label="E-mail finax">
          <span>Contato</span>
        </a>
      </div>
    </div>
  </div>

  <mat-divider />

  <div class="bottom">
    <div class="left">
      <span>© 2025 Finax. Todos os direitos reservados.</span>
    </div>

    <div class="right">
      <span routerLink="/politica-de-privacidade">Privacidade</span>

      <span routerLink="/termos-de-uso">Termos</span>
    </div>
  </div>
</div>
