<div class="public-footer">
  <div class="left">
    <h1>Finax</h1>

    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="1em"
        viewBox="0 0 512 512"
      >
        <path
          d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c31.2 31.2 81.9 31.2 113.1 0c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9c-50 50-131 50-181 0s-50-131 0-181s131-50 181 0c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0c-31.2-31.2-81.9-31.2-113.1 0s-31.2 81.9 0 113.1z"
        />
      </svg>
      2024 Finax, Inc.
    </span>
  </div>

  <div class="privacy-policy">
    <span routerLink="/politica-privacidade">Política de privacidade</span>
  </div>

  <div class="right">
    <a
      href="https://www.linkedin.com/in/gabriel-hawerroth/"
      target="_blank"
      aria-label="Linkedin finax"
    >
      <img
        ngSrc="assets/imgs/linkedin.svg"
        width="21"
        height="21"
        alt="Linkedin logo"
      />
    </a>

    <a href="" aria-label="Facebook finax">
      <img
        ngSrc="assets/imgs/facebook.svg"
        width="21"
        height="21"
        alt="Facebook logo"
      />
    </a>

    <a href="mailto:suporte@appfinax.com.br" aria-label="E-mail finax">
      <img
        ngSrc="assets/imgs/email.svg"
        width="21"
        height="21"
        alt="Email logo"
      />
    </a>
  </div>
</div>
