@import '../../../utils/colors.scss';

::-webkit-scrollbar {
    display: none;
}

.dark-page {
    .content {
        .accounts-card {
            background-color: $dark-bg-color !important;
            color: #fff !important;

        }
    }
}

.simple-page {
    display: flex;
    flex-direction: column;

    .content {
        flex: 1;
        display: grid;
        place-items: center;

        .accounts-card {
            width: 68%;
            height: 75vh;
            max-height: 75vh;
            padding: 2rem;
            background-color: #fefefe;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;

            .list {
                width: 75%;
                max-height: 85% !important;
                border-radius: 4px;
                margin: 1rem 0;
                overflow-y: scroll;

                .account {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    gap: 1.5rem;
                    font-size: 1.2rem;

                    .content {
                        height: 100%;
                        display: flex;
                        flex: 1;
                        gap: 1.5rem;
                        padding: 20px 10px;
                        margin-left: 2rem;
                        border-bottom: 1px solid #74747437;

                        .material-symbols-outlined {
                            display: none;
                            margin-left: auto;
                            color: #50505040;
                        }
                    }

                    &:hover {
                        .content {
                            .material-symbols-outlined {
                                display: block;
                            }
                        }
                    }

                    // &:last-child .content {
                    //     border: none !important;
                    // }
                }
            }
        }
    }
}