<div
  [ngClass]="{
    'dark-page': utilsService.userConfigs.getValue().theme === 'dark'
  }"
  class="simple-page"
>
  <h1 class="page-title">
    {{ language === "pt-br" ? "Contas de banco" : "Bank accounts" }}
  </h1>

  <div class="content">
    <div class="accounts-card">
      <div fxLayoutAlign="end center">
        <button
          mat-stroked-button
          color="primary"
          routerLink="/contas-de-banco/novo"
        >
          {{ language === "pt-br" ? "Nova conta" : "New account" }}
        </button>
      </div>
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div
          class="example-box"
          *ngFor="let account of accountsList"
          cdkDrag
          cdkDragLockAxis="y"
        >
          <mat-icon class="menu-icon">menu</mat-icon>
          <div class="content" (click)="navigate(account.id!)">
            <img src="assets/money-coin.svg" width="52px" />
            <span
              ><b>{{ account.accountName }}</b></span
            >
            <mat-icon class="navigate-icon">navigate_next</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
