@import 'src/app/utils/colors.scss';

.dark-page {
    .content {
        .accounts-card {
            background-color: $dark-bg-color !important;
            color: #fff !important;

        }
    }
}

.simple-page {
    display: flex;
    flex-direction: column;

    .content {
        flex: 1;
        display: grid;
        place-items: center;

        .accounts-card {
            width: 60%;
            padding: 2rem;
            background-color: #fefefe;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
        }
    }
}

.example-list {
    width: 75%;
    border-radius: 4px;
    overflow: hidden;
    margin: 1rem 0;
}

.example-box {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1.5rem;
    font-size: 1.2rem;

    .content {
        height: 100%;
        display: flex;
        flex: 1;
        gap: 1.5rem;
        padding: 20px 10px;
        margin-left: 2rem;
        border-bottom: 1px solid #74747437;

        .navigate-icon {
            display: none;
            margin-left: auto;
            color: #50505040;
        }
    }

    .menu-icon {
        width: 2rem;
        display: none;
        position: absolute;
        cursor: move;
        color: #50505040;
    }

    &:hover {
        .menu-icon {
            display: block;
        }

        .content {
            .navigate-icon {
                display: block;
            }
        }
    }
}

.cdk-drag-preview {
    height: 100%;
    font-family: 'Nunito';
    border-radius: 4px;
    background-color: #cee1f75f;

    .content {
        border-bottom: none;
        align-items: center;
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}