@import '../../../utils/colors.scss';

::-webkit-scrollbar {
    display: none;
}

.simple-page {
    display: flex;
    flex-direction: column;

    .content {
        flex: 1;
        display: flex;
        justify-content: center;
        place-items: center;

        .card {
            width: 80%;
            height: 80vh;
            max-height: 80vh;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            border-radius: 1rem;

            .card-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    padding: 1.3rem;
                }
            }

            .list {
                width: 75%;
                max-height: 85% !important;
                border-radius: 4px;
                margin: 1rem 0;
                overflow-y: scroll;
                padding-left: 2rem;

                .account {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    gap: 1.5rem;
                    font-size: 1.2rem;
                    padding: 20px 10px;
                    border-bottom: 1px solid #74747437;


                    img {
                        border-radius: 50%;
                    }

                    .default-bank-account {
                        width: 60px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        box-shadow: 0 0 2px #5d5d5d;
                        cursor: pointer;
                    }

                    .navigate-icon {
                        display: none;
                        margin-left: auto;
                        color: #50505040;
                    }

                    &:hover {
                        .navigate-icon {
                            display: block;
                        }
                    }

                    // &:last-child .content {
                    //     border: none !important;
                    // }
                }
            }
        }
    }
}