<div
  [ngClass]="{
    'invoice-payment-dialog': true,
    'dark-page': utilsService.getUserConfigs.theme === 'dark'
  }"
>
  <div class="title">
    <h2>
      {{ "invoice.payment.title" | translate }}
    </h2>

    <app-buttons [showClose]="true" mat-dialog-close></app-buttons>
  </div>

  <form class="content" [formGroup]="form">
    <div class="row1">
      <mat-form-field style="width: 50%">
        <mat-label>{{ "invoice.payment.amount" | translate }}</mat-label>
        <input
          type="text"
          matInput
          currencyMask
          placeholder="0"
          [options]="{
            prefix: currency + ' ',
            allowNegative: false,
            min: 0,
          }"
          formControlName="payment_amount"
        />
      </mat-form-field>

      <mat-form-field style="width: 50%">
        <mat-label>{{ "invoice.payment.account" | translate }}</mat-label>
        <mat-select
          formControlName="payment_account_id"
          (valueChange)="paymentAccountChanges($event)"
        >
          <mat-select-trigger>
            <ng-container
              *ngTemplateOutlet="selectedAccountTemplate"
            ></ng-container>
          </mat-select-trigger>

          @for (account of accounts; track account.id) {
          <mat-option [value]="account.id" class="bank-account-item">
            <div class="account-opt">
              @if (account.image) {
              <img
                [ngSrc]="'assets/imgs/banks/' + account.image"
                width="30"
                height="30"
                alt="bank account logo"
              />
              } @else {
              <span class="material-symbols-outlined default-account-logo">
                account_balance
              </span>
              }
              <span>{{ account.name }}</span>
            </div>
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <ng-template #selectedAccountTemplate>
        <div class="selected-account">
          @if (selectedAccount && selectedAccount.image) {
          <img
            [ngSrc]="'assets/imgs/banks/' + selectedAccount.image"
            width="20"
            height="20"
            alt="bank account logo"
          />
          }
          <span>{{ selectedAccount?.name }}</span>
        </div>
      </ng-template>
    </div>

    <div class="row2">
      <mat-form-field style="width: 50%">
        <mat-label>{{ "invoice.payment.date" | translate }}</mat-label>
        <input
          type="text"
          matInput
          [matDatepicker]="picker"
          formControlName="payment_date"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field style="width: 50%">
        <mat-label>{{ "invoice.payment.hour" | translate }}</mat-label>
        <input type="time" matInput formControlName="payment_hour" />
      </mat-form-field>
    </div>

    <div class="row3">
      <input
        type="file"
        id="fileInput"
        (change)="onFileSelected($event)"
        style="display: none"
        accept=".pdf,.jpg,.jpeg,.png,.jfif,.webp"
      />

      @if (selectedFile) {
      <div id="selected-file">
        <h3>{{ "invoice.payment.attachment" | translate }}</h3>

        <div class="file">
          <span>{{ selectedFile.name }}</span>
          <app-buttons
            [showClose]="true"
            (onClose)="removeFile()"
          ></app-buttons>
        </div>
      </div>
      } @else {
      <label
        for="fileInput"
        class="bottom-btn"
        [ngStyle]="{
            'background-color': selectedFile ? '#b6b6b673' : 'transparent',
            'color': selectedFile ? '#fff' : '',
            'border-color': selectedFile ? 'transparent' : '',
        }"
      >
        <span id="add-attachment-label">
          {{ "invoice.payment.add-attachment" | translate }}
        </span>
      </label>
      }
    </div>
  </form>

  <div class="actions">
    @if (saving()) {
    <mat-spinner color="primary" [diameter]="48"></mat-spinner>
    } @else {
    <button mat-raised-button color="primary" (click)="save()">
      {{ "invoice.pay" | translate }}
    </button>
    }
  </div>
</div>
