<div id="release-form-dialog">
  <div
    class="top"
    [style.margin-bottom]="releaseForm.value.id ? '2.7rem' : '1.5rem'"
  >
    @if (darkThemeEnabled) {
    <button
      mat-stroked-button
      [disabled]="disableSave()"
      (click)="save()"
      class="save-btn"
    >
      @if (saving()) {
      <mat-spinner [diameter]="30"></mat-spinner>
      } @else {
      <div class="btn-content">
        <span class="material-symbols-outlined">save</span>
        @if (!isMobileView()) {
        <span>
          {{ "actions.save" | translate }}
        </span>
        }
      </div>
      }
    </button>
    } @else {
    <button
      mat-raised-button
      [disabled]="disableSave()"
      (click)="save()"
      class="save-btn"
    >
      @if (saving()) {
      <mat-spinner [diameter]="30"></mat-spinner>
      } @else {
      <div class="btn-content">
        <span class="material-symbols-outlined">save</span>
        @if (!isMobileView()) {
        <span>
          {{ "actions.save" | translate }}
        </span>
        }
      </div>
      }
    </button>
    }

    <h2>{{ getDialogTitle }}</h2>

    <button mat-icon-button (click)="control.close()" class="close-btn">
      <span class="material-symbols-outlined">close</span>
    </button>
  </div>

  <div class="content">
    <div class="form-buttons">
      <app-release-form
        [form]="releaseForm"
        [accountsList]="data.accounts"
        [categoriesList]="data.categories"
        [creditCardsList]="data.creditCards"
        [selectedCreditCard]="selectedCreditCard"
        style="flex: 1"
      ></app-release-form>

      <div
        class="buttons"
        [style.margin-top]="
          showRepeat || showObservation
            ? isMobileView()
              ? '0'
              : '2rem'
            : isMobileView()
            ? '0'
            : '.8rem'
        "
      >
        <input
          type="file"
          id="fileInput"
          (change)="onFileSelected($event)"
          style="display: none"
          accept=".pdf,.jpg,.jpeg,.png,.jfif,.webp"
        />

        <label
          for="fileInput"
          class="bottom-btn"
          [style.background-color]="selectedFile ? '#b6b6b673' : 'transparent'"
          [style.color]="selectedFile ? '#fff' : ''"
          [style.border-color]="selectedFile ? 'transparent' : ''"
          [matTooltip]="'release-form.attachment' | translate"
          matTooltipPosition="left"
        >
          <span class="material-symbols-outlined">attach_file_add</span>
        </label>

        @if (!releaseForm.value.id) {
        <label
          class="bottom-btn"
          (click)="showRepeat = !showRepeat"
          [style.background-color]="showRepeat ? '#b6b6b673' : 'transparent'"
          [style.color]="showRepeat ? '#fff' : ''"
          [style.border-color]="showRepeat ? 'transparent' : ''"
          [matTooltip]="'release-form.repeat' | translate"
          matTooltipPosition="left"
        >
          <span class="material-symbols-outlined">repeat</span>
        </label>
        }

        <label
          class="bottom-btn"
          (click)="showObservation = !showObservation"
          [style.background-color]="
            showObservation ? '#b6b6b673' : 'transparent'
          "
          [style.color]="showObservation ? '#fff' : ''"
          [style.border-color]="showObservation ? 'transparent' : ''"
          [matTooltip]="'generic.observation' | translate"
          matTooltipPosition="left"
        >
          <span class="material-symbols-outlined">speaker_notes</span>
        </label>
      </div>
    </div>

    @if (selectedFile || showRepeat || showObservation) {
    <mat-divider></mat-divider>

    <form [formGroup]="releaseForm" class="extras">
      @if (selectedFile || showObservation) {
      <div class="file-obs" [style.width]="showRepeat ? '50%' : '100%'">
        @if (selectedFile) {
        <div class="selected-file">
          <div class="file-content">
            <h3>{{ "release-form.attachments" | translate }}</h3>

            <div class="file">
              <span>{{ selectedFile.name }}</span>

              <button
                mat-icon-button
                (click)="removeFile()"
                class="remove-file-btn"
              >
                <span class="material-symbols-outlined">close</span>
              </button>
            </div>
          </div>
        </div>
        } @if (selectedFile && showObservation) {
        <mat-divider></mat-divider>
        } @if (showObservation) {
        <div class="observation">
          <mat-form-field appearance="outline" style="width: 80%">
            <mat-label>
              {{ "generic.observation" | translate }}
            </mat-label>
            <textarea
              matInput
              formControlName="observation"
              maxlength="100"
            ></textarea>
          </mat-form-field>
        </div>
        }
      </div>
      } @if (showRepeat) {
      <div
        class="repeat"
        [style.width]="selectedFile || showObservation ? '50%' : '100%'"
        [style.border-left]="
          selectedFile || showObservation ? '1px solid #d1d1d1' : 'none'
        "
      >
        <div
          class="choices"
          [style.flex-direction]="
            selectedFile || showObservation ? 'column' : 'row'
          "
          [style.gap]="selectedFile || showObservation ? '0' : '4rem'"
        >
          <mat-checkbox
            [formControl]="fixedRepeat"
            (change)="onChangeRepeat('FIXED', $event)"
          >
            {{ "release-form.fixed-release" | translate }}
          </mat-checkbox>

          <mat-checkbox
            [formControl]="installmenteRepeat"
            (change)="onChangeRepeat('INSTALLMENTS', $event)"
          >
            {{ "release-form.installment-release" | translate }}
          </mat-checkbox>
        </div>

        @if (releaseForm.value.repeat === 'FIXED') {
        <div
          class="fixed-release"
          [style.flex-direction]="
            selectedFile || showObservation ? 'column' : 'row'
          "
        >
          <mat-form-field
            [style.width]="
              selectedFile || (showObservation && smallWidth()) ? '85%' : 'auto'
            "
          >
            <mat-label></mat-label>
            <mat-select
              formControlName="fixedBy"
              (valueChange)="onChangeFixedBy($event)"
            >
              @for (item of getFixedByList; track $index) {
              <mat-option [value]="item.id">{{ item.ds }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field
            [hideRequiredMarker]="true"
            [style.width]="
              selectedFile || (showObservation && smallWidth()) ? '85%' : 'auto'
            "
          >
            <mat-label>{{ "release-form.for" | translate }}:</mat-label>
            <input
              matInput
              type="text"
              formControlName="repeatFor"
              currencyMask
              [options]="{
                prefix: '',
                allowNegative: false,
                allowZero: false,
                decimal: '',
                precision: 0,
                suffix: ' ' + repeatForSuffix,
                thousands: '',
                nullable: false,
                min: 2,
                max: 365,
              }"
            />
          </mat-form-field>
        </div>
        } @else if (releaseForm.value.repeat === 'INSTALLMENTS') {
        <div class="installments-release">
          <mat-form-field
            [style]="
              getResponsiveFieldWidth(
                { sm: '45%', md: '40%' },
                selectedFile || showObservation ? '60%' : '25%',
                '11rem'
              )
            "
            [hideRequiredMarker]="true"
          >
            <mat-label>{{ "release-form.in" | translate }}:</mat-label>
            <input
              matInput
              type="text"
              formControlName="installmentsBy"
              currencyMask
              [options]="{
                prefix: '',
                allowNegative: false,
                allowZero: false,
                decimal: '',
                precision: 0,
                suffix: ' ' + ('release-form.repeat-for-suffix.MONTHLY' | translate),
                thousands: '',
                nullable: false,
                min: 2,
                max: 48,
              }"
            />
          </mat-form-field>
        </div>
        }
      </div>
      }
    </form>
    }
  </div>
</div>
