<div class="simple-page login">
  <div class="login-box">
    <div class="top">
      <img
        [ngSrc]="cloudFireCdnImgsLink + 'money-coin.svg'"
        width="50"
        height="50"
      />

      <h1>FINAX</h1>
    </div>

    <div class="content">
      <h1><label>Erro na ativação</label></h1>

      <h3><label>Ocorreu um erro ao ativar sua conta. Tente novamente mais tarde.</label></h3>
    </div>
  </div>

  <span class="opt-login-page">
    <span routerLink="/" class="action">Voltar a tela inicial</span>
  </span>
</div>
