@import './components/public-header/public-header.component.scss';
@import './components/public-footer/public-footer.component.scss';
@import '../../../shared/styles/colors.scss';

// desktop fullhd+
@media screen and (min-width: 1800px) and (min-height: 800px) {
    #signatures {
        .content {
            .plan {
                height: 78% !important;
            }
        }
    }
}

// Tablet responsive
@media screen and (max-width: 900px) {}

// Mobile responsive
@media screen and (max-width: 600px) {}

#public-page {
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;

    #back-to-top {
        display: block;
        position: fixed;
        right: 1rem;
        bottom: 3.5rem;
        background-color: transparent !important;
        box-shadow: none !important;

        span {
            color: #000;
        }
    }

    .public-section {
        width: 100%;
        height: calc(100vh - 9rem);
    }

    // ******* Start First Section

    #first-ps {
        height: calc(102vh - $header-height);
        background-image: url(../../../../assets/imgs/bg-first-section.webp);
        background-size: cover;
        display: flex;
        justify-content: center;

        .content {
            width: 85%;
            height: 100%;
            display: flex;
            align-items: center;

            .left-side {
                flex: 1;
                height: 100%;
                padding: 4.5em 2em 0 2em;
                color: white;

                h1 {
                    font-size: 2.7em;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 1.1rem;
                    margin-bottom: 3rem;

                    .benefits {
                        font-size: 1.45rem;
                        font-weight: bold;
                        color: #00ff5e;
                    }
                }

                .call-action {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    align-items: flex-start;

                    span {
                        font-size: 1.15rem;
                    }

                    button {
                        box-sizing: initial;
                        width: 45%;
                        padding: 0.6rem 0.5rem;
                        font-size: 1.25rem;
                    }
                }
            }

            .right-side {
                width: 45%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    border-radius: 5px;
                }
            }
        }
    }

    // ******* End First Section

    // ******* Start Second Section

    #reset-the-possible {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 3%;
        gap: 1rem;

        .left {
            width: 50%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

            img {
                border-top-right-radius: 90px;
                border-bottom-left-radius: 90px;
            }
        }

        .right {
            flex: 1;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 1.7rem;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            h1 {
                width: 100%;
                height: 12%;
                border-bottom: 1px solid black;
                font-size: 2.1rem;
            }

            .list {
                width: 100%;
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                gap: 1rem;

                .item {
                    width: 100%;
                    display: flex;
                    max-width: 90%;

                    .icon {
                        width: 8%;
                        height: 100%;
                        display: grid;
                        place-items: center;
                    }

                    .content {
                        height: 100%;
                        flex: 1;
                        display: flex;
                        flex-direction: column;

                        .title {
                            height: 50%;
                            width: 100%;
                            font-size: 1.1em;
                            font-weight: 600;
                            display: flex;
                            align-items: center;
                        }

                        .detail {
                            flex: 1;
                            width: 100%;
                        }
                    }
                }

                .margin-top {
                    margin-top: 1rem;
                }
            }

            .button {
                text-align: end;
                padding-right: 3em;

                button {
                    box-sizing: initial;
                    padding: 0.4em 1em;
                }
            }
        }
    }

    // ******* End Second Section

    // ******* Start Signatures Section

    #signatures {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        background-color: #eff3f8;

        .top {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            form {
                span {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
            }
        }

        .content {
            flex: 1;
            padding: 0 6rem;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .plan {
                height: 85%;
                width: 22rem;
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
                    Helvetica, Arial, sans-serif;

                .title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 1.2rem 0;
                    font-size: 1.4rem;
                    gap: 4px;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;

                    h3 {
                        font-size: 1.5rem;
                    }

                    .plan-value {
                        .amount {
                            font-weight: bold;
                            font-size: 1.75rem;
                        }

                        .by-month {
                            color: #7e96a1;
                        }
                    }
                }

                .services {
                    width: 100%;
                    flex: 1;
                    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1);
                    display: flex;
                    flex-direction: column;
                    padding: 1.5rem;

                    h4 {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        position: relative;
                        bottom: 0.8rem;
                        margin-bottom: 0.4rem;
                    }

                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        gap: 0.8rem;

                        li {
                            display: flex;
                            align-items: center;
                            gap: 0.4rem;
                        }
                    }

                    button {
                        font-size: 1.3rem;
                        width: 100%;
                        padding: 1.5rem 0;
                        border-radius: 3px;
                        margin-top: auto;
                    }
                }
            }

            .free {
                background-color: #eff3f8;

                .title {
                    background-color: #dadee3;
                }

                .services {

                    h4,
                    ul {
                        color: #556376;
                    }

                    button {
                        background-color: #64748b;
                        color: #ffffff;
                        border: 1px solid #64748b;
                    }
                }
            }

            .basic {
                background-color: #282e38;

                .title {
                    background-color: #37404c;
                    color: white;
                }

                .services {

                    h4,
                    ul {
                        color: #dadee3;
                    }

                    button {
                        background-color: #1b9f4b;
                        color: #ffffff;
                        border: 1px solid #1b9f4b;
                    }
                }
            }

            .premium {
                background-color: #183462;

                .title {
                    background-color: #204887;
                    color: white;
                }

                .services {

                    h4,
                    ul {
                        color: #d0e1fd;
                    }

                    button {
                        background-color: transparent;
                        color: #6366f1;
                        border: 1px solid;
                    }
                }
            }
        }
    }

    // ******* End Signatures Section
}