@media screen and (max-width: 1050px) {
  .public-section {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem !important;
  }
}

.public-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10vh 10%;

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;

    #value {
      display: flex;
      align-items: center;
      font-size: 3.2rem;
      font-weight: bold;
    }

    #label {
      font-size: 1.1rem;
      color: var(--secondary-gray);
    }
  }
}

.fade-in-top-1 {
  animation: fadeInTop1 0.8s ease-out forwards;
}

.fade-in-top-2 {
  animation: fadeInTop2 0.9s ease-out forwards;
}

.fade-in-top-3 {
  animation: fadeInTop3 1s ease-out forwards;
}

.fade-in-top-4 {
  animation: fadeInTop4 1.1s ease-out forwards;
}

@keyframes fadeInTop1 {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInTop2 {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInTop3 {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInTop4 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
