<div class="public-section">
  <div class="left" id="ss-img-container">
    <img
      priority
      [ngSrc]="cloudFireCdnImgsLink + 'img-section2.webp'"
      width="1128"
      height="862"
      alt="fantasy image"
    />
  </div>

  <div class="right">
    <h1>Redefina o possível</h1>

    <mat-divider></mat-divider>

    <div class="list">
      <div class="item">
        <div class="icon">
          <span class="material-symbols-outlined">done</span>
        </div>
        <div class="content">
          <div class="title">Simples de usar</div>
          <div class="detail">
            Desfrute de uma plataforma interativa e dinâmica sem perder a
            simplicidade
          </div>
        </div>
      </div>

      <div class="item">
        <div class="icon">
          <span class="material-symbols-outlined">done</span>
        </div>
        <div class="content">
          <div class="title">Controle seus investimentos</div>
          <div class="detail">
            Dê aos seus investimentos a atenção que eles merecem mantendo eles
            separados dos seus gastos do dia a dia
          </div>
        </div>
      </div>

      <div class="item">
        <div class="icon">
          <span class="material-symbols-outlined">done</span>
        </div>
        <div class="content">
          <div class="title">Cálculo de rendimentos automático</div>
          <div class="detail">
            Atualização diária do rendimento das suas aplicações
          </div>
        </div>
      </div>

      <div class="item">
        <div class="icon">
          <span class="material-symbols-outlined">done</span>
        </div>
        <div class="content">
          <div class="title">Boletins semanais</div>
          <div class="detail">
            Toda semana um novo boletim resumindo todos os acontecimentos mais
            relevantes da b3, do mercado internacional e também do mundo cripto
          </div>
        </div>
      </div>

      <div class="item">
        <div class="icon">
          <span class="material-symbols-outlined">done</span>
        </div>
        <div class="content">
          <div class="title">Índices de mercado sempre atualizados</div>
          <div class="detail">
            Todos os indicadores da economia que você possa imaginar, nós temos,
            <br />
            e com atualização em tempo real!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
