<div class="public-section">
  <div class="info fade-in-top-1">
    <div id="value" class="text-gradient">2K+</div>

    <span id="label">Usuários ativos</span>
  </div>

  <div class="info fade-in-top-2">
    <div id="value" class="text-gradient">R$ 2B+</div>

    <span id="label">Gerenciados</span>
  </div>

  <div class="info fade-in-top-3">
    <div id="value" class="text-gradient">99.9%</div>

    <span id="label">Uptime</span>
  </div>

  <div class="info fade-in-top-4">
    <div id="value" class="text-gradient">4.9★</div>

    <span id="label">Avaliação</span>
  </div>
</div>
