<div
  [ngClass]="{
    'simple-page': true,
    login: true,
    'dark-page': utils.getUserConfigs.theme === 'dark'
  }"
>
  <div class="login-box">
    <div class="top">
      <img
        [ngSrc]="cloudFireCdnImgsLink + 'money-coin.svg'"
        width="50"
        height="50"
        priority
        alt="company logo"
      />

      <h1>
        {{ "create-account.title" | translate }}
      </h1>
    </div>

    <form [formGroup]="userRegisterForm">
      <div style="display: flex; justify-content: center">
        <mat-form-field style="width: 80%" [hideRequiredMarker]="true">
          <mat-label>{{ "generic.email" | translate }}</mat-label>
          <input
            type="text"
            matInput
            formControlName="email"
            maxlength="40"
            autocomplete="off"
            autofocus
          />
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content: center; gap: 0.3rem">
        <mat-form-field style="width: 80%" [hideRequiredMarker]="true">
          <mat-label>
            {{ "generic.password" | translate }}
          </mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            autocomplete="new-password"
          />

          <span
            class="material-symbols-outlined primary-color"
            matSuffix
            [matTooltip]="utils.passwordRequirementsText"
            matTooltipPosition="below"
            matTooltipShowDelay="200"
            >info</span
          >
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content: center; gap: 0.9rem">
        <mat-form-field style="width: 32%" [hideRequiredMarker]="true">
          <mat-label>
            {{ "create-account.first-name" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="firstName"
            maxlength="30"
          />
        </mat-form-field>

        <mat-form-field style="width: 45%">
          <mat-label>{{ "create-account.last-name" | translate }}</mat-label>
          <input
            type="text"
            matInput
            formControlName="lastName"
            maxlength="40"
          />
        </mat-form-field>
      </div>
    </form>

    <div class="bottom">
      @if (showLoading()) {
      <mat-spinner [diameter]="40" color="primary"></mat-spinner>
      } @else {
      <button mat-flat-button color="primary" (click)="createUser()">
        <span>
          <span class="material-symbols-outlined">person</span>
          {{ "create-account.create" | translate }}
        </span>
      </button>
      }
    </div>
  </div>

  <span class="opt-login-page">
    <span>{{ "create-account.already-have-account" | translate }}</span>

    <span routerLink="/login" class="login-label">
      {{ "create-account.do-login" | translate }}
    </span>
  </span>
</div>
