<div
  [ngClass]="{
    'dark-page': utilsService.getUserConfigs.theme === 'dark'
  }"
  class="simple-page"
>
  <h1 class="page-title">
    {{ language === "pt-br" ? "Contas de banco" : "Bank accounts" }}
  </h1>

  <div class="content">
    <form class="account-card" [formGroup]="accountForm">
      <div style="display: flex; justify-content: end">
        <app-buttons
          [showSave]="true"
          [disableSave]="accountForm.invalid || accountForm.pristine || saving"
          [showSaveLoading]="saving"
          (onSave)="save()"
        ></app-buttons>
      </div>

      <div class="first-row">
        <app-buttons
          [showGoBack]="true"
          (onGoBack)="location.back()"
        ></app-buttons>

        <mat-form-field [hideRequiredMarker]="true" style="width: 30%">
          <mat-label>{{ language === "pt-br" ? "Nome" : "Name" }}</mat-label>
          <input
            type="text"
            matInput
            #accountName
            maxlength="40"
            formControlName="name"
            autofocus
          />
          <mat-hint align="end">
            {{ accountName.value.length }}/{{ accountName.maxLength }}
          </mat-hint>
        </mat-form-field>

        <mat-form-field>
          <!-- The value of the options follows a pattern of two characters, the first is the first letter of the first acronym of the label, the second is the first letter of the second acronym of the label  -->
          <mat-label>
            {{ language === "pt-br" ? "Tipo de conta" : "Account type" }}
          </mat-label>
          <mat-select formControlName="type">
            <mat-option value="CC">
              {{ language === "pt-br" ? "Conta corrente" : "Checking account" }}
            </mat-option>

            <mat-option value="SV">
              {{ language === "pt-br" ? "Conta poupança" : "Savings account" }}
            </mat-option>

            <mat-option value="SL">
              {{ language === "pt-br" ? "Conta salário" : "Salary account" }}
            </mat-option>

            <mat-option value="LG">
              {{ language === "pt-br" ? "Conta jurídica" : "Legal account" }}
            </mat-option>

            <mat-option value="BK">
              {{ language === "pt-br" ? "Corretora" : "Brokerage" }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 8.5rem">
          <mat-label>{{ language === "pt-br" ? "Código" : "Code" }}</mat-label>
          <input
            matInput
            type="text"
            formControlName="code"
            currencyMask
            [options]="{
              precision: 0,
              allowNegative: false,
              max: 999,
              nullable: true
            }"
          />
        </mat-form-field>
      </div>

      <div class="second-row">
        <mat-form-field
          floatLabel="always"
          style="width: 28%"
          [hideRequiredMarker]="true"
        >
          <mat-label>
            {{ language === "pt-br" ? "Saldo" : "Balance" }}
          </mat-label>
          <input
            matInput
            placeholder="0"
            currencyMask
            [options]="{
              prefix: currency + ' '
            }"
            formControlName="balance"
            [readonly]="accountId !== null"
          />
          <mat-hint class="text-600 w-full">
            {{
              language === "pt-br"
                ? "Digite - para saldo negativo e + para positivo"
                : "Enter - for negative balance and + for positive"
            }}
          </mat-hint>
        </mat-form-field>

        <mat-form-field style="width: 30%">
          <mat-label>
            {{ language === "pt-br" ? "Nº da conta" : "Account number" }}
          </mat-label>
          <input
            matInput
            type="text"
            maxlength="15"
            formControlName="accountNumber"
          />
        </mat-form-field>

        <mat-form-field style="width: 8.5rem">
          <mat-label>
            {{ language === "pt-br" ? "Agência" : "Agency" }}
          </mat-label>
          <input
            matInput
            type="text"
            formControlName="agency"
            currencyMask
            [options]="{
              precision: 0,
              thousands: '',
              allowNegative: false,
              max: 99999,
              nullable: true
            }"
          />
        </mat-form-field>
      </div>

      <div class="third-row">
        <div class="check-boxs">
          <mat-checkbox formControlName="investments">
            {{
              language === "pt-br"
                ? "Conta com investimentos"
                : "Account with investments"
            }}
          </mat-checkbox>

          <br />

          <mat-checkbox formControlName="addOverallBalance">
            {{
              language === "pt-br"
                ? "Somar no saldo geral"
                : "Add to the overall balance"
            }}
          </mat-checkbox>

          <br />

          <mat-checkbox formControlName="active">
            {{ language === "pt-br" ? "Ativo" : "Active" }}
          </mat-checkbox>
        </div>

        <div id="bank-img-div">
          @if (!accountForm.value.image) {
          <span class="material-symbols-outlined" (click)="selectIcon()">
            account_balance
          </span>
          } @else {
          <img
            [ngSrc]="'assets/banks/' + accountForm.value.image"
            class="bank-img"
            width="70"
            height="70"
            (click)="selectIcon()"
            alt="bank account image"
          />
          }
          <span id="text" (click)="selectIcon()">
            {{ language === "pt-br" ? "Selecione um ícone" : "Select an icon" }}
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
