@media screen and (max-width: 1050px) {
    .list {
        padding-left: 0 !important;
    }
}

.list {
    width: 100%;
    height: 100%;
    padding-left: 2rem;

    .account {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 1.5rem;
        font-size: 1.2rem;
        padding: 20px 10px;


        img {
            border-radius: 50%;
        }

        .default-bank-account {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: var(--icon-box-shadow);
            cursor: pointer;
        }

        .navigate-icon {
            display: none;
            margin-left: auto;
            color: var(--primary-font-color);
        }

        &:hover {
            .navigate-icon {
                display: block;
            }
        }
    }
}