<div class="list" [style.width]="getListWidth">
  @for (card of creditCards(); track card.id) {
  <div
    class="account"
    (click)="openDetails(card)"
    [style.border-bottom]="isLastItem($index) ? 'none' : 'var(--separator)'"
  >
    @if (card.image) {
    <img
      [ngSrc]="cloudFireCdnImgsLink + 'banks/' + card.image"
      width="60"
      height="60"
      alt="account logo"
    />
    } @else {
    <span class="material-symbols-rounded default-bank-account">
      credit_card
    </span>
    }

    <span>
      <b>{{ card.name }}</b>
    </span>

    <span class="material-symbols-rounded navigate-icon"> navigate_next </span>
  </div>
  } @empty {
  <div class="empty">
    <label style="font-size: 1.5rem; margin-bottom: 4rem">
      {{ "credit-cards.no-cards" | translate }}
      {{
        (situationFilterValue() ? "generic.active-m" : "generic.inactive-m")
          | translate
          | lowercase
      }}
    </label>
  </div>
  }
</div>
