<div
  class="list"
  [ngStyle]="{
    width: creditCards().length > 0 ? '75%' : '100%'
  }"
>
  @for (card of creditCards(); track card.id) {
  <div
    class="account"
    (click)="openDetails(card)"
    [ngStyle]="{
      'border-bottom': isLastItem($index) ? 'none' : '1px solid #74747437'
    }"
  >
    @if (card.image) {
    <img
      [ngSrc]="cloudFireCdnImgsLink + 'banks/' + card.image"
      width="60"
      height="60"
      alt="account logo"
    />
    } @else {
    <span class="material-symbols-outlined default-bank-account">
      credit_card
    </span>
    }

    <span>
      <b>{{ card.name }}</b>
    </span>

    <span class="material-symbols-outlined navigate-icon"> navigate_next </span>
  </div>
  } @empty {
  <div class="empty">
    <span style="font-size: 1.5rem; margin-bottom: 4rem">
      {{ "credit-cards.no-cards" | translate }}
      {{
        (situationFilterValue() ? "generic.active-m" : "generic.inactive-m")
          | translate
          | lowercase
      }}
    </span>
  </div>
  }
</div>
