@import 'generic.scss';
@import 'colors.scss';

.cancel-account-dialog {
    font-family: $default-font-family !important;

    * {
        font-family: $default-font-family !important;
    }

    .title {
        font-size: 2rem;
        font-weight: bold;
    }

    .content {
        font-size: 1.1rem;
        overflow: hidden;
        margin: 1rem;
        color: #000;
    }
}

.dark-page {
    .content {
        color: $dark-font-color;
    }
}