@use 'generic.scss' as *;

.cancel-account-dialog {
    font-family: $default-font-family !important;

    * {
        font-family: $default-font-family !important;
    }

    .title {
        font-size: 2rem;
        font-weight: bold;
    }

    .content {
        font-size: 1.1rem;
        overflow: hidden;
        margin: 1rem;
    }
}