<div
  [ngClass]="{
    'simple-page': true,
    'dark-page': utils.getUserConfigs.theme === 'dark'
  }"
>
  <h1 class="page-title">
    {{ "my-profile.title" | translate }}
  </h1>

  <div class="img-content">
    <img
      [ngSrc]="profileImageSrc()"
      width="136"
      height="136"
      alt="user profile image"
      priority
    />

    <input
      type="file"
      id="fileInput"
      (change)="onFileSelected($event)"
      style="display: none"
      accept=".jpg,.jpeg,.png,.jfif,.webp"
    />

    <label for="fileInput">
      {{ "my-profile.change-profile-picture" | translate }}
    </label>
  </div>

  <div class="content">
    <div class="form-box">
      <app-my-profile-form [userForm]="userForm"></app-my-profile-form>

      <div class="buttons">
        <app-buttons
          [showSave]="true"
          [showChangePassword]="true"
          [disableSave]="
            (userForm.pristine && !changedProfileImg) ||
            userForm.invalid ||
            saving()
          "
          [showSaveLoading]="saving()"
          (onSave)="saveUser()"
          (onChangePassword)="openChangePasswordDialog()"
        ></app-buttons>
      </div>
    </div>

    <div id="plan-box">
      <div id="plan">
        <div class="title">
          <h2>
            {{ "my-profile.early-access" | translate }}
          </h2>
        </div>

        <div class="content">
          <span id="month-year">
            {{ "my-profile.monthly" | translate }}
          </span>

          <span id="plan-price">{{ currency }}0,00</span>

          <!-- <span id="signature-expiration">
            Expira em:
            {{ signatureExpiration | date : "dd/MM/yyyy" }}
          </span> -->

          <span id="adm-plan">Congratulations, you're the boss!</span>
        </div>

        <div class="actions">
          <button mat-button class="change-plan" (click)="changePlan()">
            <span>
              <span class="material-symbols-outlined">
                swap_horizontal_circle
              </span>
              {{ "my-profile.switch-plan" | translate }}
            </span>
          </button>

          <span id="cancel-signature">
            <span>{{ "my-profile.cancel" | translate }}</span>
          </span>
        </div>
      </div>

      <button mat-button color="primary" id="change-payment-method">
        <span>
          <span class="material-symbols-outlined">credit_card</span>
          {{ "my-profile.change-payment-method" | translate }}
        </span>
      </button>
    </div>
  </div>
</div>
