<div class="list">
  @for (account of accounts(); track $index) {
  <div
    class="account"
    (click)="openDetails(account)"
    [ngStyle]="{
      'border-bottom': isLastItem($index) ? 'none' : '1px solid #74747437'
    }"
  >
    @if (!isSubAccounts() && !account.primaryAccountId) {
    <div class="sub-accounts-expand-btn">
      <span
        class="material-symbols-outlined"
        (click)="expandSubAccounts(account.id!, $event)"
      >
        {{
          expandedSubAccounts.get(account.id!) ? "expand_less" : "expand_more"
        }}
      </span>
    </div>
    }

    <div class="image-name">
      @if (account.image) {
      <img
        [ngSrc]="cloudFireCdnImgsLink + 'banks/' + account.image"
        width="60"
        height="60"
        alt="account logo"
      />
      } @else {
      <span class="material-symbols-outlined default-bank-account">
        {{ getDefaultAccountImage(account) }}
      </span>
      }

      <span>
        <b>{{ account.name }}</b>
      </span>
    </div>

    <div class="amount">
      {{
        currency +
          (showValues() ? (account.balance | customCurrency) : hideValue)
      }}
    </div>

    <div class="navigate-icon">
      <span class="material-symbols-outlined">navigate_next</span>
    </div>
  </div>

  @if (!isSubAccounts()) {
  <app-sub-accounts
    [subAccounts]="account.subAccounts || []"
    [primaryAccountId]="account.id!"
    [isLastPrimaryAccount]="isLastItem($index)"
    [showValues]="showValues()"
    (reloadList)="reloadList.emit()"
    [ngStyle]="{
      display: isExpanded(account) ? 'flex' : 'none'
    }"
  ></app-sub-accounts>
  }
  <!---->
  }
</div>
