<div
  class="list"
  [ngStyle]="{
    width: filteredRows().length > 0 ? '75%' : '100%'
  }"
>
  @for (account of filteredRows(); track account.id) {
  <div
    class="account"
    (click)="openDetails(account)"
    [ngStyle]="{
      'border-bottom':
        isLastItem($index) && !isExpanded(account)
          ? 'none'
          : '1px solid #74747437'
    }"
  >
    <div class="sub-accounts-expand-btn">
      @if (showSubAccounts(account)) {
      <span
        class="material-symbols-outlined"
        (click)="expandSubAccounts(account.id!, $event)"
      >
        {{
          expandedSubAccounts.get(account.id!) ? "expand_less" : "expand_more"
        }}
      </span>
      }
    </div>

    <div class="image-name">
      @if (account.image) {
      <img
        [ngSrc]="cloudFireCdnImgsLink + 'banks/' + account.image"
        width="60"
        height="60"
        alt="account logo"
      />
      } @else {
      <span class="material-symbols-outlined default-bank-account">
        {{ getDefaultAccountImage(account) }}
      </span>
      }

      <span class="name">
        <b>{{ account.name }}</b>

        @if (account.primaryAccountId) {
        <span class="sub-account-info">subconta</span>
        }
      </span>
    </div>

    <div class="amount">
      {{
        currency +
          (showValues()
            ? (getAccountBalance(account) | customCurrency)
            : hideValue)
      }}
    </div>

    <div class="navigate-icon">
      <span class="material-symbols-outlined">navigate_next</span>
    </div>
  </div>

  @if (showSubAccounts(account)) {
  <app-sub-accounts
    [primaryAccount]="account"
    [subAccounts]="account.subAccounts || []"
    [showValues]="showValues()"
    [isLastPrimaryAccount]="isLastItem($index)"
    (reloadList)="reloadList.emit($event)"
    [ngStyle]="{
      display: isExpanded(account) ? 'flex' : 'none'
    }"
  ></app-sub-accounts>
  }
  <!---->
  } @empty {
  <div class="empty">
    <span style="font-size: 1.5rem; margin-bottom: 4rem">
      {{ "my-accounts.no-accounts" | translate }}
      {{
        (situationFilterValue() ? "generic.active" : "generic.inactive")
          | translate
          | lowercase
      }}
    </span>
  </div>
  }
</div>
