<div
  [ngClass]="{
    'confirm-dialog': true,
    'dark-page': utils.getUserConfigs.theme === 'dark'
  }"
>
  <div class="title">
    <h3>{{ "confirm-dialog.title" | translate }}</h3>
  </div>

  <div class="content">
    <p>{{ data.message | translate }}</p>
  </div>

  <div class="buttons">
    <button mat-button mat-dialog-close>
      <h3>{{ "confirm-dialog.cancel" | translate }}</h3>
    </button>

    <button mat-flat-button color="primary" [mat-dialog-close]="true">
      <h3>{{ "confirm-dialog.confirm" | translate }}</h3>
    </button>
  </div>
</div>
