<div class="simple-page login">
  <div class="login-box">
    <div class="top">
      <img
        [ngSrc]="cloudFireCdnImgsLink + 'money-coin.svg'"
        width="50"
        height="50"
      />

      <h1>FINAX</h1>
    </div>

    <div class="content">
      <h1>Sistema fora do ar</h1>

      <h3>
        Estamos trabalhando para corrigir um problema em nosso sistema e em
        breve voltaremos a operar normalmente, obrigado pela compreensão
      </h3>
    </div>

    <div class="footer">
      <span>Previsão de retorno:</span>
      <span>{{ expectedReturnDate | date : "dd/MM/yyyy HH" }}h</span>
    </div>
  </div>

  <span class="opt-login-page">
    <span routerLink="/">voltar a tela inicial</span>
  </span>
</div>
