@import '../colors.scss';

.simple-page {
    .login-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        .top {
            display: flex !important;
            flex-direction: row !important;
            gap: 1.3rem;
            height: auto !important;
            padding: 1rem 0;

            h1 {
                color: $primary-font-color;
                font-size: 2.8rem;
            }
        }

        .content {
            flex: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            text-align: center;

            h1 {
                margin-top: 7%;
            }

            h3 {
                margin-top: 15%;
            }
        }

        .footer {
            display: flex;
            flex-direction: column;
            margin-bottom: .5rem;
            text-align: center;
        }
    }

    .opt-login-page {
        color: $primary-font-color;
        cursor: pointer;
    }
}