@import '../../../../../utils/colors.scss';

// @media screen and (min-width: 1750px) and (min-height: 800px) {
//     .release-details {
//         width: 98.5vw !important;
//     }
// }

.release-details {
    width: 45vw;
    overflow-y: hidden !important;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin-bottom: 2.5rem;
    background-color: #fff;

    .content {
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .row1 {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0 1.6rem 0 1rem;
            border-radius: 1px solid black;

            .material-symbols-outlined {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                color: #fff;
                border-radius: 50%;
            }

            .principal {
                display: flex;
                flex-direction: column;

                .transfer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: .8rem;

                    .material-symbols-outlined {
                        color: #333333;
                        padding: 0.3rem !important;
                    }
                }
            }

            .amount {
                margin-left: auto;
                display: flex;
                flex-direction: row;
                justify-content: end;
                gap: 1.5rem;

                .material-symbols-outlined {
                    color: #333333;
                    padding: 0.3rem !important;
                }

                .done {
                    color: green;
                }
            }

            .margin-top {
                position: relative;
                top: 2rem;
            }
        }

        .row2 {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0 5rem 1rem 1rem;

            .observation {
                display: flex;
                flex-direction: column;
                position: relative;
                top: 2rem;

            }

            .date {
                margin-left: auto;
                display: flex;
                flex-direction: column;
                align-items: end;
            }
        }

        .row3 {
            margin-top: 4rem;
            display: flex;
            justify-content: end;
            gap: 2rem;

            button {
                padding: 1.6rem;

                .btn-content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: .8rem;

                    .material-symbols-outlined {
                        padding: 0 !important;
                    }
                }
            }

            .delete {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .btn-content {
                    color: red;
                }

                .delete-confirmation {
                    display: flex;
                    justify-content: space-around;

                    button {
                        padding: .1rem !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                mat-spinner {
                    margin: 0 2.5rem !important;
                }
            }
        }
    }
}

.dark-page {
    .release-details {
        background-color: $dark-card-bg !important;
    }

    .content {
        .btn-content {
            color: #fff !important;
        }
    }
}