@switch (btnType()) {
<!---->
@case (getBtnStyle('basic')) {
<button
  mat-button
  [disabled]="disabled() || loading()"
  [ngStyle]="btnStyle()"
  (click)="onClick.emit()"
>
  @if (loading()) {
  <mat-spinner [diameter]="30"></mat-spinner>
  } @else {
  <btn-content
    [label]="label()"
    [icon]="icon()"
    [contentStyle]="contentStyle()"
  ></btn-content>
  }
</button>
}<!---->
@case (getBtnStyle('raised')) {
<button
  mat-raised-button
  [disabled]="disabled() || loading()"
  [ngStyle]="btnStyle()"
  (click)="onClick.emit()"
>
  @if (loading()) {
  <mat-spinner [diameter]="30"></mat-spinner>
  } @else {
  <btn-content
    [label]="label()"
    [icon]="icon()"
    [contentStyle]="contentStyle()"
  ></btn-content>
  }
</button>
}<!---->
@case (getBtnStyle('stroked')) {
<button
  mat-stroked-button
  [disabled]="disabled() || loading()"
  [ngStyle]="btnStyle()"
  (click)="onClick.emit()"
>
  @if (loading()) {
  <mat-spinner [diameter]="30"></mat-spinner>
  } @else {
  <btn-content
    [label]="label()"
    [icon]="icon()"
    [contentStyle]="contentStyle()"
  ></btn-content>
  }
</button>
}<!---->
@case (getBtnStyle('flat')) {
<button
  mat-flat-button
  [disabled]="disabled() || loading()"
  [ngStyle]="btnStyle()"
  (click)="onClick.emit()"
>
  @if (loading()) {
  <mat-spinner [diameter]="30"></mat-spinner>
  } @else {
  <btn-content
    [label]="label()"
    [icon]="icon()"
    [contentStyle]="contentStyle()"
  ></btn-content>
  }
</button>
}<!---->
@case (getBtnStyle('icon')) {
<button
  mat-icon-button
  [disabled]="disabled() || loading()"
  [ngStyle]="getIconBtnStyle"
  (click)="onClick.emit()"
>
  @if (loading()) {
  <mat-spinner [diameter]="30"></mat-spinner>
  } @else {
  <btn-content
    label=""
    [icon]="icon()"
    [contentStyle]="contentStyle()"
  ></btn-content>
  }
</button>
}<!---->
@case (getBtnStyle('fab')) {
<button
  mat-fab
  [disabled]="disabled() || loading()"
  [ngStyle]="btnStyle()"
  (click)="onClick.emit()"
>
  @if (loading()) {
  <mat-spinner [diameter]="30"></mat-spinner>
  } @else {
  <btn-content
    label=""
    [icon]="icon()"
    [contentStyle]="contentStyle()"
  ></btn-content>
  }
</button>
}<!---->
@case (getBtnStyle('mini-fab')) {
<button
  mat-mini-fab
  [disabled]="disabled() || loading()"
  [ngStyle]="btnStyle()"
  (click)="onClick.emit()"
>
  @if (loading()) {
  <mat-spinner [diameter]="30"></mat-spinner>
  } @else {
  <btn-content
    label=""
    [icon]="icon()"
    [contentStyle]="contentStyle()"
  ></btn-content>
  }
</button>
}<!---->
@case (getBtnStyle('extended-fab')) {
<button
  mat-fab
  extended
  [disabled]="disabled() || loading()"
  [ngStyle]="btnStyle()"
  (click)="onClick.emit()"
>
  @if (loading()) {
  <mat-spinner [diameter]="30"></mat-spinner>
  } @else {
  <btn-content
    [label]="label()"
    [icon]="icon()"
    [contentStyle]="contentStyle()"
  ></btn-content>
  }
</button>
}<!---->
}
