<mat-card class="home-widget">
  <mat-card-header>
    <mat-card-title>
      <h3 class="card-title">
        {{ "home.spend-by-category" | translate }}
      </h3>

      <span id="period">
        {{ firstDt() | date : "dd/MM/yyyy" }} -
        {{ lastDt() | date : "dd/MM/yyyy" }}
      </span>
    </mat-card-title>

    <span class="date-interval">
      <mat-form-field>
        <mat-label>
          {{ "home.date-interval" | translate }}
        </mat-label>

        <mat-select
          [formControl]="dateInterval"
          (valueChange)="onChangeDateInterval($event)"
        >
          <mat-option [value]="getIntervalEnum('LAST_30_DAYS')">
            {{ "home.last-30-days" | translate }}
          </mat-option>

          <mat-option [value]="getIntervalEnum('CURRENT_MONTH')">
            {{ "home.current-month" | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
  </mat-card-header>

  @defer (when finishedFetch()) {
  <mat-card-content
    [ngStyle]="{
      'flex-direction': hasMoreThenFourCategories ? 'column' : 'row'
    }"
  >
    @if (errorFetching()) {
    <div class="empty">
      <span>{{ "home.error-getting-expenses-by-category" | translate }}</span>
    </div>
    } @else {
    <!---->
    @if (spendsByCategory().length > 0) {
    <div
      class="left"
      [ngStyle]="{
        width: hasMoreThenFourCategories ? '100%' : '55%',
        padding: hasMoreThenFourCategories ? '.5rem 1.5rem' : '1rem 0 0 1.4rem'
      }"
    >
      @for (item of spendsByCategory(); track $index) {
      <div
        class="category"
        [matTooltip]="currency() + (item.value | customCurrency)"
        matTooltipPosition="below"
        matTooltipShowDelay="200"
      >
        <span
          class="material-symbols-outlined"
          [ngStyle]="{ 'background-color': item.category.color }"
        >
          {{ item.category.icon }}
        </span>

        <span id="category-name">{{ item.category.name }}</span>

        <span id="percent">{{ item.percent }}%</span>
      </div>

      @if (isntLastItem($index)) {
      <mat-divider></mat-divider>
      } }
    </div>

    <div
      class="right"
      [ngStyle]="{
        'margin-top': hasMoreThenFourCategories ? '1rem' : '0'
      }"
    >
      <p-chart
        id="chart"
        type="pie"
        [data]="data"
        [options]="options"
      ></p-chart>
    </div>
    } @else {
    <div class="empty">
      <span>{{ "home.no-expense-in-selected-interval" | translate }}</span>
    </div>
    } }
  </mat-card-content>
  }
</mat-card>
