<mat-card class="home-widget">
  <mat-card-header>
    <mat-card-title>
      <h3>
        {{ "home.spend-by-category" | translate }}
      </h3>

      <span id="period">
        {{ firstDt | date : "dd/MM/yyyy" }} -
        {{ lastDt | date : "dd/MM/yyyy" }}
      </span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content
    [ngStyle]="{
      'flex-direction': hasMoreThenFourCategories ? 'column' : 'row'
    }"
  >
    @if (spendsByCategory().length > 0) {
    <div
      class="left"
      [ngStyle]="{
        width: hasMoreThenFourCategories ? '100%' : '55%',
        padding: hasMoreThenFourCategories ? '.5rem 1.5rem' : '1rem 0 0 1.4rem'
      }"
    >
      @for (item of spendsByCategory(); track $index) {
      <div
        class="category"
        [matTooltip]="currency() + (item.value | customCurrency)"
        matTooltipPosition="below"
        matTooltipShowDelay="200"
      >
        <span
          class="material-symbols-outlined"
          [ngStyle]="{ 'background-color': item.category.color }"
        >
          {{ item.category.icon }}
        </span>

        <span id="category-name">{{ item.category.name }}</span>

        <span id="percent">{{ item.percent }}%</span>
      </div>

      @if (isntLastItem($index)) {
      <mat-divider></mat-divider>
      } }
    </div>

    <div
      class="right"
      [ngStyle]="{
        'margin-top': hasMoreThenFourCategories ? '1rem' : '0'
      }"
    >
      <p-chart
        id="chart"
        type="pie"
        [data]="data"
        [options]="options"
      ></p-chart>
    </div>
    } @else {
    <div class="empty">
      @defer (on timer(150ms)) {
      <span>{{ "home.no-expense-current-month" | translate }}</span>
      }
    </div>
    }
  </mat-card-content>
</mat-card>
