<mat-card class="home-widget">
  <mat-card-header>
    <mat-card-title>
      <h3 class="card-title">
        {{ "home.accounts-receivable" | translate }}
      </h3>
    </mat-card-title>
  </mat-card-header>

  @defer (when finishedFetch()) {
  <mat-card-content>
    @if (errorFetching()) {
    <div class="empty">
      <span>
        {{ "home.error-getting-payable-and-receivable-accounts" | translate }}
      </span>
    </div>
    } @else {
    <!---->
    @for (release of releasesList(); track $index) {
    <app-home-upcoming-release-item
      [release]="release"
      [currency]="currency()"
    ></app-home-upcoming-release-item>

    @if (isntLastItem($index)) {
    <mat-divider></mat-divider>
    }
    <!---->
    } @empty {
    <div class="empty">
      <span>
        {{ "home.whitout-receivable-accounts" | translate }}
      </span>
    </div>
    } }
  </mat-card-content>
  }
</mat-card>
