.simple-page {
    display: flex;
    flex-direction: column;

    .content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .card {
            width: 74%;
            height: fit-content;
            padding: 1.5rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;

            .card-header {
                display: flex;
                justify-content: space-between;
                margin-bottom: .8rem;
            }
        }
    }
}