<div
  [ngClass]="{
    'dark-page': darkThemeEnabled
  }"
  class="simple-page"
>
  <h1 class="page-title">
    {{ "my-accounts.title" | translate }}
  </h1>

  <div class="content">
    <mat-card class="account-card">
      <div class="card-header">
        <app-buttons
          appBackButton
          [showGoBack]="true"
          [btnStyle]="{ transform: 'scale(1.2)' }"
          [contentStyle]="{ transform: 'scale(0.9)' }"
        ></app-buttons>

        <app-buttons
          [showSave]="true"
          [disableSave]="accountForm.pristine || saving()"
          [showLoading]="saving()"
          (onSave)="save()"
        ></app-buttons>
      </div>

      <app-accounts-form
        [accountForm]="accountForm"
        [accountId]="accountId"
      ></app-accounts-form>
    </mat-card>
  </div>
</div>
