@media (min-width: 1600px) and (min-height: 800px) {
    .new-release-cash-flow-dialog {
        width: 48vw !important;
    }
}

.new-release-cash-flow-dialog {
    width: 55vw;
    padding: .6rem;
    overflow: hidden;

    .top {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        .save-btn {
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
            padding: 1.3rem 1.3rem;

            .save-btn-content {
                display: flex;
                gap: .5rem;
                align-items: center;
            }
        }

        .close-btn {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }

    .content {
        display: flex;
        flex-direction: column;

        .form-buttons {
            display: flex;
            flex: 1;

            .buttons {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 0 1rem 1rem 0;

                .bottom-btn {
                    margin-top: 1.8rem;
                    padding: 1.3rem;
                    border: 2px solid #d1d1d1;
                    color: #acacac;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }

        .extras {
            width: 100%;
            display: flex;
            margin-top: .7rem;
            margin-bottom: 1.5rem;

            .file-obs {
                display: flex;
                flex-direction: column;
                align-items: center;

                .selected-file {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .file-content {
                        width: 90%;
                        padding: 0 1.3rem;

                        .file {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .remove-file-btn {
                                transform: scale(0.8);
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                &:hover {
                                    border: 1px solid red;
                                    color: red;
                                }
                            }
                        }
                    }
                }

                mat-divider {
                    width: 90%;
                    margin-top: 0.25rem;
                    margin-bottom: 1rem;
                }

                .observation {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: .8rem;
                }
            }

            .repeat {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .8rem;

                .fixed-release,
                .installments-release {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }
            }
        }
    }
}