<div
  class="release-details"
  [ngClass]="{ 'dark-page': utils.getUserConfigs.theme === 'dark' }"
>
  <div class="content">
    <div class="row1">
      <span
        class="material-symbols-outlined"
        [ngClass]="{ 'margin-top': !release.observation }"
        [ngStyle]="{ 'background-color': release.categoryColor || '#AFAFAF' }"
      >
        @if (release.isBalanceAdjustment) { edit }
        <!--  -->
        @else {
        {{ release.categoryIcon || "list" }}
        }
      </span>

      <div class="principal" [ngClass]="{ 'margin-top': !release.observation }">
        @if (release.type !== 'T') {
        <h2>
          @if (release.isBalanceAdjustment) {
          {{ "cash-flow.balance-adjustment" | translate }}
          } @else {
          {{ release.description || release.categoryName }}

          @if (!release.description && !release.categoryName) {
          {{ "cash-flow.others" | translate }}
          } }
        </h2>

        <span>
          {{ release.accountName }}
        </span>
        } @else {
        <h2>
          {{
            release.description
              ? release.description
              : ("cash-flow.transfer" | translate)
          }}
        </h2>

        <span class="transfer">
          {{ release.accountName }}
          <span class="material-symbols-outlined">arrow_right_alt</span>
          {{ release.targetAccountName }}
        </span>
        }
      </div>

      <div class="amount">
        <h2>
          {{ release.type === "E" ? "-" : "" }}{{ currency
          }}{{ release.amount | customCurrency }}
        </h2>

        @if (release.done) {
        <span class="material-symbols-outlined done"> thumb_up </span>
        } @else {
        <span class="material-symbols-outlined pending"> thumb_down </span>
        }
      </div>
    </div>

    <div class="row2">
      @if (release.observation) {
      <div class="observation">
        <span>{{ "generic.observation" | translate }}:</span>

        <span>
          {{ release.observation }}
        </span>
      </div>
      }

      <div
        class="date"
        [ngClass]="{
          up: release.observation && release.observation.length > 40
        }"
      >
        <span>
          {{ release.date | date : "dd/MM/yyyy" }}
        </span>

        <span>
          {{ release.time }}
        </span>
      </div>
    </div>

    <div class="row3">
      <app-buttons
        [showDownload]="release.attachmentName !== null"
        [showEdit]="release.type !== 'I'"
        [showDelete]="release.type !== 'I'"
        [disableEdit]="release.isBalanceAdjustment"
        [disableDelete]="release.isBalanceAdjustment"
        [showGeneric]="release.type === 'I'"
        [genericIcon]="'sort'"
        [genericLabel]="'credit-cards.see-invoice' | translate"
        [btnStyle]="{
          padding: '1.9rem',
          color: release.isBalanceAdjustment ? 'green !important' : ''
        }"
        [contentStyle]="{
          color: release.isBalanceAdjustment ? 'green !important' : ''
        }"
        (onDownload)="downloadAttachment()"
        (onEdit)="edit()"
        (onDelete)="delete()"
        (onGeneric)="seeInvoice()"
      ></app-buttons>
    </div>
  </div>
</div>
