<div
  [ngClass]="{
    'simple-page': true,
    'dark-page': utilsService.getUserConfigs.theme === 'dark'
  }"
>
  <div class="content">
    <mat-card class="card releases-card">
      <header>
        <div class="first-row">
          <div class="left">
            <div class="title">
              <h1>
                {{ "card-invoice.title" | translate }}
              </h1>

              <div class="card">
                @if (creditCard?.image) {
                <img
                  [ngSrc]="'assets/banks/' + creditCard!.image"
                  width="40"
                  height="40"
                  alt="credit card logo"
                />
                }

                <span>{{ creditCard?.name }}</span>
              </div>
            </div>

            <button mat-icon-button id="add-btn" (click)="addRelease()">
              <span class="material-symbols-outlined">add</span>
            </button>
          </div>

          <div class="right">
            <!-- <app-buttons
              [mat-menu-trigger-for]="menu"
              [showGeneric]="true"
              [genericIcon]="'filter_alt'"
              [genericLabel]="language === 'pt-br' ? 'Filtrar' : 'Filter'"
            ></app-buttons>

            <mat-menu #menu="matMenu" class="filter-menu">
              <form [formGroup]="filterForm" class="filter-form">
                <mat-form-field>
                  <mat-label>
                    {{ language === "pt-br" ? "Conta" : "Account" }}
                  </mat-label>
                  <mat-select formControlName="account">
                    <mat-option></mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </mat-menu> -->
          </div>
        </div>

        <div class="second-row">
          <button
            mat-icon-button
            (click)="selectMonth('before')"
            [disabled]="searching"
          >
            <span class="material-symbols-outlined">chevron_left</span>
          </button>

          <div class="tab">
            {{ getSelectedMonth }}
            {{ getSelectedYear }}
          </div>

          <button
            mat-icon-button
            (click)="selectMonth('next')"
            [disabled]="searching"
          >
            <span class="material-symbols-outlined">navigate_next</span>
          </button>
        </div>
      </header>

      <div class="releases-list">
        @for (item of releases; track item.id) {
        <div class="release">
          <div class="category">
            <span
              class="material-symbols-outlined"
              [ngStyle]="{
                'background-color': item.categoryColor || '#AFAFAF'
              }"
            >
              {{ item.categoryIcon || "list" }}
            </span>
          </div>

          <div class="description">
            <h3>
              {{ item.description || item.categoryName }}
            </h3>
          </div>

          <div class="account">
            <span>{{ item.accountName }}</span>
          </div>

          <div class="date">
            <span>{{ item.date | date : "dd/MM/yyyy" }}</span>
            <span>{{ item.time }}</span>
          </div>

          <div class="amount">
            @if (item.type === 'E') {
            <span>-</span>
            } @else if (item.type === 'R') {
            <span>+</span>
            }
            <span> {{ item.amount | customCurrency }}</span>
          </div>

          <div class="situation">
            @if (item.done) {
            <span class="material-symbols-outlined done"> thumb_up </span>
            } @else {
            <span class="material-symbols-outlined pending"> thumb_down </span>
            }
          </div>
        </div>
        }
      </div>

      <div class="totals">
        <div class="item">
          <span>{{ "card-invoice.closing" | translate }}:</span>

          <span class="value">
            {{ getDateInfo("closing") }}
          </span>
        </div>

        <div class="item">
          <span>{{ "card-invoice.expiration" | translate }}:</span>

          <span class="value">
            {{ getDateInfo("expiration") }}
          </span>
        </div>

        <div class="item">
          <span>{{ "card-invoice.invoice-amount" | translate }}:</span>

          <span class="value" style="font-weight: bold">
            {{ currency }}{{ 0 | customCurrency }}
          </span>
        </div>
      </div>
    </mat-card>
  </div>
</div>
