<div
  [ngClass]="{
    'simple-page': true,
    'dark-page': utilsService.getUserConfigs.theme === 'dark'
  }"
>
  <div class="content">
    <mat-card class="card releases-card">
      <header>
        <div class="first-row">
          <div class="left">
            <div class="title">
              <h1>
                {{ "card-invoice.title" | translate }}
              </h1>

              <div class="card">
                @if (creditCard()?.image) {
                <img
                  [ngSrc]="'assets/banks/' + creditCard()!.image"
                  width="40"
                  height="40"
                  alt="credit card logo"
                />
                }

                <span>{{ creditCard()?.name }}</span>
              </div>
            </div>

            <button mat-icon-button id="add-btn" (click)="addRelease()">
              <span class="material-symbols-outlined">add</span>
            </button>
          </div>

          <div class="right"></div>
        </div>

        <div class="second-row">
          <button
            mat-icon-button
            (click)="selectMonth('before')"
            [disabled]="searching()"
          >
            <span class="material-symbols-outlined">chevron_left</span>
          </button>

          <div class="tab">
            {{ getSelectedMonth }}
            {{ getSelectedYear }}
          </div>

          <button
            mat-icon-button
            (click)="selectMonth('next')"
            [disabled]="searching()"
          >
            <span class="material-symbols-outlined">navigate_next</span>
          </button>
        </div>
      </header>

      <app-releases-list
        [releases]="releases"
        [accounts]="accounts"
        [categories]="categories"
        [creditCards]="creditCards"
        [selectedDate]="selectedDate"
        (updateList)="getInvoiceAndReleases()"
        id="releases-list"
      ></app-releases-list>

      <div class="totals">
        <div class="item">
          <span>{{ "card-invoice.closing" | translate }}:</span>

          <span class="value">
            {{ getDateInfo("closing") }}
          </span>
        </div>

        <div class="item">
          <span>{{ "card-invoice.expiration" | translate }}:</span>

          <span class="value">
            {{ getDateInfo("expiration") }}
          </span>
        </div>

        <div class="item">
          <span>{{ "card-invoice.invoice-amount" | translate }}:</span>

          <span class="value" style="font-weight: bold">
            {{ currency }}{{ 0 | customCurrency }}
          </span>
        </div>
      </div>
    </mat-card>
  </div>
</div>
