@import 'colors.scss';

@media (min-width: 1650px) and (min-height: 800px) {
    .second-row {
        #img-div {
            margin-left: 4rem !important;
        }
    }
}

.simple-page {
    display: flex;
    flex-direction: column;

    .content {
        flex: 1;
        display: grid;
        place-items: center;

        .card {
            width: 74%;
            padding: 1.5rem;
            background-color: #fefefe;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .card-header {
                display: flex;
                justify-content: space-between;
                margin-bottom: .8rem;
            }

            .first-row,
            .second-row {
                display: flex;
                width: 100%;
                gap: 1.5rem;
                padding: 0 2rem;
            }

            .first-row {
                align-items: center;
                position: relative;
                bottom: 1rem;

                #img-div {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: .2rem;
                    margin-left: 1rem;

                    .material-symbols-outlined {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        box-shadow: 0 0 2px #5d5d5d;
                        cursor: pointer;
                    }

                    img {
                        border-radius: 50%;
                        box-shadow: 0 0 2px #5d5d5d;
                        cursor: pointer;
                    }

                    #text {
                        cursor: pointer;
                        text-align: center;
                    }
                }
            }

            .second-row {
                margin-bottom: 2rem;

                .selected-account {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    img {
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.dark-page {
    .content {
        .card {
            .second-row {
                .selected-account {
                    color: $dark-font-color;
                }
            }
        }
    }
}