<div
  [ngClass]="{
    'change-password-dialog': true,
    'dark-page': utilsService.userConfigs.getValue().theme === 'dark'
  }"
  style="display: flex; flex-direction: column"
>
  <h1 mat-dialog-title style="font-size: 1.5rem">
    {{ language === "pt-br" ? "Alteração de senha" : "Password change" }}
  </h1>

  <form [formGroup]="changePasswordForm" class="content">
    <mat-form-field [hideRequiredMarker]="true">
      <mat-label>
        {{ language === "pt-br" ? "Senha atual" : "Current password" }}
      </mat-label>
      <input type="password" matInput formControlName="currentPassword" />
    </mat-form-field>

    <mat-form-field [hideRequiredMarker]="true">
      <mat-label>
        {{ language === "pt-br" ? "Nova senha" : "New password" }}
      </mat-label>
      <input type="password" matInput formControlName="newPassword" />
    </mat-form-field>

    <mat-form-field [hideRequiredMarker]="true">
      <mat-label>
        {{
          language === "pt-br"
            ? "Confirme a nova senha"
            : "Confirm new password"
        }}
      </mat-label>
      <input type="password" matInput formControlName="newPasswordConfirm" />
    </mat-form-field>
  </form>

  <div class="actions">
    @if (!loading) {
    <button
      mat-raised-button
      (click)="changePassword()"
      [disabled]="changePasswordForm.invalid"
      color="primary"
    >
      {{ language === "pt-br" ? "Confirmar" : "Confirm" }}
    </button>

    <button mat-button mat-dialog-close>
      {{ language === "pt-br" ? "Cancelar" : "Cancel" }}
    </button>
    } @else {
    <mat-spinner [diameter]="40" style="margin-right: 3rem"></mat-spinner>
    }
  </div>
</div>
