<div
  [ngClass]="{
    'simple-page': true,
    'dark-page': utilsService.getUserConfigs.theme === 'dark'
  }"
>
  <h1 class="page-title">
    {{ language === "pt-br" ? "Meu perfil" : "My profile" }}
  </h1>

  <div class="img-content">
    <img [src]="profileImageSrc" alt="foto de perfil do usuário" />

    <input
      type="file"
      id="fileInput"
      (change)="onFileSelected($event)"
      style="display: none"
      accept="image/*"
    />

    <label for="fileInput">
      {{
        language === "pt-br"
          ? "Alterar foto de perfil"
          : "Change profile picture"
      }}
    </label>
  </div>

  <div class="content">
    <div class="form-box">
      <form [formGroup]="userForm">
        <mat-form-field style="width: 80%" [hideRequiredMarker]="true">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email" readonly="true" />
        </mat-form-field>

        <mat-form-field style="width: 80%" [hideRequiredMarker]="true">
          <mat-label>
            {{ language === "pt-br" ? "Nome" : "First name" }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="firstName"
            maxlength="30"
          />
        </mat-form-field>

        <mat-form-field style="width: 80%">
          <mat-label>
            {{ language === "pt-br" ? "Sobrenome" : "Last name" }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="lastName"
            maxlength="90"
          />
        </mat-form-field>
      </form>

      <div class="buttons">
        <app-buttons
          [showSave]="true"
          [showChangePassword]="true"
          [disableSave]="
            (userForm.pristine && !changedProfileImg) ||
            userForm.invalid ||
            saving
          "
          [showSaveLoading]="saving"
          (onSave)="saveUser()"
          (onChangePassword)="openChangePasswordDialog()"
        ></app-buttons>
      </div>
    </div>

    <div id="plan-box">
      <div id="plan">
        <div class="title">
          <h2>
            {{ language === "pt-br" ? "Acesso antecipado" : "Early Access" }}
          </h2>
        </div>

        <div class="content">
          <span id="month-year">
            {{ language === "pt-br" ? "Mensal" : "Monthly" }}
          </span>

          <span id="plan-price">{{ currency }}0,00</span>

          <!-- <span id="signature-expiration">
            {{ language === "pt-br" ? "Expira em" : "Expires on" }}:
            {{ signatureExpiration | date : "dd/MM/yyyy" }}
          </span> -->

          <span id="adm-plan">Congratulations, you're the boss!</span>
        </div>

        <div class="actions">
          <button mat-button class="change-plan" (click)="changePlan()">
            <span>
              <span class="material-symbols-outlined">
                swap_horizontal_circle
              </span>
              {{ language === "pt-br" ? "Trocar de plano" : "Switch plan" }}
            </span>
          </button>

          <span id="cancel-signature">
            <span>{{ language === "pt-br" ? "Cancelar" : "Cancel" }}</span>
          </span>
        </div>
      </div>

      <button mat-button color="primary" id="change-payment-method">
        <span>
          <span class="material-symbols-outlined">credit_card</span>
          {{
            language === "pt-br"
              ? "Alterar forma de pagamento"
              : "Change payment method"
          }}
        </span>
      </button>
    </div>
  </div>
</div>
