.login {
    .login-box {
        height: 440px;

        .top {
            height: 32%;
            gap: .6rem;
        }

        .bottom {
            app-buttons {
                width: 65%;
                position: relative;
                bottom: .7rem;
                // border-radius: 3rem;
                // padding: 1.5rem 2rem;
            }
        }
    }
}