.login {
  .login-box {
    height: 440px;

    .top {
      height: 32%;
      gap: 0.6rem;
    }

    .bottom {
      app-buttons {
        width: 65%;
        position: relative;
        bottom: 0.7rem;
      }
    }
  }
}
