<div class="simple-page policy-page" [class.dark-page]="darkThemeEnabled">
  <div class="logo">
    <img
      [ngSrc]="cloudFireCdnImgsLink + 'money-coin.svg'"
      width="45"
      height="45"
      alt="company logo"
    />

    <h1>Finax</h1>
  </div>

  <div class="policy">
    <div class="title">
      <h2>Termos de uso</h2>

      <span>Sem contratos, sem compromisso</span>
    </div>

    <div class="content">
      <h3 class="sub-title">TERMOS E CONDIÇÕES GERAIS DE USO - FINAX</h3>

      <p>
        Estes Termos e Condições Gerais de Uso (daqui em diante referidos apenas
        como "Termos") se aplicam à utilização da Plataforma "Finax", por você,
        "Usuário", através da contratação por assinatura de um dos nossos planos
        disponíveis no Site.
      </p>

      <p>
        A Plataforma “Finax”, de legítima e exclusiva propriedade de Gabriel
        Hawerroth - CPF 131.244.309-05, tem como objetivo servir como ferramenta
        para gestão financeira e responsabiliza você, Usuário, ao cumprimento
        destes Termos e Condições Gerais de Uso.
      </p>

      <p>
        Os Termos e Condições Gerais de Uso são inteiramente publicizados, desta
        forma, não será considerado que seja alegado desconhecimento das regras
        e obrigações aqui estabelecidas.
      </p>

      <p style="font-size: 1.05rem">
        <b>
          AO UTILIZAR A PLATAFORMA VOCÊ AUTOMATICAMENTE CONCORDA COM ESTES
          TERMOS E CONDIÇÕES GERAIS DE USO, QUE POSSUI NATUREZA JURÍDICA DE UM
          CONTRATO DE ADESÃO, RESPONSABILIZANDO-SE INTEGRALMENTE POR TODOS E
          QUAISQUER ATOS PRATICADOS. CASO VOCÊ NÃO CONCORDE COM QUALQUER DOS
          TERMOS E CONDIÇÕES ABAIXO ESTABELECIDOS, VOCÊ NÃO DEVE UTILIZAR A
          PLATAFORMA.
        </b>
      </p>

      <p>
        Este documento poderá ser periodicamente alterado, conforme a
        necessidade, para que se mantenha atualizado. Manteremos a versão
        atualizada destes termos de uso no endereço
        https://Finax.com.br/termos-de-uso e o mesmo pode ser consultado a
        qualquer momento, sendo que poderemos alterar este documento no site,
        somente visando aprimorar e melhorar os serviços prestados, no todo ou
        parcialmente, caso seja necessário, independente de prévio aviso. Para
        seu controle, você poderá ser notificado por uma mensagem via e-mail ou
        por outro meio de comunicação. Sempre mostramos a data da última versão
        no final deste documento. Ao continuar usando os serviços após as
        alterações, você estará concordando com os termos alterados. Se não
        concordar com as alterações, você deverá interromper o uso dos serviços
        e cancelá-los, seguindo as instruções do item "Cancelamentos e
        Reembolsos".
      </p>

      <mat-divider></mat-divider>

      <h3 class="sub-title">1. DEFINIÇÕES IMPORTANTES:</h3>

      <p>
        1.1 Sistema/plataforma/aplicativo "Finax": programa de
        computador/software, composto por um conjunto de módulos específicos,
        desenvolvido e de propriedade intelectual legítima e exclusiva da Finax
        Tecnologia Ltda, sendo seu uso passível de disponibilização na forma de
        prestação de serviços (SaaS).
      </p>

      <p>
        1.2 SaaS: Software as a Service: É o modelo de contratação (prestação de
        serviços) baseado na disponibilização do Sistema como serviço,
        utilizando infraestrutura/ambiente virtual oferecido pela Finax.
      </p>

      <p>
        1.3 Atualização das funções: é um dos itens que compõem a atualização do
        software, e se refere às funções do Sistema, ou seja, àquilo que o
        Sistema se propõe a atender, de acordo com as funcionalidades definidas
        pela Finax, independentemente de notificação prévia ao Usuário.
      </p>

      <p>
        1.4 Conteúdo: todo material, de propriedade intelectual exclusiva da
        Finax Tecnologia Ltda, eventualmente disponibilizado na plataforma.
      </p>

      <h3 class="sub-title">2. Conta Finax</h3>

      <p>
        2.1 Para acessar os serviços, você deverá criar uma conta em nossa
        plataforma (Web), fornecendo um endereço de e-mail válido e de sua
        propriedade, para validação do cadastro.
      </p>

      <p>
        2.2 Oferecemos suporte técnico para os serviços, através do nossos
        canais de comunicação. Prioritariamente nosso suporte é realizado via
        e-mail.
      </p>

      <p>
        2.3 Enviaremos e-mails que tenham relação com os serviços utilizados.
        Caso você não queira recebê-los, poderá cancelar seu envio, clicando na
        opção 'cancelar assinatura' dentro do próprio e-mail enviado por nós.
        Você conseguirá utilizar os serviços de forma adequada e ágil se estiver
        usando:
        <br />
        (i) Acesso a internet com velocidade maior que 1MB/s;
        <br />
        (ii) Para a versão web. PC Windows ou Mac e últimas versões dos
        browsers: Mozilla Firefox, Google Chrome ou Safari;
      </p>

      <h3 class="sub-title">3. Nossa responsabilidade</h3>

      <p>
        3.1 A Finax se reserva o direito de auxiliar e cooperar com qualquer
        autoridade judicial ou órgão governamental, podendo enviar informações
        cadastrais do Usuário quando for obrigada por decisão judicial ou por
        força de determinação legal.
      </p>

      <p>
        3.2 A Finax não se responsabiliza por:
        <br />
        a) Caso fortuito ou força maior, nos termos da legislação aplicável;
        <br />
        b) Inadimplência por parte dos Usuários;
        <br />
        c) Ações de terceiros que afetem a estabilidade da Plataforma;
        <br />
        d) Qualquer fraude, declaração fraudulenta ou violação do dever por
        parte de qualquer Usuário ou terceiro;
        <br />
        e) Qualquer comentário realizado na Plataforma, ou fora dela, de maneira
        ofensiva, ilícita, grosseira ou desrespeitosa por Usuários ou terceiros;
        <br />
        f) Qualquer inexatidão nas informações inseridas por Usuários.
      </p>

      <p>
        3.3 A Finax adota todas as medidas técnicas e organizativas para
        segurança das informações presentes em sua Plataforma. Nada obstante,
        nenhum sistema é absolutamente impenetrável, podendo, portanto, sofrer
        alguma espécie de invasão por hackers ou qualquer outro agente
        malicioso. Nessas hipóteses, não será a Finax responsável por qualquer
        exclusão, obtenção, utilização ou divulgação não autorizada de
        informações resultantes de ataques que ela não poderia razoavelmente
        impedir.
      </p>

      <p>
        3.4 Caso a Finax seja acionada judicialmente por atos atribuíveis aos
        Usuários, caberá a estes requerer a sua respectiva exclusão do polo
        passivo, sob pena do ajuizamento de ação de regresso.
      </p>

      <p>
        3.5 Todas as comunicações que consistam em avisos na Plataforma serão
        consideradas como efetivamente recebidas e compreendidas.
      </p>

      <p>
        3.6 É de inteira responsabilidade do Usuário manter o ambiente de seu
        dispositivo (computador, celular, tablet, entre outros) seguro, com o
        uso de ferramentas disponíveis, como antivírus, firewall, entre outras,
        de modo a contribuir na prevenção de riscos eletrônicos.
      </p>

      <p>
        3.7 É possível que a Plataforma possa conter links para sites e
        aplicativos de terceiros, assim como ter tecnologias integradas. Isso
        não implica, de maneira alguma, que a Finax endossa, verifica, garante
        ou possui qualquer ligação com os proprietários desses sites ou
        aplicativos, não sendo responsável pelo seu conteúdo, precisão,
        políticas, práticas ou opiniões. A Finax recomenda que você leia os
        Termos de Uso e Políticas de Privacidade de cada site de terceiros ou
        serviço que o usuário vier a visitar ou utilizar.
      </p>

      <p>
        3.8 Não podemos nos responsabilizar por danos causados a você pela
        utilização de nossos serviços, uma vez que apenas disponibilizamos uma
        ferramenta, e que o conteúdo por ela gerado é inserido por você.
      </p>

      <p>
        3.9 Nossos serviços não garantem resultados específicos, garantias de
        desempenho ou outra expectativa.
      </p>

      <h3 class="sub-title">4. Sua responsabilidade</h3>

      <p>
        4.1 O Usuário será o único responsável por seu login e senha e
        responderá por todos os atos praticados em sua conta de acesso.
        Portanto, é dever do Usuário zelar pela guarda e confidencialidade de
        sua senha. Caso o usuário deseje trocar sua senha, deverá seguir as
        orientações descritas na Plataforma.
      </p>

      <p>
        4.2 O Usuário compromete-se a comunicar a Finax imediatamente a respeito
        de qualquer uso não autorizado de sua conta, bem como em caso de acesso
        não autorizado por terceiros. O Usuário será o único responsável pelas
        operações efetuadas em sua conta, uma vez que o acesso só será possível
        mediante a inclusão da senha, que deverá ser de conhecimento e
        propriedade exclusiva do Usuário.
      </p>

      <p>
        4.3 O conteúdo por você postado é de sua responsabilidade, assim como
        todos os atos por você praticados.
      </p>

      <h3 class="sub-title">
        5. Suspensão ou cancelamento do acesso devido a uso inadequado
      </h3>

      <p>
        5.1 Sem prejuízo de outras medidas cabíveis, a Finax poderá advertir,
        suspender, ou cancelar temporária ou definitivamente, a conta de um
        Usuário, a qualquer tempo, iniciando as ações legais cabíveis e/ou
        suspendendo a funcionalidade da Plataforma em caso de:
        <br />
        a. Suspeita de ilegitimidade, ilegalidade e/ou fraude;
        <br />
        b. Impossibilidade em verificar a identidade do Usuário ou se qualquer
        informação fornecida por ele no cadastro estiver incorreta;
        <br />
        c. Descumprimento dos deveres de Usuário;
        <br />
        d. Prática de atos pelo Usuário que tenha causado algum dano a terceiros
        ou a própria Finax ou tenham a potencialidade de assim o fazer;
        <br />
        e. Violação ou descumprimento de qualquer dispositivo destes Termos e
        Condições Gerais de Uso, Política de Privacidade e demais políticas e
        legislações aplicáveis;
        <br />
        f. Não pagamento dos valores devidos a título de mensalidade para a
        licença de uso da Plataforma.
      </p>

      <p>
        5.2 Em qualquer hipótese de suspensão da conta do Usuário este não terá
        direito a qualquer indenização ou ressarcimento.
      </p>

      <h3 class="sub-title">
        6. Alcance dos Serviços e Propriedade Intelectual
      </h3>

      <p>
        6.1 Estes Termos não geram nenhum contrato de sociedade, de mandato, de
        franquia, relação de trabalho, parceria, ou congênere entre os Usuários
        e a Finax, servindo somente para reger a utilização da Plataforma.
      </p>

      <p>
        6.2 Não vale o presente instrumento, de nenhum modo, como meio válido
        para transmissão da propriedade intelectual referente à Plataforma ou a
        qualquer conteúdo disponível, permanecendo este, para todos os fins de
        Direito, como propriedade única e exclusiva da Finax.
      </p>

      <p>
        6.2.1 É vedado ao Usuário modificar, copiar, distribuir, transmitir,
        exibir, realizar, reproduzir, publicar, disponibilizar, licenciar ou
        criar obras derivadas a partir das informações coletadas na Plataforma,
        bem como transferir ou utilizar para fins comerciais tais informações,
        softwares, produtos ou serviços, sob pena de violação deste instrumento
        e caracterização de infração legal.
      </p>

      <p>
        6.2.2 Quaisquer marcas, registradas ou não, ou outros elementos que
        remetam à identidade visual da Finax são exclusivamente de sua
        propriedade, sendo sua violação punível nos termos da legislação
        aplicável, sem prejuízo do imediato impedimento e por tempo
        indeterminado de acesso à Plataforma, bem como das sanções de natureza
        cível e criminal.
      </p>

      <p>
        6.2.3 As funcionalidades e conteúdo disponibilizados na Plataforma são
        protegidos pelas Leis nº 9.609/1998 (Proteção de Softwares) e 9.610/1998
        (Direitos Autorais), bem como pelas demais disposições de propriedade
        intelectual aplicáveis no Brasil, sendo esta a única jurisdição
        aplicável em qualquer possível controvérsia que venha a surgir em
        relação a estes Termos e Condições Gerais de Uso.
      </p>

      <p>
        6.2.4 Todos os direitos relativos a Plataforma e suas funcionalidades
        são de propriedade exclusiva da Finax, inclusive no que diz respeito aos
        seus textos, imagens, layouts, software, códigos, bases de dados,
        gráficos, artigos, relatórios, fotografias e demais conteúdos produzidos
        direta ou indiretamente pela Finax.
      </p>

      <p>
        6.2.5 O Conteúdo da Plataforma é protegido pela lei de direitos autorais
        e de propriedade intelectual. É proibido usar, copiar, reproduzir,
        modificar, traduzir, publicar, transmitir, distribuir, executar, fazer o
        upload, exibir, licenciar, vender ou explorar e fazer engenharia reversa
        do Conteúdo da Plataforma, para qualquer finalidade, sem o consentimento
        prévio e expresso da Finax. Qualquer uso não autorizado do Conteúdo da
        Plataforma será considerado como violação dos direitos autorais e de
        propriedade intelectual da Finax.
      </p>

      <h3 class="sub-title">7. Problemas decorrentes do uso da plataforma</h3>

      <p>
        7.1 A Plataforma é disponibilizada aos Usuários no estado técnico em que
        se encontra. Dessa maneira, apesar dos inúmeros esforços para que a
        Plataforma seja livre de interrupções e qualquer defeitos, a Finax não
        garante que as funções contidas na Plataforma atendam às necessidade
        específicas do Usuário, tampouco garante que a operação da Plataforma
        será ininterrupta ou livre de erros, que qualquer serviço continuará
        disponível, nem que os defeitos da Plataforma serão corrigidos.
      </p>

      <h3 class="sub-title">8. Modificação dos termos de uso</h3>

      <p>
        8.1 Estes Termos de Uso e os documentos integrados por referência
        expressam o acordo total entre Usuários e a Finax em relação à
        utilização da Plataforma.
      </p>

      <p>
        8.2 Ocasionalmente, a Finax, a seu livre e exclusivo critério, poderá
        fazer alterações nestes Termos. Quando tais alterações forem realizadas,
        os Usuários serão avisados dentro da Plataforma e, caso não aceite os
        novos termos, a Finax poderá cessar o seu acesso.
      </p>

      <p>
        8.3 Caso qualquer das cláusulas destes Termos seja considerada inválida,
        as demais permanecerão hígidas e eficazes.
      </p>

      <h3 class="sub-title">9. Legislação e foro</h3>

      <p>
        9.1 Todos os itens destes Termos são regidos pelas leis vigentes na
        República Federativa do Brasil. Para todos os assuntos referentes à
        interpretação, ao cumprimento ou a qualquer outro questionamento
        relacionado a estes Termos, as partes concordam em se submeter ao Foro
        da Comarca de Blumenau/SC.
      </p>

      <h3 class="sub-title">10. Fale conosco</h3>

      <p>
        10.1 Sempre que necessário, para tratar de qualquer tema envolvendo o
        uso da Plataforma, ou caso haja qualquer espécie de dúvidas a respeito
        do conteúdo do presente Termo, por favor, entre em contato através do
        nosso e-mail:
        <a href="mailto:suporte@appfinax.com.br" style="color: inherit">
          suporte&#64;appfinax.com.br
        </a>
      </p>

      <p>
        10.2 Qualquer notificação ao Usuário, quando necessária, será feita por
        e-mail ou dentro da própria Plataforma.
      </p>

      <p>
        10.3 Ao utilizar a Plataforma, o Usuário declara que leu e entendeu
        todas as informações aqui constantes, aderindo a este instrumento para
        todos os fins e efeitos de direito.
      </p>
    </div>
  </div>

  <span class="last-update">Finax, Última atualização em 14/09/2024</span>

  <span class="link" routerLink="/politica-de-privacidade">
    Política de privacidade
  </span>

  <app-buttons
    id="home-button"
    routerLink="/"
    [showGeneric]="true"
    [genericStyle]="homeButtonStyle"
    genericIcon="home"
    [btnStyle]="{
      transform: 'scale(1.5)',
      'background-color': '#00c026',
    }"
    [contentStyle]="{
      transform: 'scale(0.9)',
      color: '#252525',
    }"
  ></app-buttons>
</div>
