@media screen and (max-width: 650px) {
  .release {
    padding-left: 1rem !important;

    .category {
      width: fit-content !important;
      margin-right: 1.5rem;
    }

    .description {
      h3 {
        gap: 0 !important;

        .material-symbols-rounded {
          transform: scale(0.7);
        }
      }
    }

    .date {
      width: 0 !important;
      display: none !important;
    }

    .amount {
      width: 27% !important;
      max-width: 27% !important;
      margin-right: 1.2rem !important;
    }

    .situation {
      width: fit-content !important;
    }
  }
}

.release {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
  border-radius: 5px;

  &:hover {
    background-color: #adffea25;
    cursor: pointer;
  }

  .category {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;

    .material-symbols-rounded {
      border-radius: 50%;
      padding: 0.5rem;
      color: #fff;
    }
  }

  .description {
    flex: 1;
    overflow-x: hidden;

    h3 {
      display: flex;
      align-items: center;
      gap: 0.7rem;
    }

    .description-sub-title {
      color: var(--secondary-gray);
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .material-symbols-rounded {
        transform: scale(0.7);
        color: var(--primary);
      }
    }
  }

  .account {
    width: 22%;
    display: flex;
    align-items: center;
    gap: 0.7rem;

    .material-symbols-rounded {
      color: var(--primary);
    }
  }

  .date {
    width: 13%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
  }

  .amount {
    width: 15%;
    max-width: 15%;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-end;
    padding-right: 1.2rem;
  }

  .situation {
    width: 6%;
    display: flex;
    justify-content: center;
  }
}
