<div class="public-section">
  <div class="card card-gradient fade-in-down-in-view">
    <div id="circle-bottom-right" class="float"></div>

    <div id="circle-top-left"></div>

    <div class="left">
      <div id="exclusive-offer" class="fade-in-left-in-view">
        <span class="material-symbols-rounded">
          featured_seasonal_and_gifts
        </span>
        <span>Oferta Exclusiva</span>
      </div>

      <h1>
        Acesso <span class="text-gradient">Premium Vitalício</span>
        Gratuito!
      </h1>

      <p>
        Seja um dos primeiros a transformar suas finanças com o Finax!
        Cadastre-se agora, durante nossa fase de desenvolvimento, e ganhe acesso
        Premium vitalício quando lançarmos oficialmente. Sem pegadinhas, apenas
        gratidão por sua confiança e feedback inicial.
      </p>

      <div class="features-list">
        <div>
          <span class="material-symbols-rounded">bolt</span>
          <span>Todos os recursos Premium para sempre.</span>
        </div>

        <div>
          <span class="material-symbols-rounded">schedule</span>
          <span>Oferta por tempo limitado – antes do lançamento oficial!</span>
        </div>

        <div>
          <span class="material-symbols-rounded">
            featured_seasonal_and_gifts
          </span>
          <span>Seu feedback moldará o futuro do Finax.</span>
        </div>
      </div>

      <button
        mat-fab
        extended
        id="btn-guarantee-access"
        routerLink="nova-conta"
      >
        <div class="btn-content">
          Garantir Meu Acesso Vitalício
          <span class="material-symbols-outlined">arrow_forward</span>
        </div>
      </button>
    </div>

    <div class="right grow">
      <span class="gift-icon material-symbols-rounded float">
        featured_seasonal_and_gifts
      </span>

      <div class="star-box">
        <span class="material-symbols-rounded">auto_awesome</span>
      </div>
    </div>
  </div>
</div>
