<mat-card class="home-widget">
  <mat-card-header>
    <mat-card-title>
      <h3 class="card-title">
        {{ "home.credit-cards" | translate }}
      </h3>
    </mat-card-title>
  </mat-card-header>

  @defer (when finishedFetch()) {
  <mat-card-content>
    @if (errorFetching()) {
    <div class="empty">
      <span>
        {{ "home.error-getting-credit-cards" | translate }}
      </span>
    </div>
    } @else {
    <!---->
    @for (card of cardsList(); track card.cardId) {
    <app-home-credit-card-item
      [card]="card"
      [currency]="currency()"
    ></app-home-credit-card-item>

    @if (isntLastItem($index)) {
    <mat-divider></mat-divider>
    }
    <!---->
    } @empty {
    <div class="empty">
      <span>
        {{ "home.empty-credit-cards-list" | translate }}
      </span>
    </div>
    } }
  </mat-card-content>
  }
</mat-card>
