<div class="public-section">
  <div class="content">
    <div class="left">
      <div class="title fade-in-left">
        <span>Controle suas</span>
        <span class="text-gradient">finanças com IA</span>
      </div>

      <p class="fade-in-left">
        A plataforma mais inteligente para gerenciar suas finanças pessoais.
        Conecte suas contas, acompanhe seus investimentos e receba insights
        personalizados.
      </p>

      <div class="call-action fade-in-left-slow">
        <button
          mat-fab
          extended
          routerLink="/nova-conta"
          class="button-gradient"
        >
          <div class="btn-content">
            Começar gratuitamente

            <span class="material-symbols-outlined">arrow_forward</span>
          </div>
        </button>

        <div class="checks">
          <div class="info">
            <span class="material-symbols-outlined">task_alt</span>
            Grátis para começar
          </div>

          <div class="info">
            <span class="material-symbols-outlined">task_alt</span>
            Sem cartão de crédito
          </div>
        </div>
      </div>
    </div>

    <div class="right fade-in-right">
      <div class="left-icon material-symbols-outlined floating-icons">
        finance_mode
      </div>

      <div class="card floating">
        <div class="title">
          <h1>Saldo total</h1>

          <span class="material-symbols-outlined">moving</span>
        </div>

        <div class="balance">
          <span id="amount">R$ 47.350</span>

          <span id="percentage"> +12,5% este mês </span>
        </div>

        <div id="revenue-expense">
          <div id="revenue">
            <h4>Receitas</h4>

            <span>R$ 8.500</span>
          </div>

          <div id="expense">
            <h4>Despesas</h4>

            <span>R$ 3.200</span>
          </div>
        </div>
      </div>

      <div class="right-icon material-symbols-outlined rotating">neurology</div>
    </div>
  </div>
</div>
