<div class="public-section">
  <div class="content">
    <div class="left">
      <h1 class="title">
        Controle suas
        <br />
        finanças com IA
      </h1>

      <p>
        A plataforma mais inteligente para gerenciar suas finanças pessoais.
        <br />
        Conecte suas contas, acompanhe seus investimentos e receba insights
        <br />
        personalizados.
      </p>

      <div class="call-action">
        <button mat-fab extended routerLink="/nova-conta">
          <div class="btn-content">
            Começar gratuitamente

            <span class="material-symbols-outlined">arrow_forward</span>
          </div>
        </button>

        <div class="checks">
          <div class="info">
            <span class="material-symbols-outlined">task_alt</span>
            Grátis para começar
          </div>

          <div class="info">
            <span class="material-symbols-outlined">task_alt</span>
            Sem cartão de crédito
          </div>
        </div>
      </div>
    </div>

    <div class="right" id="fs-img-container">
      <div class="left-icon material-symbols-outlined">finance_mode</div>

      <div class="card">
        <div class="title">
          <h1>Saldo total</h1>

          <span class="material-symbols-outlined">moving</span>
        </div>

        <div class="balance">
          <span id="amount">R$ 47.350</span>

          <span id="percentage"> +12,5% este mês </span>
        </div>

        <div id="revenue-expense">
          <div id="revenue">
            <h4>Receitas</h4>

            <span>R$ 8.500</span>
          </div>

          <div id="expense">
            <h4>Despesas</h4>

            <span>R$ 3.200</span>
          </div>
        </div>
      </div>

      <div class="right-icon material-symbols-outlined">finance</div>
    </div>
  </div>
</div>
