<div class="public-section">
  <div class="content">
    <div class="left">
      <h1 class="title">
        Controle suas
        <br />
        finanças com IA
      </h1>

      <p>
        A plataforma mais inteligente para gerenciar suas finanças pessoais.
        <br />
        Conecte suas contas, acompanhe seus investimentos e receba insights
        personalizados.
      </p>

      <div class="call-action">
        <span>Não tem uma conta ainda?</span>

        <button mat-flat-button color="primary" routerLink="/nova-conta">
          Comece já
        </button>
      </div>
    </div>

    <div class="right" id="fs-img-container">
      <img
        ngSrc="assets/imgs/icon.png"
        width="537"
        height="610"
        alt="fantasy image"
      />
    </div>
  </div>
</div>
