@media screen and (max-width: 650px) {
  .releases-by-card {
    #chart {
      width: 100% !important;
    }
  }
}

.releases-by-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 3rem;

  .card-title {
    margin-bottom: 1.5rem;
  }

  #chart {
    margin: auto;
    width: 60%;
  }

  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}
