@import '../../../../../shared/styles/colors.scss';

@media screen and (min-width: 1750px) and (min-height: 800px) {
    .credit-card-details {
        width: 98.5vw !important;
    }
}

.credit-card-details {
    width: 98vw;
    overflow-y: hidden !important;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    gap: 8%;
    padding-bottom: 4rem;
    background-color: #fff;

    img {
        border-radius: 50%;
    }

    #card-logo {
        position: relative;
        top: 5rem;
    }

    .content {
        height: 100%;
        width: 32%;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        .row1 {
            display: flex;
            justify-content: space-between;
            align-items: start;

            .limit {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                h1 {
                    font-size: 1.7rem;
                    color: #3d799c;
                }
            }
        }

        .row2 {
            display: flex;
            gap: .8rem;

            .left,
            .right {
                width: 50%;
            }

            .left {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .standard_payment_account {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 0;

                    .account {
                        display: flex;
                        align-items: center;
                        gap: .8rem;
                    }
                }

                .active {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .true {
                        color: #00de34;
                    }

                    .false {
                        color: rgb(225, 0, 0);
                    }
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                align-items: end;
                position: relative;
                top: 2rem;

                .item {
                    display: flex;
                    align-items: center;
                    gap: .8rem;
                }
            }
        }
    }

    .actions {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1.5rem;

        .large-btn {
            padding: 2rem;

            .btn-content {
                display: flex;
                align-items: center;
                gap: 1rem;
                color: #585858;
            }
        }
    }
}