@import 'colors.scss';

.login {
    .login-box {
        height: 55%;

        .top {
            margin-top: 3rem !important;
            color: $primary-font-color;

            h1 {
                font-size: 3rem;
            }
        }

        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3.5rem;

            button {
                border-radius: 2rem;
                padding: 1.5rem 2rem;
            }
        }
    }
}