@media screen and (max-width: 650px) {
    .form-buttons {
        flex-wrap: wrap;
        justify-content: flex-end;

        styled-button {
            width: auto !important;
        }
    }
}

.form-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1.6rem;

    styled-button {
        width: 100%;
    }
}