<div class="form-buttons">
  @if (showNew()) {
  <!---->
  <styled-button
    [btnType]="getBtnStyle(darkThemeEnabled() ? 'stroked' : 'raised')"
    [label]="labelNewM() ? 'buttons.newM' : 'buttons.new'"
    icon="add"
    [disabled]="disableNew()"
    [btnStyle]="btnStyle()"
    [contentStyle]="contentStyle()"
    (onClick)="onNew.emit()"
  ></styled-button>
  <!---->
  } @if (showSave()) {
  <!---->
  <styled-button
    [btnType]="getBtnStyle(darkThemeEnabled() ? 'stroked' : 'raised')"
    label="actions.save"
    icon="save"
    [disabled]="disableSave()"
    [loading]="showLoading()"
    [btnStyle]="btnStyle()"
    [contentStyle]="contentStyle()"
    (onClick)="onSave.emit()"
  ></styled-button>
  <!---->
  } @if (showDownload()) {
  <!---->
  <styled-button
    [btnType]="getBtnStyle(darkThemeEnabled() ? 'stroked' : 'raised')"
    label="buttons.download-attachment"
    icon="cloud_download"
    [disabled]="disableDownload()"
    [loading]="showLoading()"
    [btnStyle]="btnStyle()"
    [contentStyle]="{ color: '#585858' }"
    (onClick)="onDownload.emit()"
  ></styled-button>
  <!---->
  } @if (showEdit()) {
  <!---->
  <styled-button
    [btnType]="getBtnStyle(darkThemeEnabled() ? 'stroked' : 'raised')"
    label="actions.edit"
    icon="edit"
    [disabled]="disableEdit()"
    [btnStyle]="btnStyle()"
    [contentStyle]="contentStyle()"
    (onClick)="onEdit.emit()"
  ></styled-button>
  <!---->
  } @if (showDelete()) {
  <!---->
  <styled-button
    [btnType]="getBtnStyle(darkThemeEnabled() ? 'stroked' : 'raised')"
    label="actions.exclude"
    icon="delete"
    [disabled]="disableDelete()"
    [loading]="showLoading()"
    [btnStyle]="btnStyle()"
    [contentStyle]="{ color: disableDelete() ? '' : 'red' }"
    (onClick)="onDelete.emit()"
  ></styled-button>
  <!---->
  } @if (showChangePassword()) {
  <!---->
  <styled-button
    [btnType]="getBtnStyle(darkThemeEnabled() ? 'stroked' : 'raised')"
    label="buttons.change-password"
    icon="vpn_key"
    [disabled]="disableChangePassword()"
    [btnStyle]="btnStyle()"
    [contentStyle]="contentStyle()"
    (onClick)="onChangePassword.emit()"
  ></styled-button>
  <!---->
  } @if (showGeneric()) {
  <!---->
  <styled-button
    [btnType]="getBtnStyle(darkThemeEnabled() ? 'stroked' : 'raised')"
    [label]="genericLabel()"
    [icon]="genericIcon()"
    [disabled]="disableGeneric()"
    [loading]="showLoading()"
    [btnStyle]="btnStyle()"
    [contentStyle]="contentStyle()"
    (onClick)="onGeneric.emit()"
  ></styled-button>
  <!---->
  } @if (showClose()) {
  <!---->
  <styled-button
    [btnType]="getBtnStyle('icon')"
    label=""
    icon="close"
    [btnStyle]="btnStyle()"
    [contentStyle]="contentStyle()"
    (onClick)="onClose.emit()"
  ></styled-button>
  <!---->
  } @if (showGoBack()) {
  <!---->
  <styled-button
    [btnType]="getBtnStyle('icon')"
    label=""
    icon="arrow_back"
    [btnStyle]="btnStyle()"
    [contentStyle]="contentStyle()"
    (onClick)="onGoBack.emit()"
  ></styled-button>
  <!---->
  }
</div>
