<div class="form-buttons">
  @if (showNew()) {
  <button
    mat-raised-button
    [disabled]="disableNew()"
    (click)="onNew.emit()"
    [ngStyle]="{ padding: getBtnSize + 'rem' }"
  >
    <div class="btn-content">
      <span class="material-symbols-outlined">add</span>
      @if (isPcScreen) {
      <span>
        {{ (labelNewM() ? "buttons.newM" : "buttons.new") | translate }}
      </span>
      }
    </div>
  </button>
  } @if (showSave()) {
  <button
    mat-raised-button
    [disabled]="disableSave()"
    (click)="onSave.emit()"
    [ngStyle]="{ padding: getBtnSize + 'rem' }"
    color="primary"
  >
    <div class="btn-content">
      @if (!showSaveLoading()) {
      <span class="material-symbols-outlined">save</span>
      @if (isPcScreen) {
      <span>{{ "actions.save" | translate }}</span>
      } } @else {
      <mat-spinner [diameter]="30"></mat-spinner>
      }
    </div>
  </button>
  } @if (showDownload()) {
  <button
    mat-raised-button
    [disabled]="disableDownload()"
    (click)="onDownload.emit()"
    [ngStyle]="{ padding: getBtnSize + 'rem' }"
  >
    <div class="btn-content" style="color: #4d4d4d">
      <span class="material-symbols-outlined">cloud_download</span>
      @if (isPcScreen) {
      <span>
        {{ "buttons.download-attachment" | translate }}
      </span>
      }
    </div>
  </button>
  } @if (showEdit()) {
  <button
    mat-raised-button
    [disabled]="disableEdit()"
    (click)="onEdit.emit()"
    [ngStyle]="{ padding: getBtnSize + 'rem' }"
    color="primary"
  >
    <div class="btn-content">
      <span class="material-symbols-outlined">edit</span>
      @if (isPcScreen) {
      <span>{{ "actions.edit" | translate }}</span>
      }
    </div>
  </button>
  } @if (showDelete()) {
  <button
    mat-raised-button
    [disabled]="disableDelete()"
    (click)="onDelete.emit()"
    [ngStyle]="{ padding: getBtnSize + 'rem', color: 'red' }"
  >
    <div class="btn-content">
      <span class="material-symbols-outlined">delete</span>
      @if (isPcScreen) {
      <span>{{ "actions.exclude" | translate }}</span>
      }
    </div>
  </button>
  } @if (showChangePassword()) {
  <button
    mat-raised-button
    [disabled]="disableChangePassword()"
    (click)="onChangePassword.emit()"
    [ngStyle]="{ padding: getBtnSize + 'rem' }"
  >
    <div class="btn-content">
      <span class="material-symbols-outlined">vpn_key</span>
      @if (isPcScreen) {
      <span>{{ "buttons.change-password" | translate }}</span>
      }
    </div>
  </button>
  } @if (showGeneric()) {
  <button
    mat-raised-button
    [disabled]="disableGeneric()"
    (click)="onGeneric.emit()"
    [ngStyle]="{ padding: getBtnSize + 'rem', color: genericColor() }"
  >
    <div class="btn-content">
      <span class="material-symbols-outlined">{{ genericIcon() }}</span>
      @if (isPcScreen) {
      <span>
        {{ genericLabel() }}
      </span>
      }
    </div>
  </button>
  } @if (showClose()) {
  <button mat-icon-button (click)="onClose.emit()">
    <span class="material-symbols-outlined">close</span>
  </button>
  } @if (showGoBack()) {
  <button mat-icon-button (click)="onGoBack.emit()">
    <span class="material-symbols-outlined">arrow_back</span>
  </button>
  }
</div>
