::-webkit-scrollbar {
    background-color: transparent !important;
    width: 8px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #7a7a7ad7 !important;
    border-radius: 10px !important;
}

.simple-page {
    display: flex;
    flex-direction: column;

    .content {
        flex: 1;
        display: flex;
        justify-content: center;
        place-items: center;

        .card {
            width: 80%;
            height: 80vh;
            max-height: 80vh;
            padding: 1.5rem 1rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: row;

            .categories {
                width: 50%;
                height: 100%;

                &:first-child {
                    border-right: 1px solid #6161613b;
                }
            }
        }
    }
}