<div class="public-section">
  <div class="left fade-in-left">
    <h1>Interface <span class="text-gradient">intuitiva</span></h1>

    <p>
      Design moderno e funcional que torna o controle financeiro uma
      <br />
      experiência agradável.
    </p>

    <mat-list>
      <mat-list-item>
        <mat-icon matListItemIcon class="material-symbols-outlined">
          task_alt
        </mat-icon>
        Dashboard personalizável
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon class="material-symbols-outlined">
          task_alt
        </mat-icon>
        Gráficos interativos em tempo real
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon class="material-symbols-outlined">
          task_alt
        </mat-icon>
        Relatórios detalhados e exportáveis
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon class="material-symbols-outlined">
          task_alt
        </mat-icon>
        Acesso via web e mobile
      </mat-list-item>
    </mat-list>
  </div>

  <div class="right fade-in-right">
    @for (card of cards(); track $index) {
    <div class="card card-gradient">
      <span
        class="material-symbols-outlined"
        [style.background-color]="card.iconBackgroundColor"
      >
        {{ card.icon }}
      </span>

      <h3>{{ card.title }}</h3>

      <span>{{ card.description }}</span>
    </div>
    }
  </div>
</div>
