<div class="simple-page login" [class.dark-page]="darkThemeEnabled">
  <div class="login-box">
    <h1>Conta cancelada com sucesso</h1>

    <p>
      Sua conta foi cancelada e todos os seus dados foram removidos do nosso
      sistema.
    </p>

    <p>
      Agradecemos por ter utilizado o Finax. Se houver algo que possamos fazer
      para melhorar, por favor, nos avise.
    </p>

    <!-- <p style="margin-bottom: 0.2rem">
      Você pode seguir nossas redes sociais para se manter atualizado:
    </p>
    <div class="footer-links">
      <a href="https://facebook.com">Facebook</a>
      <span>|</span>
      <a href="https://twitter.com">Twitter</a>
      <span>|</span>
      <a href="https://instagram.com">Instagram</a>
    </div> -->

    <app-buttons
      routerLink="/"
      [showGeneric]="true"
      [genericLabel]="'Voltar à Página Inicial'"
      [genericStyle]="getBtnStyle('flat')"
      class="button"
    ></app-buttons>
  </div>
</div>
