@import 'colors.scss';

.simple-page {
    display: flex;
    flex-direction: column;

    .content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .account-card {
            width: 74%;
            padding: 1.5rem;
            background-color: #fefefe;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;

            .card-header {
                display: flex;
                justify-content: space-between;
                margin-bottom: .8rem;
            }

            .first-row,
            .second-row,
            .third-row {
                display: flex;
                width: 100%;
                padding: 0 2rem;
            }

            .first-row {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-bottom: 1rem;
            }

            .second-row {
                display: flex;
                gap: 2rem;
                margin-bottom: 2rem;
            }

            .third-row {
                flex: 1;
                display: flex;

                .check-boxs {
                    padding: 1.5rem;
                    gap: 0.7rem;
                }

                #bank-img-div {
                    width: 35%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: .2rem;
                    padding-top: 1rem;

                    .material-symbols-outlined {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        box-shadow: 0 0 2px #5d5d5d;
                        cursor: pointer;
                    }

                    .bank-img {
                        border-radius: 50%;
                        box-shadow: 0 0 2px #5d5d5d;
                        cursor: pointer;
                    }

                    #text {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.dark-page {
    .content {
        .account-card {
            background-color: $dark-card-bg !important;
            color: #fff !important;
        }
    }
}