.simple-page {
    display: flex;
    flex-direction: column;

    .content {
        flex: 1;
        display: flex;
        justify-content: center;
        place-items: center;

        .card {
            width: 80%;
            height: 80vh;
            max-height: 80vh;
            display: flex;
            flex-direction: column;
            padding: 2rem;

            .card-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .left {
                    display: flex;
                    align-items: center;
                    gap: 5rem;
                }

                button {
                    padding: 1.3rem;
                }
            }

            .list-component {
                width: 75%;
                max-height: 85%;
                margin: 1rem 0;
            }
        }
    }
}