<div
  [ngClass]="{
    'dark-page': utilsService.getUserConfigs.theme === 'dark'
  }"
  class="simple-page"
>
  <h1 class="page-title">
    {{ language === "pt-br" ? "Cartões de crédito" : "Credit cards" }}
  </h1>

  <div class="content">
    <mat-card class="card">
      <div class="card-header">
        <mat-form-field>
          <mat-label>
            {{
              language === "pt-br"
                ? "Filtrar por situação"
                : "Filter by situation"
            }}
          </mat-label>

          <mat-select [formControl]="situationFilter">
            <mat-option value="all">
              {{ language === "pt-br" ? "Todos" : "All" }}
            </mat-option>
            <mat-option [value]="true">
              {{ language === "pt-br" ? "Ativos" : "Actives" }}
            </mat-option>
            <mat-option [value]="false">
              {{ language === "pt-br" ? "Inativos" : "Inactives" }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <app-buttons
          [showNew]="true"
          [ptBrLabelNew]="'Nova'"
          (onNew)="onNew()"
        ></app-buttons>
      </div>

      @defer {
      <div class="list">
        @for (account of filteredRows.getValue(); track account.id) {
        <div class="account" (click)="openDetails(account)">
          @if (account.image) {
          <img
            [ngSrc]="'assets/banks/' + account.image"
            width="60"
            height="60"
            alt="account logo"
          />
          } @else {
          <span class="material-symbols-outlined default-bank-account">
            credit_card
          </span>
          }

          <span>
            <b>{{ account.name }}</b>
          </span>

          <span class="material-symbols-outlined navigate-icon">
            navigate_next
          </span>
        </div>
        }
      </div>
      }
    </mat-card>
  </div>
</div>
