@use "colors.scss" as *;

.simple-page {
  font-family: "Mallana", "Nunito", "Dosis" !important;

  .login-box {
    .top {
      justify-content: space-evenly !important;
    }

    form {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .bottom {
      height: 18%;

      app-buttons {
        width: 65%;
        border-radius: 3rem;
        padding: 1.5rem 2rem;
      }
    }
  }
}
