<div
  class="simple-page login"
  [ngClass]="{
    'dark-page': utils.getUserConfigs.theme === 'dark'
  }"
>
  <div class="login-box">
    <div class="top">
      <img
        [ngSrc]="cloudFireCdnImgsLink + 'money-coin.svg'"
        width="50"
        height="50"
        priority
        alt="company logo"
      />

      <h1>{{ "login.title" | translate }}</h1>
    </div>

    <form [formGroup]="loginForm">
      <div style="display: flex; justify-content: center">
        <mat-form-field style="width: 80%" [hideRequiredMarker]="true">
          <mat-label>{{ "generic.email" | translate }}</mat-label>
          <input
            matInput
            formControlName="email"
            autocomplete="off"
            autofocus
            maxlength="255"
          />
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content: center">
        <mat-form-field style="width: 80%" [hideRequiredMarker]="true">
          <mat-label>
            {{ "generic.password" | translate }}
          </mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            autocomplete="new-password"
          />
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content: space-around; gap: 70px">
        <mat-checkbox formControlName="rememberMe">
          {{ "login.remember-me" | translate }}
        </mat-checkbox>

        <span
          routerLink="/esqueci-minha-senha"
          id="forgot-password-label"
          color="primary"
        >
          {{ "login.forgot-my-password" | translate }}
        </span>
      </div>
    </form>

    <div class="bottom" style="display: flex; justify-content: center">
      @if (showLoading()) {
      <mat-spinner [diameter]="40"></mat-spinner>
      } @else {
      <app-buttons
        [showGeneric]="true"
        [genericStyle]="getBtnStyle('flat')"
        genericLabel="login.login"
        genericIcon="person"
        (onGeneric)="login()"
      ></app-buttons>
      }
    </div>
  </div>

  <span class="opt-login-page">
    <span>
      {{ "login.don't-have-account" | translate }}
    </span>

    <span routerLink="/nova-conta" class="create-one-label">
      {{ "login.create-one" | translate }}
    </span>
  </span>
</div>
