.form-component-v1 {
  .mat-form-field-label:not(.mat-form-field-empty){
    font-size: 1.025rem !important;
  }

  .mat-form-field-align-right{
    text-align: right;
  }

  .checkbox-field-div {
    display: flex !important;
  }

  .form-field-color-picker {
    font-weight: 800 !important;
  }

  .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
    opacity: 0.2;
  }

  .simple-text-div {
    font-size: 0.725rem ;
    font-weight: bold !important;
  }

  .simple-text-main-div {
    align-self: center;
  }

  .radio-group-button-custom {
    margin-left: 0.725rem !important;    
    font-size: 0.925rem !important;
  }

  .radio-group-label-custom {
    height: 100% !important;
    font-weight: bold;
    justify-content: left !important;
  }

  .disable-color {
    color: gray;
  }

  .edit-buttons-div {
    button {
      margin-left: 0.1rem !important;
    }
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -9px;
    margin-bottom: 12px;
  }

  .country-dropdown {
    font-family: inherit !important;
    font-size: 0.825rem !important;
  }

  .mat-tooltip-style {
    margin-left: 0.25rem !important;
  }

  .intlPhoneLabel{
    font-family: inherit !important;

    //font-size: 1.025rem !important
  }

  .spincarePassword {
    font-family: password;
  }
}