@defer (on idle) {
<div
  class="sub-accounts"
  [ngStyle]="{
    'border-bottom': isLastPrimaryAccount() ? 'none' : '1px solid #74747437'
  }"
>
  @if (subAccounts().length > 0) {
  <div class="add-more">
    @if (primaryAccount().active) {
    <dynamic-button
      class="add-more-btn"
      [config]="addMoreBtnConfig"
    ></dynamic-button>
    }
  </div>

  <div class="sub-accounts-list">
    @for (account of subAccounts(); track account.id) {
    <div
      class="account"
      (click)="openDetails(account)"
      [ngStyle]="{
        'border-bottom': isLastItem($index) ? 'none' : '1px solid #74747437'
      }"
    >
      <div class="image-name">
        @if (account.image) {
        <img
          [ngSrc]="cloudFireCdnImgsLink + 'banks/' + account.image"
          width="60"
          height="60"
          alt="account logo"
        />
        } @else {
        <span class="material-symbols-outlined default-bank-account">
          {{ getDefaultAccountImage(account) }}
        </span>
        }

        <span>
          <b>{{ account.name }}</b>
        </span>
      </div>

      <div class="amount">
        {{
          currency +
            (showValues() ? (account.balance | customCurrency) : hideValue)
        }}
      </div>

      <div class="navigate-icon">
        <span class="material-symbols-outlined">navigate_next</span>
      </div>
    </div>
    }
  </div>
  } @else {
  <div class="empty">
    <span>{{ "my-accounts.no-sub-accounts-registered" | translate }}</span>

    <dynamic-button [config]="registerOneBtnConfig"></dynamic-button>
  </div>
  }
</div>
}
