@defer (on timer(1000ms)) {
<div class="sub-accounts">
  @if (subAccounts().length > 0) {
  <div class="add-more">
    <dynamic-button
      class="add-more-btn"
      [config]="addMoreBtnConfig"
    ></dynamic-button>
  </div>

  <app-accounts-list
    class="sub-accounts-list"
    [accounts]="subAccounts()"
    [showValues]="true"
    [isSubAccounts]="true"
  ></app-accounts-list>
  } @else {
  <div class="empty">
    <span>{{ "my-accounts.no-sub-accounts-registered" | translate }}</span>

    <dynamic-button [config]="registerOneBtnConfig"></dynamic-button>
  </div>
  }
</div>
}
