.login {
    .login-box {
        height: 440px;

        .top {
            height: 32%;
            gap: .6rem;
        }

        .bottom {
            button {
                position: relative;
                bottom: .7rem;
            }
        }
    }
}