<div
  [ngClass]="{
    'simple-page': true,
    login: true,
    'dark-page': darkTheme
  }"
>
  <div class="login-box">
    <div class="top">
      <img src="assets/money-coin.svg" width="50px" height="50px" />
      <h1>
        {{
          language === "pt-br"
            ? "Defina sua nova senha"
            : "Set your new password"
        }}
      </h1>
    </div>

    <form [formGroup]="changePasswordForm">
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.3rem">
        <mat-form-field fxFlex="80" [hideRequiredMarker]="true">
          <mat-label>{{
            language === "pt-br" ? "Nova senha" : "New password"
          }}</mat-label>
          <input
            type="password"
            matInput
            formControlName="newPassword"
            autofocus
          />
          <span
            class="material-symbols-outlined"
            matSuffix
            [matTooltip]="
              language === 'pt-br'
                ? 'A senha deve conter pelo menos 8 caracteres, 1 número e 1 letra maiúscula'
                : 'The password must contain at least 8 characters, 1 number, and 1 uppercase letter'
            "
            matTooltipPosition="below"
            matTooltipShowDelay="200"
            >info</span
          >
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <mat-form-field fxFlex="80" [hideRequiredMarker]="true">
          <mat-label>{{
            language === "pt-br"
              ? "Confirme a nova senha"
              : "Confirm the new password"
          }}</mat-label>
          <input
            type="password"
            matInput
            formControlName="newPasswordConfirm"
          />
        </mat-form-field>
      </div>
    </form>

    <div class="bottom">
      <button
        mat-raised-button
        style="border-radius: 3rem; box-sizing: initial; padding: 1.5rem 2rem"
        color="primary"
        fxFlex="65"
        (click)="changePassword()"
      >
        <span *ngIf="!showLoading">{{
          language === "pt-br" ? "Alterar" : "Change"
        }}</span>
        <mat-spinner *ngIf="showLoading" color="accent"></mat-spinner>
      </button>
    </div>
  </div>
</div>
