<div
  [ngClass]="{
    'simple-page': true,
    login: true,
    'dark-page': utilsService.getUserConfigs.theme === 'dark'
  }"
>
  <div class="login-box">
    <div class="top">
      <img
        ngSrc="assets/money-coin.svg"
        width="50"
        height="50"
        alt="company logo"
      />
      <h1 class="h1">
        {{
          language === "pt-br"
            ? "Defina sua nova senha"
            : "Set your new password"
        }}
      </h1>
    </div>

    <form [formGroup]="changePasswordForm">
      <div style="display: flex; justify-content: center; gap: 0.3rem">
        <mat-form-field style="width: 80%" [hideRequiredMarker]="true">
          <mat-label>
            {{ language === "pt-br" ? "Nova senha" : "New password" }}
          </mat-label>
          <input
            type="password"
            matInput
            formControlName="newPassword"
            autofocus
          />
          <span
            class="material-symbols-outlined"
            matSuffix
            [matTooltip]="utilsService.passwordRequirementsText"
            matTooltipPosition="below"
            matTooltipShowDelay="200"
            >info</span
          >
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content: center">
        <mat-form-field style="width: 80%" [hideRequiredMarker]="true">
          <mat-label>
            {{
              language === "pt-br"
                ? "Confirme a nova senha"
                : "Confirm the new password"
            }}
          </mat-label>
          <input type="password" matInput formControlName="passwordConfirm" />
        </mat-form-field>
      </div>
    </form>

    <div class="bottom">
      @if (!showLoading) {
      <button mat-raised-button color="primary" (click)="changePassword()">
        <span>{{ language === "pt-br" ? "Alterar" : "Change" }}</span>
      </button>
      } @else {
      <mat-spinner [diameter]="40"></mat-spinner>
      }
    </div>
  </div>
</div>
