<div
  class="release-form"
  [ngClass]="{ 'dark-page': utils.getUserConfigs.theme === 'dark' }"
>
  <form [formGroup]="form()">
    <div class="row row1">
      <mat-form-field style="width: 75%" [hideRequiredMarker]="true">
        <mat-label>
          {{ "release-form.description" | translate }}
        </mat-label>
        <input
          matInput
          type="text"
          formControlName="description"
          autofocus
          maxlength="50"
          #descriptionInput
        />
      </mat-form-field>
    </div>

    <div class="row row2">
      @if (!isTransfer) {
      <mat-form-field style="width: 39%">
        <mat-label>
          {{
            ("release-form.account" | translate) +
              (isExpense ? "/" + ("release-form.card" | translate) : "")
          }}
        </mat-label>

        <mat-select
          formControlName="accountId"
          (valueChange)="accountChanges($event)"
        >
          <mat-select-trigger>
            <ng-container
              *ngTemplateOutlet="selectedAccountTemplate"
            ></ng-container>
          </mat-select-trigger>

          @if (isRevenue) {
          <!---->
          @for (account of accountsList(); track account.id) {
          <mat-option [value]="account.id" class="bank-account-item">
            <div class="account-opt">
              @if (account.image) {
              <img
                [ngSrc]="cloudFireCdnImgsLink + 'banks/' + account.image"
                width="30"
                height="30"
                alt="bank account logo"
              />
              } @else {
              <span class="material-symbols-outlined default-account-logo">
                {{ getDefaultAccountImage(account) }}
              </span>
              }
              <span>{{ account.name }}</span>
            </div>
          </mat-option>
          }
          <!---->
          } @else {
          <!-- is expense -->
          <!---->
          @if (selectedCreditCard()) {
          <!---->
          @for (card of creditCardsList(); track card.id) {
          <mat-option [value]="card.id">
            <div class="account-opt">
              @if (card.image) {
              <img
                [ngSrc]="cloudFireCdnImgsLink + 'banks/' + card.image"
                width="30"
                height="30"
                alt="bank account logo"
              />
              } @else {
              <span class="material-symbols-outlined default-account-logo">
                credit_card
              </span>
              }
              <span>{{ card.name }}</span>
            </div>
          </mat-option>
          }
          <!---->
          } @else {
          <!---->
          @if (accountsList().length !== 0) {
          <mat-optgroup [label]="'release-form.accounts' | translate">
            @for (account of accountsList(); track account.id) {
            <mat-option [value]="account.id" class="bank-account-item">
              <div class="account-opt">
                @if (account.image) {
                <img
                  [ngSrc]="cloudFireCdnImgsLink + 'banks/' + account.image"
                  width="30"
                  height="30"
                  alt="bank account logo"
                />
                } @else {
                <span class="material-symbols-outlined default-account-logo">
                  {{ getDefaultAccountImage(account) }}
                </span>
                }
                <span>{{ account.name }}</span>
              </div>
            </mat-option>
            }
          </mat-optgroup>
          } @if (creditCardsList().length !== 0) {
          <mat-optgroup [label]="'release-form.cards' | translate">
            @for (creditCard of creditCardsList(); track creditCard.id) {
            <mat-option [value]="creditCard.id" class="bank-account-item">
              <div class="account-opt">
                @if (creditCard.image) {
                <img
                  [ngSrc]="cloudFireCdnImgsLink + 'banks/' + creditCard.image"
                  width="30"
                  height="30"
                  alt="bank credit card logo"
                />
                } @else {
                <span class="material-symbols-outlined default-account-logo">
                  credit_card
                </span>
                }
                <span>{{ creditCard.name }}</span>
              </div>
            </mat-option>
            }
          </mat-optgroup>
          }
          <!---->
          }
          <!---->
          }
        </mat-select>
      </mat-form-field>

      <ng-template #selectedAccountTemplate>
        <div class="selected-account">
          @if (selectedAccount && selectedAccount.image) {
          <img
            [ngSrc]="cloudFireCdnImgsLink + 'banks/' + selectedAccount.image"
            width="20"
            height="20"
            alt="bank account logo"
          />
          }
          <span>{{ selectedAccount?.name }}</span>
        </div>
      </ng-template>

      <mat-form-field style="width: 37%" [hideRequiredMarker]="true">
        <mat-label>
          {{ "release-form.value" | translate }}
        </mat-label>
        <input
          matInput
          type="text"
          formControlName="amount"
          placeholder="0"
          currencyMask
          [options]="{ prefix: currency + ' ', allowNegative: false }"
        />
      </mat-form-field>
      } @else {
      <!-- is transfer -->
      <mat-form-field style="width: 38%" [hideRequiredMarker]="true">
        <mat-label>
          {{ "release-form.origin-account" | translate }}
        </mat-label>

        <mat-select
          formControlName="accountId"
          (valueChange)="accountChanges($event)"
        >
          <mat-select-trigger>
            <ng-container
              *ngTemplateOutlet="leavedAccountTemplate"
            ></ng-container>
          </mat-select-trigger>

          @for (account of accountsList(); track account.id) {
          <mat-option [value]="account.id" class="bank-account-item">
            <div class="account-opt">
              @if (account.image) {
              <img
                [ngSrc]="cloudFireCdnImgsLink + 'banks/' + account.image"
                width="30"
                height="30"
                alt="bank account logo"
              />
              } @else {
              <span class="material-symbols-outlined default-account-logo">
                {{ getDefaultAccountImage(account) }}
              </span>
              }
              <span>{{ account.name }}</span>
            </div>
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <ng-template #leavedAccountTemplate>
        <div class="selected-account">
          @if (selectedAccount && selectedAccount.image) {
          <img
            [ngSrc]="cloudFireCdnImgsLink + 'banks/' + selectedAccount.image"
            width="20"
            height="20"
            alt="bank account logo"
          />
          }
          <span>{{ selectedAccount?.name }}</span>
        </div>
      </ng-template>

      <mat-form-field style="width: 38%" [hideRequiredMarker]="true">
        <mat-label>
          {{ "release-form.target-account" | translate }}
        </mat-label>
        <mat-select
          formControlName="targetAccountId"
          (valueChange)="targetAccountChanges($event)"
        >
          <mat-select-trigger>
            <ng-container
              *ngTemplateOutlet="enteredAccountTemplate"
            ></ng-container>
          </mat-select-trigger>

          @for (account of accountsList(); track account.id) {
          <mat-option [value]="account.id" class="bank-account-item">
            <div class="account-opt">
              @if (account.image) {
              <img
                [ngSrc]="cloudFireCdnImgsLink + 'banks/' + account.image"
                width="30"
                height="30"
                alt="bank account logo"
              />
              } @else {
              <span class="material-symbols-outlined default-account-logo">
                {{ getDefaultAccountImage(account) }}
              </span>
              }
              <span>{{ account.name }}</span>
            </div>
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <ng-template #enteredAccountTemplate>
        <div class="selected-account">
          @if (selectedTargetAccount && selectedTargetAccount.image) {
          <img
            [ngSrc]="
              cloudFireCdnImgsLink + 'banks/' + selectedTargetAccount.image
            "
            width="20"
            height="20"
            alt="bank account logo"
          />
          }
          <span>{{ selectedTargetAccount?.name }}</span>
        </div>
      </ng-template>
      }
    </div>

    <div class="row row3">
      <mat-form-field style="width: 38%" [hideRequiredMarker]="true">
        <mat-label>
          {{ "release-form.date" | translate }}
        </mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          (dateChange)="dateChanges($event)"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field style="width: 38%">
        <mat-label>
          {{ "release-form.hour" | translate }}
        </mat-label>
        <input matInput type="time" formControlName="time" />
      </mat-form-field>
    </div>

    <div class="row row4">
      @if (form().value.type !== 'T') {
      <mat-form-field style="width: 38%" [hideRequiredMarker]="true">
        <mat-label>
          {{ "release-form.category" | translate }}
        </mat-label>
        <mat-select
          formControlName="categoryId"
          (valueChange)="categoryChanges($event)"
        >
          <mat-select-trigger>
            <ng-container
              *ngTemplateOutlet="selectedCategoryTemplate"
            ></ng-container>
          </mat-select-trigger>

          @for (item of filteredCategories; track item.id) {
          <mat-option [value]="item.id">
            <div class="category-opt">
              @if (item.icon) {
              <span
                class="material-symbols-outlined"
                [ngStyle]="{ 'background-color': item.color }"
              >
                {{ item.icon }}
              </span>
              }
              {{ item.name }}
            </div>
          </mat-option>
          }
        </mat-select>

        <ng-template #selectedCategoryTemplate>
          <div class="selected-category">
            @if (selectedCategory) {
            <span
              class="material-symbols-outlined"
              [ngStyle]="{ 'background-color': selectedCategory.color }"
            >
              {{ selectedCategory.icon }}
            </span>

            <span>{{ selectedCategory.name }}</span>
            }
          </div>
        </ng-template>
      </mat-form-field>
      } @else {
      <mat-form-field style="width: 38%" [hideRequiredMarker]="true">
        <mat-label>
          {{ "release-form.value" | translate }}
        </mat-label>
        <input
          matInput
          type="text"
          formControlName="amount"
          placeholder="0"
          currencyMask
          [options]="{ prefix: currency + ' ', allowNegative: false }"
        />
      </mat-form-field>
      }

      <mat-checkbox formControlName="done">
        {{ "release-form.done" | translate }}
      </mat-checkbox>
    </div>
  </form>
</div>
