<div
  class="simple-page policy-page"
  [ngClass]="{
    'dark-page': darkThemeEnabled()
  }"
>
  <div class="logo">
    <img
      [ngSrc]="cloudFireCdnImgsLink + 'money-coin.svg'"
      width="45"
      height="45"
      alt="company logo"
    />

    <h1>Finax</h1>
  </div>

  <div class="policy">
    <div class="title">
      <h2>Política de privacidade</h2>

      <span>Sem contratos, sem compromisso</span>
    </div>

    <!-- <div class="content">
      <p>
        A sua privacidade é importante para nós. É política do Finax respeitar a
        sua privacidade em relação a qualquer informação sua que possamos
        coletar no site <a href="https://appfinax.com.br">Finax</a>, e outros
        sites que possuímos e operamos.
      </p>

      <p>
        Solicitamos informações pessoais apenas quando realmente precisamos
        delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais,
        com o seu conhecimento e consentimento. Também informamos por que
        estamos coletando e como será usado.
      </p>

      <p>
        Apenas retemos as informações coletadas pelo tempo necessário para
        fornecer o serviço solicitado. Quando armazenamos dados, protegemos
        dentro de meios comercialmente aceitáveis para evitar perdas e roubos,
        bem como acesso, divulgação, cópia, uso ou modificação não autorizados.
      </p>

      <p>
        Não compartilhamos informações de identificação pessoal publicamente ou
        com terceiros, exceto quando exigido por lei.
      </p>

      <p>
        O nosso site pode ter links para sites externos que não são operados por
        nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas
        desses sites e não podemos aceitar responsabilidade por suas respectivas
        políticas de privacidade.
      </p>

      <p>
        Você é livre para recusar a nossa solicitação de informações pessoais,
        entendendo que talvez não possamos fornecer alguns dos serviços
        desejados.
      </p>

      <p style="margin-bottom: 0">
        O uso continuado de nosso site será considerado como aceitação de nossas
        práticas em torno de privacidade e informações pessoais. Se você tiver
        alguma dúvida sobre como lidamos com dados do usuário e informações
        pessoais, entre em contacto connosco.
      </p>

      <h3 class="sub-title">Compromisso do Usuário</h3>

      <p>
        O usuário se compromete a fazer uso adequado dos conteúdos e da
        informação que o Finax oferece no site e com caráter enunciativo, mas
        não limitativo:
      </p>

      <ul>
        <li>
          A) Não se envolver em atividades que sejam ilegais ou contrárias à boa
          fé a à ordem pública;
        </li>

        <li>
          B) Não difundir propaganda ou conteúdo de natureza racista,
          xenofóbica, pixbet ou azar, qualquer tipo de pornografia ilegal, de
          apologia ao terrorismo ou contra os direitos humanos;
        </li>

        <li>
          C) Não causar danos aos sistemas físicos (hardwares) e lógicos
          (softwares) do Finax, de seus fornecedores ou terceiros, para
          introduzir ou disseminar vírus informáticos ou quaisquer outros
          sistemas de hardware ou software que sejam capazes de causar danos
          anteriormente mencionados.
        </li>
      </ul>

      <h3 class="sub-title">Mais informações</h3>

      <p>
        Esperemos que esteja esclarecido e, como mencionado anteriormente, se
        houver algo que você não tem certeza se precisa ou não, geralmente é
        mais seguro deixar os cookies ativados, caso interaja com um dos
        recursos que você usa em nosso site.
      </p>
    </div> -->

    <div class="content">
      <h3 class="sub-title">Política de privacidade</h3>

      <p>
        Por este documento, asseguramos e garantimos que todas as informações
        dos nossos usuários, não serão comercializadas ou divulgadas em nenhuma
        circunstância. Seguimos todos os protocolos de segurança recomendados e
        não medimos esforços para preservá-los de qualquer desvio.
      </p>

      <p>
        Suas informações serão armazenadas, processadas, acessadas, desde que
        seja respeitada a legislação brasileira, principalmente as disposições
        da Lei nº 12.965/14 (Marco Civil da Internet) e do Decreto nº 8.771, de
        11/05/16. Os dados pessoais que você informar, serão criptografados ao
        serem armazenados em nosso banco de dados, que é reservado e com acesso
        restrito.
      </p>

      <p>
        Nossos servidores estão na AWS, bem protegidos por políticas de
        segurança, assegurando a privacidade, autenticidade e inviolabilidade
        das informações, conforme determina o Marco Civil da Internet.
      </p>

      <p>
        Poderemos alterar esta Política de Privacidade a qualquer tempo, com ou
        sem aviso prévio. Pedimos que periodicamente você acesse este documento,
        para que possa manter-se atualizado e ser informado sobre qualquer
        alteração.
      </p>

      <p>
        Os elementos e ferramentas do Site/Web e dos Mobiles (iOS e Android) são
        de nossa titularidade ou são licenciados por nós, nos termos da
        legislação vigente. A utilização de qualquer elemento ou ferramenta do
        Site ou dos Mobiles (iOS e Android) apenas poderá ser feita com nossa
        concordância por escrito.
      </p>

      <h3 class="sub-title">Disposições finais</h3>

      <p>
        Esta Política de privacidade é regida pelas leis brasileiras. Eventuais
        controvérsias existentes em relação a ele ou ao uso do Site serão
        solucionados entre o cliente e a Finax Ltda. no Foro da Comarca de
        Blumenau/SC, mesmo que haja outro mais privilegiado.
      </p>

      <p>
        Podemos não exigir de Você o cumprimento de alguma cláusula, o que não
        representará uma renúncia de direito ou cláusula. Caso algum item desta
        Política de privacidade venha a ser declarada nula ou não aplicável, os
        outros termos continuarão se aplicando e permanecerão em vigor e efeito.
      </p>

      <h3 class="sub-title">Sobre a Lei geral de proteção de dados</h3>

      <p>
        O Finax, por simplicidade e filosofia de negócio, não solicita nenhuma
        informação sensível à sua privacidade como: cpf, rg, telefone, endereço
        ou dados de acesso à instituições financeiras. Apenas seu e-mail é
        solicitado, para fins básicos de cadastro e acesso à conta.
      </p>

      <p>
        Todos os dados coletados durante seu uso do Finax são exclusivamente
        para fins de aperfeiçoamento da sua experiência conosco e/ou
        implementação da regra de negócio básica do gerenciador financeiro. Não
        coletamos informações suas para outros fins que não sejam este.
      </p>

      <p>
        Para solicitar a remoção completa de todas as suas informações
        cadastradas no Finax, conforme exigido pela Lei Geral de Proteção de
        Dados Brasileira, basta você realizar o pedido de cancelamento da sua
        conta, enviando um e-mail para suporte&#64;appfinax.com.br ou no botão
        de cancelar a conta dentro do sistema. Nós não armazemos dado algum de
        contas excluídas.
      </p>
    </div>
  </div>

  <span class="last-update">Finax, Última atualização em 14/09/2024</span>

  <span class="link" routerLink="/termos-de-uso">Termos de uso</span>

  <app-buttons
    id="home-button"
    routerLink="/"
    [showGeneric]="true"
    [genericStyle]="getHomeButtonStyle"
    genericIcon="home"
    [btnStyle]="{
      transform: 'scale(1.5)',
      'background-color': '#00c026',
    }"
    [contentStyle]="{
      transform: 'scale(0.9)',
      color: '#252525',
    }"
  ></app-buttons>
</div>
