<div class="simple-page login" [class.dark-page]="darkThemeEnable">
  <div class="login-box">
    <div class="top">
      <img
        [ngSrc]="cloudFireCdnImgsLink + 'money-coin.svg'"
        width="50"
        height="50"
      />

      <h1>FINAX</h1>
    </div>

    <div class="content">
      <h1>Link expirado</h1>

      <h3>O link que você tentou acessar está expirado.</h3>
    </div>
  </div>

  <span class="opt-login-page">
    <span routerLink="/">Voltar a tela inicial</span>
  </span>
</div>
