@import 'generic.scss';

.simple-page {
    display: flex;
    flex-direction: column;

    .content {
        flex: 1;
        display: flex;
        justify-content: center;
        place-items: center;

        .card {
            width: $default-card-width;
            height: $default-card-height;
            max-height: $default-card-height;
            padding: 1.5rem 1rem;
            display: flex;
            flex-direction: row;

            .categories {
                width: 50%;
                height: 100%;

                &:first-child {
                    border-right: 1px solid #6161613b;
                }
            }
        }
    }
}