<div class="simple-page" [class.dark-page]="darkThemeEnabled">
  <h1 class="page-title">
    {{ "categories.title" | translate }}
  </h1>

  <div class="content">
    <mat-card class="card">
      @defer (when finishedFetchingCategories()) {
      <app-categories-list
        #expensesList
        [errorFetching]="errorFetchingCategories()"
        [categories]="expenseCategories()"
        [categoryType]="'E'"
        (onNew)="newCategory($event)"
        (onEdit)="editCategory($event)"
        (onDelete)="deleteCategory($event)"
        class="categories"
      ></app-categories-list>

      <app-categories-list
        #revenuesList
        [errorFetching]="errorFetchingCategories()"
        [categories]="revenueCategories()"
        [categoryType]="'R'"
        (onNew)="newCategory($event)"
        (onEdit)="editCategory($event)"
        (onDelete)="deleteCategory($event)"
        class="categories"
      ></app-categories-list>
      }
    </mat-card>
  </div>
</div>
