<div
  [ngClass]="{
    'simple-page': true,
    'dark-page': utils.getUserConfigs.theme === 'dark'
  }"
>
  <h1 class="page-title">
    {{ "categories.title" | translate }}
  </h1>

  <div class="content">
    <mat-card class="card">
      <app-categories-list
        [categories]="expenseCategories()"
        [categoryType]="'E'"
        (onNew)="newCategory($event)"
        (onEdit)="editCategory($event)"
        (onDelete)="delete($event)"
        class="categories"
      ></app-categories-list>

      <app-categories-list
        [categories]="revenueCategories()"
        [categoryType]="'R'"
        (onNew)="newCategory($event)"
        (onEdit)="editCategory($event)"
        (onDelete)="delete($event)"
        class="categories"
      ></app-categories-list>
    </mat-card>
  </div>
</div>
