@media screen and (max-width: 1050px) {
  .simple-page {
    gap: 1.6rem !important;

    .top-card {
      width: 93% !important;

      .amounts {
        gap: 0.5rem !important;
      }
    }

    .content {
      width: 93% !important;
      flex-direction: column !important;

      .left-column,
      .right-column {
        width: 100% !important;
        gap: 1.6rem !important;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .simple-page {
    .content {
      margin-bottom: 1rem !important;
    }

    .top-card {
      box-shadow: none !important;
      border: var(--separator) !important;
    }
  }
}

.simple-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;

  .top-card {
    width: 90%;
    border-radius: 1.5rem;
    box-shadow: var(--default-box-shadow);

    .top-card-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0.7rem;

      .amounts {
        display: flex;
        gap: 1.2rem;

        .item {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 0.6rem;
          border-radius: 0.3rem;
          transform: scale(0.92);
          box-shadow: var(--default-box-shadow);

          .value {
            font-size: 1.5rem;
            font-weight: bold;
          }
        }

        .revenue {
          .value {
            color: #15e627;
          }
        }

        .expense {
          .value {
            color: red;
          }
        }
      }
    }
  }

  .content {
    width: 90%;
    display: flex;
    gap: 1.5rem;

    .left-column,
    .right-column {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}
