<div
  [ngClass]="{
    'simple-page': true,
    'dark-page': theme() === 'dark'
  }"
>
  <mat-card class="top-card">
    <mat-card-content class="top-card-content">
      <h1>
        {{ title }}
      </h1>

      <div class="amounts">
        <div class="item revenue">
          {{ "home.monthly-revenue" | translate }}

          <span>
            {{ currency() }}{{ balances().revenues | customCurrency }}
          </span>
        </div>

        <div class="item expense">
          {{ "home.monthly-expense" | translate }}

          <span>
            {{ currency() }}{{ balances().expenses | customCurrency }}
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="content">
    <div class="left-column">
      <app-home-accounts-list-widget
        [accountsList]="accountsList()"
        [generalBalance]="generalBalance"
        [currency]="currency()"
      ></app-home-accounts-list-widget>

      <app-home-payable-accounts-widget
        [releasesList]="getUpcomingReleases('E')"
        [currency]="currency()"
      ></app-home-payable-accounts-widget>

      <app-home-receivable-accounts-widget
        [releasesList]="getUpcomingReleases('R')"
        [currency]="currency()"
      ></app-home-receivable-accounts-widget>
    </div>

    <div class="right-column">
      <app-home-spend-by-category-widget
        [theme]="theme()"
        [currency]="currency()"
      ></app-home-spend-by-category-widget>
    </div>
  </div>
</div>
