<div class="simple-page home-page" [class.dark-page]="theme() === 'dark'">
  <mat-card class="top-card">
    <mat-card-content class="top-card-content">
      <h1 class="card-title">
        {{ title }}
      </h1>

      <div class="amounts">
        <div class="item revenue">
          <label>
            {{ "home.monthly-revenue" | translate }}
          </label>

          <span class="value">
            {{ currency() }}{{ balances().revenues | customCurrency }}
          </span>
        </div>

        <div class="item expense">
          <label>
            {{ "home.monthly-expense" | translate }}
          </label>

          <span class="value">
            {{ currency() }}{{ balances().expenses | customCurrency }}
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="content">
    <div class="left-column">
      <app-home-accounts-list-widget
        [currency]="currency()"
        style="border-radius: 5rem !important"
      ></app-home-accounts-list-widget>

      <app-home-payable-accounts-widget
        [releasesList]="getUpcomingReleases('E')"
        [currency]="currency()"
        [finishedFetch]="finishedFetchPayableReceivableAccounts()"
        [errorFetching]="errorFetchingPayableReceivableAccounts()"
      ></app-home-payable-accounts-widget>

      <app-home-receivable-accounts-widget
        [releasesList]="getUpcomingReleases('R')"
        [currency]="currency()"
        [finishedFetch]="finishedFetchPayableReceivableAccounts()"
        [errorFetching]="errorFetchingPayableReceivableAccounts()"
      ></app-home-receivable-accounts-widget>
    </div>

    <div class="right-column">
      <app-home-spend-by-category-widget
        [theme]="theme()"
        [currency]="currency()"
      ></app-home-spend-by-category-widget>

      <app-home-credit-cards-list-widget
        [currency]="currency()"
      ></app-home-credit-cards-list-widget>
    </div>
  </div>
</div>
