@import 'colors.scss';

@media screen and (max-width: 1050px) {
    .simple-page {
        .top-card {
            width: 97% !important;

            .amounts {
                gap: .5rem !important;
            }
        }

        .content {
            width: 97% !important;
            flex-direction: column !important;
            gap: 1rem !important;

            .left-column,
            .right-column {
                width: 100% !important;
            }
        }
    }
}

.simple-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .9rem;
    padding-bottom: 2rem;

    .top-card {
        width: 90%;
        background-color: $primary-card-bg !important;

        .top-card-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: .7rem;

            .amounts {
                display: flex;
                gap: 1.2rem;

                .item {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding: .6rem;
                    border-radius: .3rem;
                    transform: scale(0.92);
                    box-shadow: 2px 2px 5px #2c2c2c4d;

                    span {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                }

                .revenue {
                    span {
                        color: #15e627;
                    }
                }

                .expense {
                    span {
                        color: red;
                    }
                }
            }
        }
    }

    .content {
        width: 90%;
        display: flex;
        gap: 1.3rem;

        .left-column,
        .right-column {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}

.dark-page {
    .top-card {
        background-color: $dark-card-bg !important;

        .top-card-content {
            .amounts {
                .item {
                    box-shadow: 2px 2px 5px #9292924d;
                }
            }
        }
    }
}