<div
  [ngClass]="{
    'simple-page': true,
    login: true,
    'dark-page': utilsService.getUserConfigs.theme === 'dark'
  }"
>
  <div class="login-box">
    <div class="top">
      <img
        ngSrc="assets/money-coin.svg"
        width="50"
        height="50"
        priority
        alt="company logo"
      />

      <h1>
        {{ language === "pt-br" ? "Crie sua conta" : "Create your account" }}
      </h1>
    </div>

    <form [formGroup]="userRegisterForm">
      <div style="display: flex; justify-content: center">
        <mat-form-field style="width: 80%" [hideRequiredMarker]="true">
          <mat-label>Email</mat-label>
          <input
            type="text"
            matInput
            formControlName="email"
            autocomplete="off"
            autofocus
          />
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content: center; gap: 0.3rem">
        <mat-form-field style="width: 80%" [hideRequiredMarker]="true">
          <mat-label>
            {{ language === "pt-br" ? "Senha" : "Password" }}
          </mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            autocomplete="new-password"
          />

          <span
            class="material-symbols-outlined primary-color"
            matSuffix
            [matTooltip]="utilsService.passwordRequirementsText"
            matTooltipPosition="below"
            matTooltipShowDelay="200"
            >info</span
          >
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content: center; gap: 0.9rem">
        <mat-form-field style="width: 32%" [hideRequiredMarker]="true">
          <mat-label>
            {{ language === "pt-br" ? "Nome" : "First name" }}
          </mat-label>
          <input
            type="text"
            matInput
            formControlName="firstName"
            maxlength="30"
          />
        </mat-form-field>

        <mat-form-field style="width: 45%">
          <mat-label>{{
            language === "pt-br" ? "Sobrenome" : "Last name"
          }}</mat-label>
          <input
            type="text"
            matInput
            formControlName="lastName"
            maxlength="40"
          />
        </mat-form-field>
      </div>
    </form>

    <div class="bottom">
      @if (!showLoading) {
      <button mat-raised-button color="primary" (click)="createUser()">
        <span>
          <span class="material-symbols-outlined">person</span>
          {{ language === "pt-br" ? "Criar conta" : "Create account" }}
        </span>
      </button>
      } @else {
      <mat-spinner [diameter]="40"></mat-spinner>
      }
    </div>
  </div>

  <span class="opt-login-page">
    <span
      >{{
        language === "pt-br"
          ? "Já possui uma conta"
          : "Already have an account"
      }}?
    </span>

    <span routerLink="/login" class="login-label">
      {{ language === "pt-br" ? "Fazer login" : "Log in" }}!
    </span>
  </span>
</div>
