<div class="public-section">
  <div class="card card-gradient appear">
    <h1>
      <span>Pronto para transformar suas</span>
      <span class="text-gradient">finanças?</span>
    </h1>

    <p>
      Junte-se a milhares de usuários que já descobriram o poder da inteligência
      artificial
      <br />
      aplicada ao controle financeiro pessoal.
    </p>

    <div class="cta">
      <button mat-fab extended class="button-gradient">
        <div class="btn-content">
          Começar gratuitamente
          <span class="material-symbols-outlined">arrow_forward</span>
        </div>
      </button>

      <button mat-fab extended id="talk-to-specialist">
        Falar com Especialista
      </button>
    </div>

    <span id="no-commitment">Sem compromisso • Cancele quando quiser</span>
  </div>
</div>
