::-webkit-scrollbar {
  display: flex;
}

@media screen and (max-width: 1050px) {
  ::-webkit-scrollbar {
    display: none !important;
  }

  .simple-page {
    overflow-y: hidden !important;

    .page-title {
      margin-bottom: 2rem !important;
    }

    .content {
      flex-direction: column-reverse !important;
      padding-top: 0 !important;

      .card {
        width: 100% !important;
      }

      #balances-component {
        width: 100vw !important;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .simple-page {
    .page-title {
      #filter-button-title {
        right: 2.3rem !important;
      }
    }

    .content {
      .card.card {
        padding-top: 0 !important;

        header {
          flex-direction: column-reverse !important;
          padding-top: 0 !important;
          margin-bottom: 0 !important;
        }
      }

      #balances-component {
        width: 100vw !important;
      }
    }
  }
}

.simple-page {
  display: flex;
  flex-direction: column;

  .page-title {
    display: flex;
    align-items: start;
    gap: 1.5rem;
    font-size: 2.3rem;

    #add-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.3rem;
      height: 2.3rem;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    place-items: flex-start;
    padding-top: 5%;

    .releases-card {
      width: 65%;
      height: 75vh;
      max-height: 75vh;
      display: flex;
      flex-direction: column;
      padding: 0 !important;
      padding-top: 1rem !important;

      header {
        display: flex;
        flex-direction: column;

        .first-row {
          display: flex;
          justify-content: space-between;
          padding: 0.8rem 1.2rem;
          height: 8.7rem;

          .left {
            display: flex;
            align-items: start;
            gap: 1.5rem;

            .title {
              h1 {
                font-size: 2.3rem;
              }

              .credit-card {
                display: flex;
                align-items: center;
                gap: 0.8rem;
                cursor: pointer;
                padding: 0.5rem 0.9rem;
                border-radius: 1rem;

                &:hover {
                  background-color: var(
                    --button-hover-background-color
                  ) !important;
                }

                img {
                  border-radius: 50%;
                }

                span {
                  font-size: 1.5rem;
                }
              }
            }
          }

          .right {
            width: 58%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
            gap: 1rem;

            #payments-card {
              width: 100%;
              height: 100%;
            }

            #pay-btn {
              padding: 1.5rem 1.7rem;
              font-size: 1.1rem;
              border-radius: 2.5rem;
            }
          }
        }

        .second-row {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;

          .tab {
            font-size: 1.3rem;
            text-transform: capitalize;
            width: 12rem;
            display: flex;
            justify-content: center;
          }
        }
      }

      app-releases-list {
        padding: 0 1.2rem;
      }

      app-releases-list,
      .empty {
        flex: 1;
        overflow-y: scroll;
      }
    }

    #balances-component {
      width: 22%;
    }
  }
}
