@use "generic.scss" as *;

@media screen and (max-width: 650px) {
  .change-password-dialog {
    margin-bottom: 2rem;
  }
}

.change-password-dialog {
  display: flex;
  flex-direction: column;
  font-family: $default-font-family;
  overflow: hidden;

  h1 {
    margin: 1rem 0 0.5rem 2rem;
    font-family: $default-font-family !important;
    font-weight: bold;
  }

  .content {
    flex: 1;
    padding: 0.4rem 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .actions {
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem 2rem 1.3rem 0;
  }
}
