<div
  class="confirm-duplicated-releases-action"
  [ngClass]="{ 'dark-page': utilsService.getUserConfigs.theme === 'dark' }"
>
  <div class="title">
    <h2>
      {{
        language === "pt-br"
          ? "Esse lançamento se repete em outras datas"
          : "This release is repeated on other dates"
      }}
    </h2>

    <button mat-icon-button mat-dialog-close>
      <span class="material-symbols-outlined">close</span>
    </button>
  </div>

  <div class="actions">
    <button mat-stroked-button color="primary" (click)="close('just-this')">
      <b>{{
        (data.action === "edit"
          ? language === "pt-br"
            ? "Editar"
            : "Edit"
          : language === "pt-br"
          ? "Excluir"
          : "Exclude") +
          " " +
          (language === "pt-br" ? "apenas este" : "this only")
      }}</b>
    </button>

    <button mat-stroked-button color="primary" (click)="close('nexts')">
      <b>{{
        (data.action === "edit"
          ? language === "pt-br"
            ? "Editar"
            : "Edit"
          : language === "pt-br"
          ? "Excluir"
          : "Exclude") +
          " " +
          (language === "pt-br"
            ? "este e os próximos"
            : "this and the next ones")
      }}</b>
    </button>

    <button mat-stroked-button color="primary" (click)="close('all')">
      <b>{{
        (data.action === "edit"
          ? language === "pt-br"
            ? "Editar"
            : "Edit"
          : language === "pt-br"
          ? "Excluir"
          : "Exclude") +
          " " +
          (language === "pt-br" ? "todos" : "all")
      }}</b>
    </button>
  </div>
</div>
