@import './shared/styles/generic.scss';

// @media screen and (max-width: 900px) {
//     .app {
//         display: none !important;
//     }

//     #mobile {
//         display: block !important;
//     }
// }

mat-sidenav-container {
    height: 100%;

    #sidebar {
        width: $sidebar-width;
    }

    .container,
    router-outlet {
        width: 100%;
        height: 100%;
    }
}

#mobile {
    display: none;
}