<mat-sidenav-container
  [style.height]="mobileToolbarOpened() ? 'calc(100% - 5rem)' : '100%'"
  [style.max-height]="mobileToolbarOpened() ? 'calc(100% - 5rem)' : '100%'"
  [style.position]="mobileToolbarOpened() ? 'fixed' : 'relative'"
>
  <mat-sidenav
    id="sidebar"
    [(opened)]="sidebarOpened"
    [mode]="sidebarMode()"
    [style.width]="mobileToolbarOpened() ? '100vw' : '18rem'"
    [disableClose]="true"
  >
    <app-sidebar />
  </mat-sidenav>

  <div class="container">
    <router-outlet />
  </div>
</mat-sidenav-container>

@if (mobileToolbarOpened()) {
<mat-toolbar id="mobile-toolbar">
  <dynamic-buttons [config]="mobileToolbarButtonsConfig" />

  <!-- <dynamic-button [config]="toogleSidebarBtnConfig" /> -->
</mat-toolbar>
}
