@if (mobileToolbarOpened()) {
<mat-toolbar
  id="mobile-toolbar"
  [ngClass]="{ 'dark-page': darkThemeEnabled() }"
>
  <app-logo-title></app-logo-title>

  <dynamic-button [config]="toogleSidebarBtnConfig"></dynamic-button>
</mat-toolbar>
}

<mat-sidenav-container
  [ngStyle]="{
    height: mobileToolbarOpened() ? 'calc(100% - 5rem)' : '100%',
    'max-height': mobileToolbarOpened() ? 'calc(100% - 5rem)' : '100%',
    position: mobileToolbarOpened() ? 'fixed' : 'relative',
    bottom: '0'
  }"
>
  <mat-sidenav
    id="sidebar"
    [(opened)]="sidebarOpened"
    [mode]="sidebarMode()"
    [ngStyle]="{
      width: mobileToolbarOpened() ? '100vw' : '20rem'
    }"
  >
    <app-sidebar />
  </mat-sidenav>

  <div class="container">
    <router-outlet />
  </div>
</mat-sidenav-container>
