<mat-card class="home-widget">
  <mat-card-header>
    <h3 class="card-title" style="font-weight: 500">
      {{ "home.general-balance" | translate }}
    </h3>

    <span
      style="font-size: 2rem; font-weight: bold"
      [style.color]="
        generalBalance() === 0
          ? '#3d799c'
          : generalBalance() > 0
          ? '#15e627'
          : 'red'
      "
    >
      {{ currency() }}{{ generalBalance() | customCurrency }}
    </span>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <span class="my-accounts-title card-title">
      {{ "home.my-accounts" | translate }}
    </span>

    @defer (when finishedFetch()) {
    <div class="list">
      @if (errorFetching()) {
      <div class="empty">
        <label>{{ "home.error-getting-accounts" | translate }}</label>
      </div>
      } @else {
      <!--  -->
      @for (account of accountsList(); track $index) {
      <app-home-account-item
        [account]="account"
        [currency]="currency()"
      ></app-home-account-item>

      @if (isntLastItem($index)) {
      <mat-divider></mat-divider>
      }
      <!---->
      } @empty {
      <div class="empty">
        <label>
          {{ "home.empty-accounts-list" | translate }}
        </label>

        <app-buttons
          routerLink="/contas/nova"
          [showGeneric]="true"
          genericLabel="home.register-one"
        ></app-buttons>
      </div>
      } }
    </div>
    }
  </mat-card-content>
</mat-card>
