$primary-font-color: #026e00;
$dark-font-color: #dfdfdf;

$disabled-font-color: #9a9a9a;

$primary-bg: #eff3f8;
$dark-bg: #383838;

$primary-card-bg: #fefefe;
$dark-card-bg: #212121;

$primary-border-color: #00d32ae3;
$dark-border-color: #00b424e3;

$primary-divider-color: #9a9a9a4d;
$dark-divider-color: #8787872c;

$balance-blue-color: #3d799c;