$primary-font-color: #005d13;
$dark-font-color: #dfdfdf;

$primary-bg: #eff3f8;
$dark-bg: #383838;

$primary-card-bg: #fefefe;
$dark-card-bg: #212121;

$primary-border-color: #00d32ae3;
$dark-border-color: #00b424e3;