$default-font-family: "Nunito", "Dosis", "Mallanna", system-ui, -apple-system,
  Roboto, sans-serif;

$default-card-width: 80%;
$default-card-height: 80vh;
$default-card-padding: 2rem;

$default-mobile-card-width: 95%;
$default-mobile-card-height: 82vh;
$default-mobile-card-padding: 1rem;

$mobile-toolbar-height: 6rem;
