@import '../../../../../utils/colors.scss';

@media screen and (min-width: 1750px) and (min-height: 800px) {
    .bank-account-details {
        width: 98.5vw !important;
    }
}

.bank-account-details {
    width: 98vw;
    overflow-y: hidden !important;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    gap: 8%;
    margin-bottom: 3rem;
    background-color: #fff;

    img {
        position: relative;
        border-radius: 50%;
        top: 5rem;
    }

    .content {
        height: 100%;
        width: 32%;

        .row1 {
            display: flex;
            justify-content: space-between;
            align-items: start;

            .balance {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                h1 {
                    font-size: 1.7rem;
                    color: #00b300;
                }

                span {
                    cursor: pointer;
                    font-size: .9rem;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        .row2 {
            display: flex;
            justify-content: space-between;

            .left {
                display: flex;
                flex-direction: column;
            }

            .right {
                position: relative;
                top: 2.5rem;
            }
        }

        .row3 {
            display: flex;
            flex-direction: column;
            gap: .8rem;
            margin-top: 2rem;

            .item {
                display: flex;
                align-items: center;
                gap: .8rem;

                .true {
                    color: #00de34;
                }

                .false {
                    color: rgb(225, 0, 0);
                }
            }
        }

        .up {
            position: relative;
            bottom: 2.5rem;
        }
    }

    .actions {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1.5rem;
    }
}

.dark-page {
    .bank-account-details {
        background-color: $dark-card-bg !important;
    }
}