<div
  class="bank-account-details"
  [ngClass]="{ 'dark-page': utilsService.getUserConfigs.theme === 'dark' }"
>
  @if (account.image) {
  <img
    [ngSrc]="'assets/imgs/banks/' + account.image"
    width="80"
    height="80"
    alt="bank account logo"
  />
  }

  <div class="content">
    <div class="row1">
      <h1 class="name">{{ account.name }}</h1>

      <div class="balance">
        <h1>{{ currency }}{{ account.balance | customCurrency }}</h1>
        <span (click)="adjustBalance()">
          {{ "my-accounts.adjust-balance" | translate }}
        </span>
      </div>
    </div>

    <div class="row2">
      <div class="left">
        @if (account.accountNumber) {
        <span>
          {{ "my-accounts.account-number" | translate }}:
          {{ account.accountNumber }}
        </span>
        } @if (account.agency) {
        <span>
          {{ "my-accounts.agency" | translate }}:
          {{ account.agency }}
        </span>
        }
      </div>

      <div class="right">
        @switch (account.type) { @case ("CC") {
        <span>
          {{ "my-accounts.account-types.checking" | translate }}
        </span>
        } @case ("SV") {
        <span>
          {{ "my-accounts.account-types.savings" | translate }}
        </span>
        } @case ("SL") {
        <span>
          {{ "my-accounts.account-types.salary" | translate }}
        </span>
        } @case ("LG") {
        <span>
          {{ "my-accounts.account-types.legal" | translate }}
        </span>
        } @case ("BK") {
        <span>
          {{ "my-accounts.account-types.brokerage" | translate }}
        </span>
        } }
      </div>
    </div>

    <div
      class="row3"
      [ngClass]="{ up: !account.accountNumber && !account.agency }"
    >
      <span class="item">
        @if (account.investments) {
        <span class="material-symbols-outlined true">check</span>
        } @else {
        <span class="material-symbols-outlined false">close</span>
        }
        {{ "my-accounts.account-with-investments" | translate }}
      </span>

      <span class="item">
        @if (account.addOverallBalance) {
        <span class="material-symbols-outlined true">check</span>
        } @else {
        <span class="material-symbols-outlined false">close</span>
        }
        {{ "my-accounts.add-to-overall-balance" | translate }}
      </span>

      <span class="item">
        @if (account.active) {
        <span class="material-symbols-outlined true">check</span>
        } @else {
        <span class="material-symbols-outlined false">close</span>
        }
        {{ "generic.active" | translate }}
      </span>
    </div>
  </div>

  <div class="actions">
    <button mat-stroked-button class="large-btn">
      <div class="btn-content">
        <span class="material-symbols-outlined">sort</span>
        {{ "my-accounts.see-releases" | translate }}
      </div>
    </button>

    <button mat-stroked-button class="large-btn">
      <div class="btn-content">
        <span class="material-symbols-outlined">query_stats</span>
        {{ "generic.reports" | translate }}
      </div>
    </button>

    <button
      mat-button
      color="primary"
      (click)="edit()"
      style="padding: 1.3rem 1.6rem; font-size: 1.1rem !important"
    >
      {{ "actions.edit" | translate }}
    </button>
  </div>
</div>
