<div
  class="bank-account-details"
  [ngClass]="{ 'dark-page': utilsService.getUserConfigs.theme === 'dark' }"
>
  @if (account.image) {
  <img
    [ngSrc]="'assets/banks/' + account.image"
    width="80"
    height="80"
    alt="bank account logo"
  />
  }

  <div class="content">
    <div class="row1">
      <h1 class="name">{{ account.name }}</h1>

      <div class="balance">
        <h1>{{ currency }}{{ account.balance | customCurrency }}</h1>
        <span (click)="adjustBalance()">
          {{ language === "pt-br" ? "Ajustar saldo" : "Adjust balance" }}
        </span>
      </div>
    </div>

    <div class="row2">
      <div class="left">
        @if (account.accountNumber) {
        <span>
          {{ language === "pt-br" ? "Nº da conta: " : "Account number: " }}
          {{ account.accountNumber }}
        </span>
        } @if (account.agency) {
        <span>
          {{ language === "pt-br" ? "Agência: " : "Agency: " }}
          {{ account.agency }}
        </span>
        }
      </div>

      <div class="right">
        @switch (account.type) { @case ("CC") {
        <span>
          {{ language === "pt-br" ? "Conta corrente" : "Checking account" }}
        </span>
        } @case ("SV") {
        <span>
          {{ language === "pt-br" ? "Conta poupança" : "Savings account" }}
        </span>
        } @case ("SL") {
        <span>
          {{ language === "pt-br" ? "Conta salário" : "Salary account" }}
        </span>
        } @case ("LG") {
        <span>
          {{ language === "pt-br" ? "Conta jurídica" : "Legal account" }}
        </span>
        } @case ("BK") {
        <span>
          {{ language === "pt-br" ? "Corretora" : "Brokerage" }}
        </span>
        } }
      </div>
    </div>

    <div
      class="row3"
      [ngClass]="{ up: !account.accountNumber && !account.agency }"
    >
      <span class="item">
        @if (account.investments) {
        <span class="material-symbols-outlined true">check</span>
        } @else {
        <span class="material-symbols-outlined false">close</span>
        }
        {{
          language === "pt-br"
            ? "Conta com investimentos"
            : "Account with investments"
        }}
      </span>

      <span class="item">
        @if (account.addOverallBalance) {
        <span class="material-symbols-outlined true">check</span>
        } @else {
        <span class="material-symbols-outlined false">close</span>
        }
        {{
          language === "pt-br"
            ? "Somar no saldo geral"
            : "Add to the overall balance"
        }}
      </span>

      <span class="item">
        @if (account.active) {
        <span class="material-symbols-outlined true">check</span>
        } @else {
        <span class="material-symbols-outlined false">close</span>
        }
        {{ language === "pt-br" ? "Ativo" : "Active" }}
      </span>
    </div>
  </div>

  <div class="actions">
    <button mat-stroked-button class="large-btn">
      <div class="btn-content">
        <span class="material-symbols-outlined h-full">sort</span>
        {{ language === "pt-br" ? "Ver lançamentos" : "See releases" }}
      </div>
    </button>

    <button mat-stroked-button class="large-btn">
      <div class="btn-content">
        <span class="material-symbols-outlined h-full">query_stats</span>
        {{ language === "pt-br" ? "Relatórios" : "Reports" }}
      </div>
    </button>

    <button
      mat-button
      color="primary"
      (click)="edit()"
      style="padding: 1.3rem 1.6rem; font-size: 1.1rem !important"
    >
      {{ language === "pt-br" ? "Editar" : "Edit" }}
    </button>
  </div>
</div>
