.credit-card {
    flex: 1;
    display: flex;
    height: auto;
    padding: .8rem 1rem;

    .image {
        padding-top: .3rem;
        margin-right: .5rem;

        img {
            border-radius: 50%;
        }
    }

    .infos {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 1.2rem;

        .top {
            margin-bottom: .7rem;

            span {
                font-size: 1.2rem;
            }
        }

        .bottom {
            display: flex;

            .available,
            .current-invoice {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                font-size: 1.05rem;

                .label {
                    color: #595959;
                }
            }
        }
    }

    .action {
        display: flex;
        justify-content: flex-end;
    }
}