<div class="credit-card">
  <div class="image">
    @if (card().cardImage) {
    <img
      [ngSrc]="cloudFireCdnImgsLink + 'banks/' + card().cardImage"
      width="55"
      height="55"
      alt="account logo"
    />
    } @else {
    <span class="material-symbols-rounded default-credit-card-image">
      credit_card
    </span>
    }
  </div>

  <div class="infos">
    <div class="top">
      <label class="card-name">
        {{ card().cardName }}
      </label>
    </div>

    <div class="bottom">
      <div class="available">
        <div class="label">
          {{ "home.available" | translate }}
        </div>

        <label class="amount">
          {{ currency() + (card().availableLimit | customCurrency) }}
        </label>
      </div>

      <div class="current-invoice">
        <div class="label">
          {{ "home.current-invoice" | translate }}
        </div>

        <label class="amount">
          {{ currency() + (card().currentInvoiceAmount | customCurrency) }}
        </label>
      </div>
    </div>
  </div>

  <div class="action">
    <dynamic-button
      [routerLink]="'/cartoes-de-credito/fatura/' + card().cardId"
      [config]="btnConfig"
    ></dynamic-button>
  </div>
</div>
