<div
  [ngClass]="{
    'change-password-dialog': true,
    'dark-page': utils.getUserConfigs.theme === 'dark'
  }"
  style="display: flex; flex-direction: column"
>
  <h1 mat-dialog-title style="font-size: 1.5rem">
    {{ "change-password-dialog.title" | translate }}
  </h1>

  <form [formGroup]="changePasswordForm" class="content">
    <mat-form-field [hideRequiredMarker]="true">
      <mat-label>
        {{ "change-password-dialog.current-password" | translate }}
      </mat-label>
      <input
        type="password"
        matInput
        formControlName="currentPassword"
        autocomplete="new-password"
      />
    </mat-form-field>

    <mat-form-field [hideRequiredMarker]="true">
      <mat-label>
        {{ "change-password-dialog.new-password" | translate }}
      </mat-label>
      <input type="password" matInput formControlName="newPassword" />
      <span
        class="material-symbols-outlined"
        matSuffix
        [matTooltip]="utils.passwordRequirementsText"
        matTooltipPosition="below"
        matTooltipShowDelay="200"
      >
        info
      </span>
    </mat-form-field>

    <mat-form-field [hideRequiredMarker]="true">
      <mat-label>
        {{ "change-password-dialog.new-password-confirm" | translate }}
      </mat-label>
      <input type="password" matInput formControlName="newPasswordConfirm" />
    </mat-form-field>
  </form>

  <div class="actions">
    @if (loading()) {
    <mat-spinner [diameter]="40" style="margin-right: 3rem"></mat-spinner>
    } @else {
    <button
      mat-raised-button
      (click)="changePassword()"
      [disabled]="changePasswordForm.invalid"
      color="primary"
    >
      {{ "confirm-dialog.confirm" | translate }}
    </button>

    <button mat-button mat-dialog-close>
      {{ "confirm-dialog.cancel" | translate }}
    </button>
    }
  </div>
</div>
