.change-password-dialog {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito';
    overflow: hidden;

    h1 {
        font-family: 'Nunito' !important;
        font-weight: bold;
    }

    .content {
        flex: 1;
        padding: .4rem 1.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .actions {
        height: 25%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 1.3rem;

        button {
            margin-right: 1.6rem;
            padding: 1.4rem;
        }
    }
}