<div id="releases-list" [class]="theme">
  @for (release of releases(); track release.id) {
  <div class="release" (click)="openDetails(release)">
    <div class="category">
      <span
        class="material-symbols-outlined"
        [ngStyle]="{
          'background-color': release.category?.color || '#AFAFAF'
        }"
      >
        {{
          release.isBalanceAdjustment
            ? "edit"
            : release.category?.icon || "swap_horiz"
        }}
      </span>
    </div>

    <div class="description">
      @if (release.type !== 'T' && !smallWidth()) {
      <h3 class="h3">
        @if (release.isBalanceAdjustment) {
        {{ "cash-flow.balance-adjustment" | translate }}
        } @else {
        <!--  -->
        @if (release.card) {
        <span class="material-symbols-outlined">credit_card</span>
        }

        {{ release.description || release.category?.name }}
        }
      </h3>
      } @else {
      <div>
        <h3>
          {{ release.description || ("cash-flow.transfer" | translate) }}
        </h3>

        <span class="description-sub-title">
          @if (release.type == 'T') {
          {{ "generic.from" | translate }}
          {{ release.account?.name }}
          {{ "generic.to" | translate }}
          {{ release.targetAccount!.name }}
          } @else {
          {{ release.account?.name || release.card?.name }}
          }
        </span>
      </div>
      }
    </div>

    @if (!smallWidth()) {
    <div class="account">
      <span>{{ release.account?.name || release.card?.name }}</span>
    </div>
    }

    <div class="date">
      <span>{{ release.date | date : "dd/MM/yyyy" }}</span>
      <span>{{ release.time }}</span>
    </div>

    <div class="amount">
      {{ release.type === "E" ? "-" : "+" }}
      <span> {{ release.amount | customCurrency }}</span>
    </div>

    <div class="situation">
      <span
        class="material-symbols-outlined"
        [ngClass]="{
          done: release.done,
          pending: !release.done
        }"
      >
        {{ release.done ? "thumb_up" : "thumb_down" }}
      </span>
    </div>
  </div>
  }
</div>
