@for (day of releasesByDay(); track day.day) {
<h3>{{ day.day }}</h3>

@for (item of day.releases; track item.id) {
<app-release-item
  [release]="item"
  [smallWidth]="smallWidth()"
  (open)="openDetails($event)"
></app-release-item>
}

<!-- <cdk-virtual-scroll-viewport itemSize="65" class="releases-viewport">
  <ng-container
    *cdkVirtualFor="let release of day.releases; trackBy: trackByRelease"
  >
    <app-release-item
      [release]="release"
      [smallWidth]="smallWidth()"
      (open)="openDetails($event)"
    ></app-release-item>
  </ng-container>
</cdk-virtual-scroll-viewport> -->
}
