@import '../../../../../shared/styles/colors.scss';

.releases-list {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .release {
        width: 100%;
        display: flex;
        align-items: center;
        padding: .8rem 0;
        border-radius: 5px;

        &:hover {
            background-color: #adffea25;
            cursor: pointer;
        }

        .category {
            width: 8%;
            display: flex;
            justify-content: center;
            align-items: center;

            .material-symbols-outlined {
                border-radius: 50%;
                padding: .5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
            }
        }

        .description {
            width: 38%;

            .h3 {
                display: flex;
                align-items: center;
                gap: .7rem;

                .material-symbols-outlined {
                    color: $primary-font-color;
                }
            }

            .transfer-sub-title {
                color: #777777;
                font-size: .9rem;
            }
        }

        .account {
            width: 22%;
            color: #777777;
        }

        .date {
            width: 11%;
            font-size: .8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #777777;
        }

        .amount {
            width: 15%;
            max-width: 15%;
            overflow-x: hidden;
            display: flex;
            justify-content: flex-end;
            padding-right: 1.2rem;
        }

        .situation {
            width: 6%;
            display: flex;
            justify-content: center;

            span {
                font-size: 1.5rem;
            }

            .done {
                color: green;
            }
        }
    }
}