<div class="releases-list">
  @for (item of releases(); track item.id) {
  <div class="release" (click)="openDetails(item)">
    <div class="category">
      @if (item.type === 'I') {
      <img
        [ngSrc]="'assets/banks/' + item.creditCardImg"
        style="border-radius: 50%"
        width="40"
        height="40"
      />
      } @else {
      <span
        class="material-symbols-outlined"
        [ngStyle]="{
          'background-color': item.categoryColor || '#AFAFAF'
        }"
      >
        {{ item.categoryIcon || "list" }}
      </span>
      }
    </div>

    <div class="description">
      @if (item.type !== 'T') {
      <h3 class="h3">
        @if (item.type === 'I') {
        {{ "invoice.title" | translate }}
        } @if (item.isCreditCardRelease) {
        <span class="material-symbols-outlined">credit_card</span>
        }

        {{ item.description || item.categoryName }}
      </h3>
      } @else {
      <div>
        <h3>
          @if (item.description) {
          {{ item.description }}
          } @else {
          {{ "cash-flow.transfer" | translate }}
          }
        </h3>

        <span class="transfer-sub-title">
          {{ "generic.from" | translate }}
          {{ item.accountName }}
          {{ "generic.to" | translate }}
          {{ item.targetAccountName }}
        </span>
      </div>
      }
    </div>

    <div class="account">
      <span>{{ item.accountName }}</span>
    </div>

    <div class="date">
      <span>{{ item.date | date : "dd/MM/yyyy" }}</span>
      <span>{{ item.time }}</span>
    </div>

    <div class="amount">
      @if (item.type === 'E') {
      <span>-</span>
      } @else if (item.type === 'R') {
      <span>+</span>
      }
      <span> {{ item.amount | customCurrency }}</span>
    </div>

    <div class="situation">
      @if (item.done) {
      <span class="material-symbols-outlined done"> thumb_up </span>
      } @else {
      <span class="material-symbols-outlined pending"> thumb_down </span>
      }
    </div>
  </div>
  }
</div>
