<div
  [ngClass]="{
    'confirmation-dialog': true,
    'dark-page': utilsService.userConfigs.getValue().theme === 'dark'
  }"
>
  <div class="title">
    <h3>{{ language === "pt-br" ? "Confirmação" : "Confirmation" }}</h3>
  </div>

  <div class="content">
    <p>{{ data?.message }}</p>
  </div>

  <div class="buttons">
    <button mat-stroked-button mat-button (click)="onCancelClick()">
      {{ language === "pt-br" ? "Cancelar" : "Cancel" }}
    </button>

    <button mat-stroked-button color="primary" (click)="onConfirmClick()">
      {{ language === "pt-br" ? "Confirmar" : "Confirm" }}
    </button>
  </div>
</div>
