.simple-page {
  display: flex;
  flex-direction: column;

  .page-title {
    display: flex;
    justify-content: space-between;
  }

  .content {
    flex: 1;
    padding: 3.5rem 3rem;

    .config {
      padding: 1rem;
    }

    .theme {
      display: flex;
      flex-direction: column;
      gap: 0.9rem;

      .mat-button-toggle-group {
        width: fit-content !important;
        height: 2.5rem;
        border: none !important;

        .mat-button-toggle {
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
        }

        .mat-button-toggle-appearance-standard {
          background-color: #fff !important;
        }

        .mat-button-toggle-checked {
          background-color: #4caf50 !important;

          .material-symbols-outlined {
            color: #fff !important;
          }
        }
      }
    }

    .email-notifications {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }
  }
}
