<div
  [ngClass]="{
    'simple-page': true,
    'dark-page': theme() === 'dark'
  }"
>
  <h1 class="page-title">
    {{ "settings.title" | translate }}
  </h1>

  <form [formGroup]="configsForm" class="content">
    <div class="config theme">
      <label>{{ "settings.theme" | translate }}:</label>

      <mat-button-toggle-group
        formControlName="theme"
        hideSingleSelectionIndicator="true"
      >
        <mat-button-toggle value="light">
          <i class="material-symbols-outlined">light_mode</i>
        </mat-button-toggle>

        <mat-button-toggle value="dark">
          <i class="material-symbols-outlined">dark_mode</i>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-divider></mat-divider>

    <div class="config">
      <label>{{ "settings.language" | translate }}:</label>

      <mat-form-field>
        <mat-select formControlName="language">
          @for (language of languagesList; track $index) {
          <mat-option [value]="language">
            {{ "settings.languages." + language | translate }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="config">
      <label>{{ "settings.currency" | translate }}:</label>

      <mat-form-field>
        <mat-select formControlName="currency">
          @for (currency of currenciesList; track $index) {
          <mat-option [value]="currency">
            {{ currency }}
            {{ "settings.currencies." + currency | translate }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="config email-notifications">
      <label>{{ "settings.email-notifications" | translate }}:</label>

      <mat-slide-toggle formControlName="emailNotifications"></mat-slide-toggle>
    </div>
  </form>
</div>
