@media screen and (max-width: 1050px) {
  .simple-page {
    overflow-y: scroll !important;
    gap: 2.5rem !important;

    .page-title {
      margin-bottom: 1rem !important;
    }

    .date-interval {
      margin: 0 1.5rem !important;
      flex-shrink: 0 !important;

      .date-interval-content {
        align-items: baseline !important;

        .left {
          margin-left: 0 !important;

          .mat-button-toggle-group {
            width: 8.2rem !important;
            height: 3rem !important;
          }
        }

        .center {
          margin-top: 7.5rem !important;
        }

        #date-interval-select {
          margin-right: 0.5rem !important;
          width: 52%;
          top: 0 !important;
        }
      }
    }

    .content {
      flex-direction: column !important;
      gap: 3rem !important;

      app-releases-by-card {
        width: 92% !important;
        flex: none !important;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .simple-page {
    .date-interval {
      .date-interval-content {
        .center {
          #range-date-picker {
            top: -1rem !important;
          }
        }
      }
    }
  }
}

.simple-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .page-title {
    margin-bottom: 3.5rem;
  }

  .date-interval {
    margin: 0 4rem;
    border-radius: 3rem;

    .date-interval-content {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        margin-left: 3rem;

        .mat-button-toggle-group {
          width: 7.5rem;
          height: 2.7rem;
        }
      }

      .center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 1rem;

        label {
          font-size: 1.3rem;
          text-transform: capitalize;
          width: 12rem;
          display: flex;
          justify-content: center;
        }

        mat-form-field {
          width: 18rem;
          margin: 0;
        }

        #range-date-picker {
          position: relative;
          top: 0.7rem;
        }
      }

      #date-interval-select {
        margin-right: 3rem;
        position: relative;
        top: 0.7rem;
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5rem;

    app-releases-by-card {
      width: 42%;
    }
  }
}
