.simple-page {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	.page-title {
		margin-bottom: 3.5rem;
	}

	.content {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 5rem;
	}
}