.login {
    .login-box {
        height: 370px;

        .top {
            height: 38%;
            gap: .6rem;
        }

        .bottom {
            height: 24%;
            align-items: start;
        }
    }
}