<div
  [ngClass]="{
    'simple-page': true,
    login: true,
    'dark-page': darkTheme
  }"
>
  <div class="login-box">
    <div class="top">
      <img src="assets/money-coin.svg" width="50px" height="50px" />
      <h1>
        {{
          language === "pt-br" ? "Recuperação de senha" : "Password recovery"
        }}
      </h1>
    </div>

    <form [formGroup]="forgotPasswordForm">
      <div fxLayout="row" fxLayoutAlign="center">
        <mat-form-field fxFlex="80" [hideRequiredMarker]="true">
          <mat-label>Email</mat-label>
          <input
            type="text"
            matInput
            formControlName="email"
            autocomplete="off"
          />
        </mat-form-field>
      </div>
    </form>

    <div class="bottom">
      <button
        mat-raised-button
        style="border-radius: 3rem; box-sizing: initial; padding: 1.5rem 2rem"
        color="primary"
        fxFlex="65"
        (click)="resetPassword()"
      >
        <span *ngIf="!showLoading">{{
          language === "pt-br" ? "Recuperar" : "Recovery"
        }}</span>
        <mat-spinner *ngIf="showLoading" color="accent"></mat-spinner>
      </button>
    </div>
  </div>
</div>
