<div
  id="sidebar"
  [ngStyle]="{ backgroundColor: darkThemeEnabled ? '#212121' : '#fafafa' }"
>
  <div class="sidebar-title">
    <img
      ngSrc="assets/money-coin.svg"
      width="45"
      height="45"
      alt="company logo"
    />
    <h1>Finax</h1>
  </div>

  <div class="navigation">
    <ul class="nav-ul">
      <li
        routerLink="/home"
        [ngClass]="{
          'nav-ul-item': true,
          'nav-ul-item-dark': darkThemeEnabled
        }"
      >
        <i class="material-symbols-outlined">home</i>
        <span>{{ language === "pt-br" ? "Início" : "Home" }}</span>
      </li>

      <li
        routerLink="/fluxo-de-caixa"
        [ngClass]="{
          'nav-ul-item': true,
          'nav-ul-item-dark': darkThemeEnabled
        }"
      >
        <i class="material-symbols-outlined">wallet</i>
        <span>
          {{ language === "pt-br" ? "Fluxo de caixa" : "Cash flow" }}
        </span>
      </li>

      <li
        routerLink="/contas-de-banco"
        [ngClass]="{
          'nav-ul-item': true,
          'nav-ul-item-dark': darkThemeEnabled
        }"
      >
        <i class="material-symbols-outlined">account_balance</i>
        <span>
          {{ language === "pt-br" ? "Minhas contas" : "My accounts" }}
        </span>
      </li>

      <li
        routerLink="/cartoes-de-credito"
        [ngClass]="{
          'nav-ul-item': true,
          'nav-ul-item-dark': darkThemeEnabled
        }"
      >
        <i class="material-symbols-outlined">credit_card</i>
        <span>
          {{ language === "pt-br" ? "Cartões de crédito" : "Credit cards" }}
        </span>
      </li>

      <li
        routerLink="/categorias"
        [ngClass]="{
          'nav-ul-item': true,
          'nav-ul-item-dark': darkThemeEnabled
        }"
      >
        <i class="material-symbols-outlined">sell</i>
        <span>
          {{ language === "pt-br" ? "Categorias" : "Categories" }}
        </span>
      </li>
    </ul>
  </div>

  <div class="user-options">
    <ul [ngClass]="{ 'nav-ul': true, hidden: userActionsUl }">
      <li
        routerLink="/meu-perfil"
        [ngClass]="{
          'nav-ul-item': true,
          'nav-ul-item-dark': darkThemeEnabled
        }"
      >
        <i class="material-symbols-outlined">account_circle</i>
        <span>{{ language === "pt-br" ? "Meu perfil" : "My profile" }}</span>
      </li>

      <li
        routerLink="/configuracoes"
        [ngClass]="{
          'nav-ul-item': true,
          'nav-ul-item-dark': darkThemeEnabled
        }"
      >
        <i class="material-symbols-outlined">settings</i>
        <span>{{ language === "pt-br" ? "Configurações" : "Settings" }}</span>
      </li>

      <li
        (click)="logout()"
        [ngClass]="{
          'nav-ul-item': true,
          'nav-ul-item-dark': darkThemeEnabled
        }"
      >
        <i class="material-symbols-outlined">logout</i>
        <span>{{ language === "pt-br" ? "Sair" : "Logout" }}</span>
      </li>
    </ul>

    <li
      (click)="userActionsUl = !userActionsUl"
      [ngClass]="{
        'nav-ul-item': true,
        'user-item': true,
        'nav-ul-item-dark': darkThemeEnabled
      }"
    >
      <img [src]="utilsService.userImage | async" alt="user profile image" />

      <span>{{ loginService.getLoggedUser?.firstName }}</span>

      <i class="material-symbols-outlined">
        {{ userActionsUl ? "expand_less" : "expand_more" }}
      </i>
    </li>
  </div>
</div>
