@media screen and (max-width: 1050px) {
  #sidebar {
    padding-bottom: 0.8rem !important;
  }
}

#sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 2px 6px rgba(0, 0, 0, 0.12);
  background-color: var(--sidebar-background-color) !important;

  app-logo-title {
    margin: 1.5rem 3rem 1rem 1rem;
  }

  .navigation {
    overflow-y: auto;
    flex: 1;
  }

  .nav-ul {
    list-style: none;
    padding: 0.5rem;
    margin-top: 0.5rem;

    .nav-ul-item {
      display: flex;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
      padding: 1.1rem 0;
      outline: none;

      * {
        color: var(--sidebar-font-color);
      }

      &:hover {
        background-color: var(--background-hover-color);
        border-radius: 3px;
      }

      .material-symbols-outlined {
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      span {
        font-weight: 500;
      }
    }
  }

  .user-options {
    padding: 0.5rem;
    margin-top: auto;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #c4c4c4b8;

    .nav-ul {
      margin-top: 0;
      transform-origin: bottom;
    }
  }

  .user-item {
    padding-left: 0.5rem !important;

    img {
      border-radius: 50%;
      margin-right: 0.5rem;
    }

    span {
      overflow-x: hidden;
    }

    i {
      margin-left: auto;
    }
  }
}

.hidden {
  display: none !important;
}
