<div
  id="sidebar"
  [ngStyle]="{ backgroundColor: darkThemeEnabled() ? '#212121' : '#fafafa' }"
>
  @if (!isMobile()) {
  <app-logo-title></app-logo-title>
  }

  <div class="navigation">
    <mat-list role="list" class="nav-ul">
      @for (item of routes; track $index) {
      <mat-list-item
        [routerLink]="item.route"
        [ngClass]="{
          'nav-ul-item': true,
          'nav-ul-item-dark': darkThemeEnabled()
        }"
      >
        <mat-icon
          matListItemIcon
          [innerText]="item.icon"
          class="material-symbols-outlined"
        ></mat-icon>
        <span>{{ item.label | translate }}</span>
      </mat-list-item>
      }
    </mat-list>
  </div>

  <div class="user-options">
    <mat-list role="list" class="nav-ul">
      @for (item of bottomRoutes; track $index) {
      <mat-list-item
        (click)="item.icon === 'logout' ? logout() : true"
        [routerLink]="item.route"
        [ngClass]="{
          'nav-ul-item': true,
          'nav-ul-item-dark': darkThemeEnabled(),
          hidden: !userActionsUl
        }"
      >
        <mat-icon
          matListItemIcon
          [innerText]="item.icon"
          class="material-symbols-outlined"
        ></mat-icon>
        <span>{{ item.label | translate }}</span>
      </mat-list-item>
      }

      <mat-list-item
        (click)="userActionsUl = !userActionsUl"
        [ngClass]="{
          'nav-ul-item': true,
          'user-item': true,
          'nav-ul-item-dark': darkThemeEnabled()
        }"
        style="padding: 1.5rem 0"
      >
        <img
          [ngSrc]="
            (utils.userImage | async) ||
            cloudFireCdnImgsLink + 'user-image.webp'
          "
          width="28"
          height="28"
          alt="user profile image"
          priority
        />

        <span>{{ utils.username | async }}</span>

        <div style="margin-left: auto">
          <i class="material-symbols-outlined">
            {{ userActionsUl ? "expand_more" : "expand_less" }}
          </i>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
