<div id="sidebar">
  @if (!isMobile()) {
  <app-logo-title></app-logo-title>
  }

  <div class="navigation">
    <div class="nav-ul">
      <app-sidebar-itens [items]="routes" />
    </div>
  </div>

  <div class="user-options">
    <div class="nav-ul">
      <app-sidebar-itens
        [class.hidden]="!userActionsUl"
        [items]="bottomRoutes"
      />

      <div
        class="nav-ul-item user-item"
        (click)="userActionsUl = !userActionsUl"
      >
        <img
          [ngSrc]="
            (utils.userImage | async) ||
            cloudFireCdnImgsLink + 'user-image.webp'
          "
          width="28"
          height="28"
          alt="user profile image"
          priority
        />

        <span>{{ utils.username | async }}</span>

        <div style="margin-left: auto">
          <i class="material-symbols-rounded">
            {{ userActionsUl ? "expand_more" : "expand_less" }}
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
