::-webkit-scrollbar {
    background-color: transparent !important;
    width: 8px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #7a7a7ad7 !important;
    border-radius: 10px !important;
}

#sidebar {
    background-color: #fafafa;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.12);
    transition-duration: .5s;

    .sidebar-title {
        padding: 1.5rem 3rem 1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        h1 {
            font-size: 2.4em;
            color: #419544;
        }
    }

    .navigation {
        overflow-y: auto;
        flex: 1;
    }

    .nav-ul {
        list-style: none;
        padding: 0.5rem;
        margin-top: 0.5rem;

        .ul-item {
            list-style: none;
            padding: 0 0 0 1rem !important;
            overflow-y: hidden;
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
        }
    }

    .nav-ul-item {
        text-decoration: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 1rem 0;
        color: #666666;

        &:hover {
            background-color: #F5F5F5;
            border-radius: 3px;
            transition-property: background-color, border-color, color;
        }

        i {
            width: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        span {
            font-weight: 500;
        }
    }

    .nav-ul-item-dark {
        transition-duration: .4s;
        color: #dedede !important;

        &:hover {
            background-color: #383838 !important;
        }
    }

    .user-options {
        padding: 0.5rem;
        margin-top: auto;
        border-top-width: 1px;
        border-top-style: solid;
        border-color: #dee2e6;

        .nav-ul {
            margin-top: 0;
            transform-origin: bottom;
        }
    }

    .user-item {
        padding-left: .5rem;

        img {
            width: 28px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            margin-right: 0.5rem;
        }

        span {
            overflow-x: hidden;
        }

        i {
            margin-left: auto;
        }

        &:hover {
            background-color: #EEEEEE;
        }
    }
}

.hidden {
    display: none;
}