<div
  [ngClass]="{
    'dark-page': utilsService.userConfigs.getValue().theme === 'dark'
  }"
  class="edit-balance-dialog"
>
  <div class="title">
    <h1>
      {{ language === "pt-br" ? "Ajustar saldo" : "Adjuste balance" }}
      {{ data.account.accountName }}
    </h1>

    <app-buttons [showClose]="true" mat-dialog-close></app-buttons>
  </div>

  <form [formGroup]="balanceForm" class="content">
    <mat-form-field
      floatLabel="always"
      style="width: 40%"
      [hideRequiredMarker]="true"
    >
      <mat-label>{{ language === "pt-br" ? "Saldo" : "Balance" }}</mat-label>
      <input
        matInput
        placeholder="0"
        currencyMask
        [options]="{ prefix: currency + ' ' }"
        formControlName="balance"
      />
      <mat-hint class="text-600 w-full">{{
        language === "pt-br"
          ? "Digite - para saldo negativo e + para positivo"
          : "Enter - for negative balance and + for positive"
      }}</mat-hint>
    </mat-form-field>
  </form>

  <div class="actions">
    <app-buttons
      [showSave]="true"
      [disableSave]="balanceForm.invalid || balanceForm.pristine || loading"
      [smallBtn]="true"
      [showSaveLoading]="loading"
      (onSave)="save()"
    ></app-buttons>
  </div>
</div>
