<div
  class="released-features-dialog"
  [ngClass]="{ 'dark-page': utilsService.getUserConfigs.theme === 'dark' }"
>
  <div class="top">
    <h1>
      {{
        language === "pt-br"
          ? "Funcionalidades/telas liberadas"
          : "Released features/screens"
      }}
    </h1>

    <button
      mat-icon-button
      mat-dialog-close
      style="position: absolute; right: 1rem; top: 1rem; transform: scale(0.9)"
    >
      <span class="material-symbols-outlined">close</span>
    </button>
  </div>

  <div class="content">
    <div class="grid-box">
      <div class="grid-item">
        <span class="material-symbols-outlined pending">close</span>
        {{ language === "pt-br" ? "Fluxo de caixa" : "Cash flow" }}
      </div>

      <div class="grid-item">
        <span class="material-symbols-outlined pending">close</span>
        {{ language === "pt-br" ? "Investimentos" : "Investiments" }}
      </div>

      <div class="grid-item">
        <span class="material-symbols-outlined pending">close</span>
        {{ language === "pt-br" ? "Relatórios" : "Reports" }}
      </div>

      <div class="grid-item">
        <span class="material-symbols-outlined pending">close</span>
        {{ language === "pt-br" ? "Índices de mercado" : "Market indicators" }}
      </div>

      <!-- <div class="grid-item">
        <span class="material-symbols-outlined pending">close</span>
        Newsletter
      </div> -->

      <div class="grid-item">
        <span class="material-symbols-outlined pending">close</span>
        {{ language === "pt-br" ? "Metas de gasto" : "Spending goals" }}
      </div>

      <div class="grid-item">
        <span class="material-symbols-outlined done">done</span>
        {{ language === "pt-br" ? "Contas de banco" : "Bank accounts" }}
      </div>

      <div class="grid-item">
        <span class="material-symbols-outlined pending">close</span>
        {{
          language === "pt-br" ? "Calculadora de juros" : "Interest calculator"
        }}
      </div>

      <div class="grid-item">
        <span class="material-symbols-outlined done">done</span>
        {{ language === "pt-br" ? "Meu perfil" : "My profile" }}
      </div>

      <div class="grid-item">
        <span class="material-symbols-outlined done">done</span>
        {{ language === "pt-br" ? "Configurações" : "Settings" }}
      </div>
    </div>
  </div>
</div>
