<div
  [ngClass]="{
    'dark-page': utils.getUserConfigs.theme === 'dark'
  }"
  class="edit-balance-dialog"
>
  <div class="title">
    <h1>
      {{ "my-accounts.adjust-balance" | translate }}
      -
      {{ data.account.name }}
    </h1>

    <app-buttons [showClose]="true" mat-dialog-close></app-buttons>
  </div>

  <div class="content">
    <mat-form-field
      floatLabel="always"
      style="width: 40%"
      [hideRequiredMarker]="true"
    >
      <mat-label>{{ "my-accounts.balance" | translate }}</mat-label>
      <input
        matInput
        placeholder="0"
        currencyMask
        [options]="{ prefix: currency + ' ' }"
        [formControl]="balanceControl"
      />
      <mat-hint>
        {{ "my-accounts.minus-for-negative-more-for-positive" | translate }}
      </mat-hint>
    </mat-form-field>
  </div>

  <div class="actions">
    <app-buttons
      [showSave]="true"
      [disableSave]="
        balanceControl.invalid || balanceControl.pristine || loading()
      "
      [smallBtn]="true"
      [showLoading]="loading()"
      (onSave)="save()"
    ></app-buttons>
  </div>
</div>
