@import '../../../../public/components/header/public-header.component.scss';
@import '../../../../public/components/footer/public-footer.component.scss';

@media screen and (max-width: 600px) {
    #mobile-section {
        font-size: 1rem !important;
    }
}

.mobile-page {
    display: flex;
    flex-direction: column;

    #mobile-section {
        width: 100vw;
        height: calc(100vh - $header-height);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background-image: url('https://d3dpbaewouik5z.cloudfront.net/imgs/bg-first-section.webp');
        background-size: cover;
        background-position: center;
        color: white;
        font-size: 2rem;

        h2,
        span {
            width: 93%;
            text-align: center;
        }
    }
}