@use 'generic.scss' as *;
@use 'colors.scss' as *;

.filter-releases-dialog {
    display: flex;
    flex-direction: column;

    * {
        font-family: $default-font-family !important;
    }

    .title {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        margin-top: 1rem;
        margin-left: 1.5rem;
        margin-right: 2rem;
    }

    .filters {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        gap: 1rem;

        .row {
            display: flex;
            justify-content: space-evenly;

            mat-form-field {
                width: 33%;
            }
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 2rem 1.5rem 0;
        gap: 1.5rem;
    }
}

.dark-page {
    .filters {
        color: $dark-font-color;
    }
}