.account-form-dialog {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        margin-bottom: 1rem;

        h1 {
            font-size: 1.6rem;
        }
    }
}