@import '../../../shared/styles/colors.scss';

.select-icon-dialog {
    max-height: 75vh;
    max-width: 30rem;

    .title {
        padding: 1.5rem;
    }

    .icons {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-height: 60%;
        overflow-y: hidden;
        gap: 1.5rem;
        padding: .5rem 3rem 1.5rem 3rem;

        img {
            border-radius: 50%;
            border: 1px solid rgba(151, 151, 151, 0.33);
            cursor: pointer;
            transition-duration: 0.4s;

            &:hover {
                opacity: 80%;
                box-shadow: 0 0 4px #ffffff95;
                transform: scale(1.1);
            }
        }
    }
}

.dark-page {
    .icons {
        background-color: $dark-bg;

        img {
            background-color: #f8f8f8;
            border: none !important;
        }
    }
}