@use "colors.scss" as *;

::ng-deep ::-webkit-scrollbar {
  display: none;
}

.select-icon-dialog {
  max-height: 75vh;
  max-width: 30rem;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }

  .icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 60%;
    overflow-y: hidden;
    gap: 1.5rem;
    padding: 0.5rem 3rem 1.5rem 3rem;

    img {
      border-radius: 50%;
      cursor: pointer;
      background-color: var(--background);

      &:hover {
        opacity: 80%;
        box-shadow: var(--default-box-shadow);
        transform: scale(1.1);
      }
    }
  }
}
