@media screen and (max-width: 1050px) {
  #balances {
    flex-direction: row !important;
    overflow-x: scroll !important;
    padding: 0 1rem !important;

    app-invoice-balance {
      min-width: 20rem !important;
      margin-bottom: 0.5rem;
    }
  }
}

@media screen and (max-width: 650px) {
  #balances {
    gap: 0 !important;

    app-invoice-balance {
      min-width: 15rem !important;
    }
  }
}

#balances {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  app-invoice-balance {
    width: 100%;
  }
}
