.new-release-cash-flow-dialog {
    background-color: transparent;
    width: 40vw !important;
    padding: .6rem;

    .top {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
        z-index: 1;
        background-color: transparent;

        .close-btn {
            position: absolute;
            right: 1rem;
        }

        .save-btn {
            position: absolute;
            left: 1.5rem;
            padding: 1.3rem 1.3rem;
        }
    }

    .content {
        display: flex;
        flex-direction: column;

        .selected-file {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 1.2rem;

            .file-content {
                width: 90%;
                display: flex;
                flex-direction: column;
                padding: 0 2rem;
                gap: .7rem;

                .file {
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    button {
                        position: absolute;
                        right: 5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: scale(0.9);

                        &:hover {
                            border: 1px solid red;
                            color: red;
                        }
                    }
                }
            }
        }

        .repeat {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .observation {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .bottom {
            padding: 0 5rem;
            display: flex;
            justify-content: space-around;
            margin-bottom: 2rem;

            .bottom-btn {
                width: 4.4rem;
                aspect-ratio: 1/1;
                border: 1px solid #b6b6b673;
                color: #a1a1a1;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    transform: scale(1.2);
                }

                &:hover {
                    border-color: #cecece;
                }
            }
        }
    }
}