.new-release-cash-flow-dialog {
    background-color: transparent;

    .top {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.7rem 0;
        z-index: 1;
        background-color: transparent;

        .close-btn {
            position: absolute;
            right: 1rem;
        }

        .save-btn {
            position: absolute;
            left: 1.5rem;
            padding: 1.3rem 1.3rem;
        }
    }

    mat-tab-group {
        width: 40rem !important;

        .tab-content {
            padding: 1.5rem 0 !important;
        }
    }
}