<div [ngClass]="{
    'simple-page': true,
    login: true,
    'dark-page': utilsService.getUserConfigs.theme === 'dark'
  }">
  <div class="login-box">
    <div class="top">
      <img ngSrc="assets/money-coin.svg" width="50" height="50" alt="company logo" />
      <h1 class="h1">
        {{
        language === "pt-br" ? "Recuperação de senha" : "Password recovery"
        }}
      </h1>
    </div>

    <form [formGroup]="forgotPasswordForm">
      <div style="display: flex; justify-content: center">
        <mat-form-field style="width: 80%" [hideRequiredMarker]="true">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email" autocomplete="off" autofocus />
        </mat-form-field>
      </div>
    </form>

    <div class="bottom">
      @if (!showLoading) {
      <button mat-raised-button color="primary" (click)="resetPassword()">
        <span>{{ language === "pt-br" ? "Recuperar" : "Recovery" }}</span>
      </button>
      } @else {
      <mat-spinner [diameter]="40"></mat-spinner>
      }
    </div>
  </div>
</div>