@media screen and (max-width: 1050px) {
  .release-details {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 650px) {
  .release-details {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;

    .content {
      width: 100% !important;

      .row3 {
        flex-wrap: wrap !important;
      }
    }
  }
}

.release-details {
  width: 45vw;
  overflow-y: hidden !important;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin-bottom: 2.5rem;

  .content {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .row1 {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0 1.6rem 0 1rem;

      .material-symbols-rounded {
        padding: 1rem;
        color: #fff;
        border-radius: 50%;
      }

      .principal {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .transfer {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.8rem;

          .material-symbols-rounded {
            color: var(--primary-font-color);
            padding: 0.3rem !important;
          }
        }

        .account-card-name {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 1.2rem;

          .material-symbols-rounded {
            padding: inherit;
            border-radius: 0%;
            color: var(--primary);
          }
        }
      }

      .amount {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1.5rem;
      }

      .margin-top {
        position: relative;
        top: 2rem;
      }
    }

    .row2 {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0 5rem 1rem 1rem;

      .observation {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 2rem;
      }

      .date {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: end;
      }

      .up {
        position: relative;
        bottom: 1rem;
      }
    }

    .row3 {
      margin-top: 4rem;
      display: flex;
      justify-content: end;
      gap: 2rem;
    }
  }
}
