<div class="release-details" [class.dark-page]="darkThemeEnabled">
  <div class="content">
    <div class="row1">
      <span
        class="material-symbols-outlined"
        [class.margin-top]="!release.observation"
        [style.background-color]="release.category?.color || '#AFAFAF'"
      >
        @if (release.isBalanceAdjustment) { edit }
        <!--  -->
        @else {
        {{ release.category?.icon || "list" }}
        }
      </span>

      <div class="principal" [class.margin-top]="!release.observation">
        @if (release.type !== 'T') {
        <h2>
          @if (release.isBalanceAdjustment) {
          {{ "cash-flow.balance-adjustment" | translate }}
          } @else {
          {{ release.description || release.category?.name }}

          @if (!release.description && !release.category?.name) {
          {{ "cash-flow.others" | translate }}
          }
          <!---->
          }
        </h2>

        <span class="account-card-name">
          @if (release.card) {
          <span class="material-symbols-outlined">credit_card</span>
          }
          {{ release.account?.name || release.card?.name }}
        </span>
        } @else {
        <h2>
          {{
            release.description
              ? release.description
              : ("cash-flow.transfer" | translate)
          }}
        </h2>

        <span class="transfer">
          {{ release.account?.name }}
          <span class="material-symbols-outlined">arrow_right_alt</span>
          {{ release.targetAccount?.name }}
        </span>
        }
      </div>

      <div class="amount">
        <h2>
          {{ release.type === "E" ? "-" : "" }}{{ currency
          }}{{ release.amount | customCurrency }}
        </h2>

        @if (release.done) {
        <span class="material-symbols-outlined done"> thumb_up </span>
        } @else {
        <span class="material-symbols-outlined pending"> thumb_down </span>
        }
      </div>
    </div>

    <div class="row2">
      @if (release.observation) {
      <div class="observation">
        <span>{{ "generic.observation" | translate }}:</span>

        <span>
          {{ release.observation }}
        </span>
      </div>
      }

      <div
        class="date"
        [class.up]="release.observation && release.observation.length > 40"
      >
        <span>
          {{ release.date | date : "dd/MM/yyyy" }}
        </span>

        <span>
          {{ release.time }}
        </span>
      </div>
    </div>

    <div class="row3">
      <app-buttons
        [showDownload]="release.attachmentName !== null"
        [btnStyle]="{
          padding: '1.9rem',
          color: release.isBalanceAdjustment ? 'green !important' : ''
        }"
        [contentStyle]="{
          color: release.isBalanceAdjustment ? 'green !important' : ''
        }"
        (onDownload)="downloadAttachment()"
      ></app-buttons>

      <app-buttons
        [showEdit]="release.type !== 'I'"
        [disableEdit]="release.isBalanceAdjustment"
        [btnStyle]="{
          padding: '1.9rem',
          color: release.isBalanceAdjustment ? 'green !important' : ''
        }"
        [contentStyle]="{
          color: release.isBalanceAdjustment ? 'green !important' : ''
        }"
        (onEdit)="edit()"
      ></app-buttons>

      <app-buttons
        [showDelete]="release.type !== 'I'"
        [btnStyle]="{
          padding: '1.9rem',
          color: release.isBalanceAdjustment ? 'green !important' : ''
        }"
        [contentStyle]="{
          color: release.isBalanceAdjustment ? 'green !important' : ''
        }"
        (onDelete)="delete()"
      ></app-buttons>
    </div>
  </div>
</div>
