<div class="release-details">
  <div class="content">
    <div class="row1">
      <span
        class="material-symbols-rounded"
        [style.top]="marginTopPrincipal()"
        [style.background-color]="release().category?.color || '#AFAFAF'"
      >
        @if (release().isBalanceAdjustment) { edit }
        <!--  -->
        @else {
        {{ release().category?.icon || "list" }}
        }
      </span>

      <div class="principal" [style.top]="marginTopPrincipal()">
        @if (release().type !== 'T') {
        <h2>
          @if (release().isBalanceAdjustment) {
          {{ "cash-flow.balance-adjustment" | translate }}
          } @else {
          {{ release().description || release().category?.name }}

          @if (!release().description && !release().category?.name) {
          {{ "cash-flow.others" | translate }}
          }
          <!---->
          }
        </h2>

        <div class="account-card-name">
          @if (release().card) {
          <span class="material-symbols-rounded">credit_card</span>
          }
          <label>
            {{ release().account?.name || release().card?.name }}
          </label>
        </div>
        } @else {
        <h2>
          {{
            release().description
              ? release().description
              : ("cash-flow.transfer" | translate)
          }}
        </h2>

        <label class="transfer">
          {{ release().account?.name }}
          <span class="material-symbols-rounded">arrow_right_alt</span>
          {{ release().targetAccount?.name }}
        </label>
        }
      </div>

      <label class="amount">
        <h2>
          {{
            (release().type === "E" ? "-" : "") +
              currency +
              (release().amount | customCurrency)
          }}
        </h2>

        <app-buttons
          id="situation-icon"
          [showGeneric]="true"
          [genericIcon]="release().done ? 'thumb_up' : 'thumb_down'"
          [genericStyle]="updateDoneBtnStyle"
          [contentStyle]="updateDoneBtnContentStyle()"
          (onGeneric)="updateDone()"
        ></app-buttons>
      </label>
    </div>

    <div class="row2">
      <div class="left">
        @if (release().installmentNumber) {
        <label class="installment">
          {{ "cash-flow.installment" | translate }}
          {{ release().installmentNumber + "/" + release().totalInstallments }}
        </label>
        } @if (release().observation) {
        <label class="observation">
          <span>{{ "generic.observation" | translate }}:</span>

          <span>
            {{ release().observation }}
          </span>
        </label>
        }
      </div>

      <label class="date">
        <span>
          {{ release().date | date : "dd/MM/yyyy" }}
        </span>

        <span>
          {{ release().time }}
        </span>
      </label>
    </div>

    <div class="row3">
      <app-buttons
        [showDownload]="release().attachmentName !== null"
        [btnStyle]="{
          padding: '1.9rem',
        }"
        (onDownload)="downloadAttachment()"
      ></app-buttons>

      <app-buttons
        [showEdit]="release().type !== 'I'"
        [disableEdit]="release().isBalanceAdjustment"
        [btnStyle]="{
          padding: '1.9rem',
        }"
        (onEdit)="edit()"
      ></app-buttons>

      <app-buttons
        [showDelete]="release().type !== 'I'"
        [btnStyle]="{
          padding: '1.9rem',
        }"
        (onDelete)="delete()"
      ></app-buttons>
    </div>
  </div>
</div>
