.login {
  .login-box {
    height: fit-content;
    padding-top: 4rem;
    padding-bottom: 3rem;

    .top {
      height: 38%;
      gap: 0.6rem;
    }

    .bottom {
      height: 24%;
      align-items: flex-start;

      app-buttons {
        width: 65%;
      }
    }

    #email-sent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .success-message {
        font-size: 1.2rem;
        color: var(--text-primary);
        margin-bottom: 1rem;
      }
    }
  }
}