@import 'colors.scss';

.login {
    .login-box {
        height: 370px;

        .top {
            height: 38%;
            gap: .6rem;
        }

        .bottom {
            height: 24%;
            align-items: flex-start;

            app-buttons {
                width: 65%;
                // border-radius: 3rem;
                // padding: 1.5rem 2rem;
            }
        }
    }

    .login-label {
        color: $primary-font-color;
        font-weight: bold;
        cursor: pointer;
    }
}