.login {
  .login-box {
    height: 370px;

    .top {
      height: 38%;
      gap: 0.6rem;
    }

    .bottom {
      height: 24%;
      align-items: flex-start;

      app-buttons {
        width: 65%;
      }
    }
  }
}