<div
  [ngClass]="{
    'simple-page': true,
    login: true,
    'dark-page': utils.getUserConfigs.theme === 'dark'
  }"
>
  <div class="login-box">
    <div class="top">
      <img
        [ngSrc]="cloudFireCdnImgsLink + 'money-coin.svg'"
        width="50"
        height="50"
        alt="company logo"
      />

      <h1>
        {{ "forgot-password.title" | translate }}
      </h1>
    </div>

    <form>
      <div style="display: flex; justify-content: center">
        <mat-form-field style="width: 80%">
          <mat-label>{{ "generic.email" | translate }}</mat-label>
          <input
            type="text"
            matInput
            [formControl]="emailControl"
            autocomplete="off"
            autofocus
            maxlength="255"
          />
        </mat-form-field>
      </div>
    </form>

    <div class="bottom">
      @if (showLoading()) {
      <mat-spinner [diameter]="40"></mat-spinner>
      } @else {
      <button
        mat-flat-button
        color="primary"
        (click)="sendChangePasswordEmail()"
        [disabled]="emailControl.invalid"
      >
        <span>{{ "forgot-password.recovery" | translate }}</span>
      </button>
      }
    </div>
  </div>
</div>
