<div class="new-revenue-form">
  <form [formGroup]="revenueForm">
    <div class="row1">
      <mat-form-field style="width: 75%" [hideRequiredMarker]="true">
        <mat-label>
          {{ language === "pt-br" ? "Descrição" : "Description" }}
        </mat-label>
        <input matInput type="text" formControlName="description" autofocus />
      </mat-form-field>
    </div>

    <div class="row2">
      <mat-form-field style="width: 39%" [hideRequiredMarker]="true">
        <mat-label>
          {{ language === "pt-br" ? "Conta/cartão" : "Account/card" }}
        </mat-label>
        <mat-select formControlName="accountId">
          <mat-select-trigger>
            <ng-container
              *ngTemplateOutlet="selectedItemTemplate"
            ></ng-container>
          </mat-select-trigger>

          @for (account of accountsList; track account.id) {
          <mat-option [value]="account.id" class="bank-account-item">
            <div class="option-content">
              @if (account.image) {
              <img
                [ngSrc]="'assets/banks/' + account.image"
                width="30"
                height="30"
                alt="bank account logo"
              />
              } @else {
              <span class="material-symbols-outlined default-account-logo">
                account_balance
              </span>
              }
              <span>{{ account.name }}</span>
            </div>
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <ng-template #selectedItemTemplate>
        <div class="selected-account">
          @if (selectedAccount && selectedAccount.image) {
          <img
            [ngSrc]="'assets/banks/' + selectedAccount.image"
            width="20"
            height="20"
            alt="bank account logo"
          />
          }
          <span>{{ selectedAccount?.name }}</span>
        </div>
      </ng-template>

      <mat-form-field style="width: 37%" [hideRequiredMarker]="true">
        <mat-label>
          {{ language === "pt-br" ? "Valor" : "Value" }}
        </mat-label>
        <input
          matInput
          type="text"
          formControlName="amount"
          placeholder="0"
          currencyMask
          [options]="{ prefix: currency + ' ', allowNegative: false }"
        />
      </mat-form-field>
    </div>

    <div class="row3">
      <mat-form-field style="width: 38%" [hideRequiredMarker]="true">
        <mat-label>
          {{ language === "pt-br" ? "Data" : "Date" }}
        </mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field style="width: 38%">
        <mat-label>
          {{ language === "pt-br" ? "Hora" : "Hour" }}
        </mat-label>
        <input matInput type="time" formControlName="time" />
      </mat-form-field>
    </div>

    <div class="row4">
      <mat-form-field style="width: 38%">
        <mat-label>
          {{ language === "pt-br" ? "Categoria" : "Category" }}
        </mat-label>
        <mat-select formControlName="categoryId"></mat-select>
      </mat-form-field>

      <mat-checkbox formControlName="done">
        {{ language === "pt-br" ? "Realizado" : "Realized" }}
      </mat-checkbox>
    </div>

    <div class="row5">
      <mat-form-field appearance="outline" style="width: 75%">
        <mat-label>
          {{ language === "pt-br" ? "Observação" : "Observation" }}
        </mat-label>
        <textarea matInput formControlName="observation"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
