<div
  [ngClass]="{
    'dark-page': utilsService.userConfigs.getValue().theme === 'dark'
  }"
  class="simple-page"
>
  <h1 class="page-title">
    {{ language === "pt-br" ? "Cartões de crédito" : "Credit cards" }}
  </h1>

  <div class="content">
    <mat-card class="card" [formGroup]="cardForm">
      <div style="display: flex; justify-content: end">
        <app-buttons
          [showSave]="true"
          [disableSave]="cardForm.invalid || cardForm.pristine || saving"
          [showSaveLoading]="saving"
          (onSave)="save()"
        ></app-buttons>
      </div>

      <div class="first-row">
        <app-buttons
          [showGoBack]="true"
          (onGoBack)="location.back()"
        ></app-buttons>

        <mat-form-field [hideRequiredMarker]="true" style="width: 30%">
          <mat-label>{{ language === "pt-br" ? "Nome" : "Name" }}</mat-label>
          <input
            type="text"
            matInput
            #accountName
            maxlength="40"
            formControlName="name"
            autofocus
          />
          <mat-hint align="end">
            {{ accountName.value.length }}/{{ accountName.maxLength }}
          </mat-hint>
        </mat-form-field>

        <mat-form-field
          style="width: 20%"
          floatLabel="always"
          [hideRequiredMarker]="true"
        >
          <mat-label>{{ language === "pt-br" ? "Limite" : "Limit" }}</mat-label>
          <input
            type="text"
            matInput
            formControlName="card_limit"
            currencyMask
            [options]="{ prefix: currency + ' ' }"
            placeholder="0"
          />
        </mat-form-field>

        <mat-checkbox formControlName="active">
          {{ language === "pt-br" ? "Ativo" : "Active" }}
        </mat-checkbox>
      </div>

      <div class="second-row">
        <mat-form-field style="width: 28%" [hideRequiredMarker]="true">
          <mat-label>
            {{
              language === "pt-br"
                ? "Conta de pagamento padrão"
                : "Standard payment account"
            }}
          </mat-label>
          <mat-select formControlName="standard_payment_account_id">
            <mat-select-trigger>
              <ng-container
                *ngTemplateOutlet="selectedAccountTemplate"
              ></ng-container>
            </mat-select-trigger>

            <ng-template #selectedAccountTemplate>
              <div class="selected-account">
                @if (selectedAccount && selectedAccount.image) {
                <img
                  [ngSrc]="'assets/banks/' + selectedAccount.image"
                  width="20"
                  height="20"
                  alt="bank account logo"
                />
                }
                <span>{{ selectedAccount?.name }}</span>
              </div>
            </ng-template>

            @for (account of accounsList; track account.id) {
            <mat-option [value]="account.id" class="bank-account-item">
              <div class="account-opt">
                @if (account.image) {
                <img
                  [ngSrc]="'assets/banks/' + account.image"
                  width="30"
                  height="30"
                  alt="bank account logo"
                />
                } @else {
                <span class="material-symbols-outlined default-account-logo">
                  account_balance
                </span>
                }
                <span>{{ account.name }}</span>
              </div>
            </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="true">
          <mat-label>
            {{ language === "pt-br" ? "Fecha dia" : "Close day" }}
          </mat-label>
          <mat-select formControlName="close_day">
            @for (day of daysOfMonth; track $index) {
            <mat-option [value]="day">{{ day }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="true">
          <mat-label>
            {{ language === "pt-br" ? "Expira dia" : "Expires day" }}
          </mat-label>
          <mat-select formControlName="expires_day">
            @for (day of daysOfMonth; track $index) {
            <mat-option [value]="day">{{ day }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <div id="img-div">
          @if (!cardForm.value.image) {
          <span class="material-symbols-outlined" (click)="selectIcon()">
            credit_card
          </span>
          } @else {
          <img
            [ngSrc]="'assets/banks/' + cardForm.value.image"
            width="70"
            height="70"
            (click)="selectIcon()"
            alt="credit card image"
          />
          }
          <span id="text" (click)="selectIcon()">
            {{ language === "pt-br" ? "Selecione um ícone" : "Select an icon" }}
          </span>
        </div>
      </div>
    </mat-card>
  </div>
</div>
