@import '../../../../../utils/colors.scss';

@media (min-width: 1650px) and (min-height: 800px) {
    .second-row {
        #img-div {
            margin-left: 4rem !important;
        }
    }
}

.simple-page {
    display: flex;
    flex-direction: column;

    .content {
        flex: 1;
        display: grid;
        place-items: center;

        .card {
            width: 74%;
            padding: 1.5rem;
            background-color: #fefefe;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .first-row {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 1.5rem;
                position: relative;
                bottom: 1rem;
            }

            .second-row {
                display: flex;
                gap: 1.5rem;
                margin: 0 0 2rem 1rem;

                .selected-account {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    img {
                        border-radius: 50%;
                    }
                }

                #img-div {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: .2rem;
                    margin-left: 1rem;

                    .material-symbols-outlined {
                        width: 70px;
                        height: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        box-shadow: 0 0 2px #5d5d5d;
                        cursor: pointer;
                    }

                    img {
                        border-radius: 50%;
                        box-shadow: 0 0 2px #5d5d5d;
                        cursor: pointer;
                    }

                    #text {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.dark-page {
    .content {
        .card {
            background-color: $dark-card-bg !important;
            color: #fff !important;
        }
    }
}