.home-widget {
    padding-bottom: 1rem;

    mat-card-header {
        margin-bottom: .8rem;
    }

    mat-card-content {
        padding: 0 1rem !important;
        max-height: 30vh;
        overflow-y: scroll;
    }
}