<div
  [ngClass]="{
    'simple-page': true,
    'dark-page': utils.getUserConfigs.theme === 'dark'
  }"
>
  <div class="content">
    <mat-card class="card">
      <header>
        <div class="first-row">
          <div class="left">
            <h1>
              {{ "cash-flow.title" | translate }}
            </h1>

            <button
              mat-icon-button
              id="add-btn"
              [mat-menu-trigger-for]="newReleaseMenu"
            >
              <span class="material-symbols-outlined">add</span>
            </button>

            <mat-menu #newReleaseMenu="matMenu">
              <div
                class="new-release-menu"
                [ngStyle]="{
                  'background-color':
                    utils.getUserConfigs.theme === 'dark' ? '#3b3b3bfd' : '',
                  color: utils.getUserConfigs.theme === 'dark' ? '#dddddd' : ''
                }"
              >
                <span (click)="addRelease('E')">
                  {{ "cash-flow.new-expense" | translate }}
                </span>

                <span (click)="addRelease('R')">
                  {{ "cash-flow.new-revenue" | translate }}
                </span>

                <span (click)="addRelease('T')">
                  {{ "cash-flow.new-transfer" | translate }}
                </span>
              </div>
            </mat-menu>
          </div>

          <div class="right">
            <app-buttons
              [showGeneric]="true"
              genericIcon="filter_list"
              genericLabel="filters.filter"
              [btnStyle]="{
                position: 'relative',
                top: '.7rem',
                right: '1rem'
              }"
              (onGeneric)="openFilterDialog()"
            ></app-buttons>
          </div>
        </div>

        <div class="second-row">
          <button
            mat-icon-button
            (click)="changeMonth('before')"
            [disabled]="searching()"
          >
            <span class="material-symbols-outlined">chevron_left</span>
          </button>

          <div class="tab">
            {{ selectedDate | releasesMonth }}
          </div>

          <button
            mat-icon-button
            (click)="changeMonth('next')"
            [disabled]="searching()"
          >
            <span class="material-symbols-outlined">navigate_next</span>
          </button>
        </div>
      </header>

      <app-releases-list
        [releases]="monthlyValues().releases"
        [accounts]="accounts"
        [categories]="categories"
        [creditCards]="creditCards"
        [selectedDate]="selectedDate"
        (updateList)="getReleases()"
        id="releases-list"
      ></app-releases-list>

      <app-cash-flow-balances
        class="balances"
        [currency]="currency"
        [balances]="balances()"
      ></app-cash-flow-balances>
    </mat-card>
  </div>
</div>
