@import 'colors.scss';
@import 'generic.scss';

::-webkit-scrollbar {
    display: flex;
    background-color: transparent !important;
    width: 8px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #7a7a7ad7 !important;
    border-radius: 10px !important;
}

@media screen and (max-width: 650px) {
    .simple-page {
        .content {
            .card {
                height: $default-mobile-card-height !important;
                max-height: $default-mobile-card-height !important;
            }
        }
    }
}

.simple-page {
    display: flex;
    flex-direction: column;

    .page-title {
        display: flex;
        align-items: start;
        gap: 1.5rem;
        font-size: 2.3rem;

        #add-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.3rem;
            height: 2.3rem;
            background-color: #099e26;

            .material-symbols-outlined {
                color: #fff;
            }
        }
    }

    .content {
        flex: 1;
        display: flex;
        justify-content: center;
        place-items: center;

        .card {
            height: 87vh;
            max-height: 87vh;
            display: flex;
            flex-direction: column;
            position: relative;
            top: .6rem;

            header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .8rem 1.2rem;
                margin-bottom: 1rem;

                .left,
                .center,
                .right {
                    display: flex;
                    align-items: center;
                    flex: 1;
                }

                .center {
                    justify-content: center;
                    gap: 1rem;
                    color: #464646;

                    .tab {
                        font-size: 1.3rem;
                        text-transform: capitalize;
                        width: 12rem;
                        display: flex;
                        justify-content: center;
                    }
                }

                .right {
                    justify-content: flex-end;
                    padding-right: 2rem;
                }
            }

            #releases-list,
            .empty {
                flex: 1;
                overflow-y: scroll;
            }

            .balances {
                margin-top: auto;
            }
        }
    }
}

.change-view-mode {
    display: flex;
    flex-direction: column;
    padding: .8rem;
    padding-top: 0;

    #title {
        width: 28rem;
        display: flex;
        justify-content: center;
        padding: 1.6rem 0;
        font-size: 1.3rem;
    }

    .mat-button-toggle-group {
        width: 100% !important;

        .mat-button-toggle {
            width: 50%;
        }
    }
}

.new-release-menu {
    display: flex;
    flex-direction: column;
    gap: 0 !important;
    padding: .5rem 0;

    span {
        padding: .7rem 1.2rem;

        &:hover {
            background-color: #8080802a;
            cursor: pointer;
        }
    }
}

.dark-page {
    .content {
        .card {
            background-color: $dark-card-bg;

            header {

                .filter-menu,
                .mat-mdc-menu-content {
                    background-color: $dark-bg !important;
                }

                .tab {
                    color: $dark-font-color;
                }

                button {
                    color: #fff;
                }
            }

            .balances {
                border-top: 1px solid #ffffff32 !important;
            }
        }
    }
}