@use "generic.scss" as *;

::-webkit-scrollbar {
  display: flex;
}

@media screen and (max-width: 1050px) {
  ::-webkit-scrollbar {
    display: none !important;
  }

  .simple-page {
    overflow-y: hidden !important;

    .content {
      flex-direction: column-reverse !important;

      .card {
        width: 100% !important;

        app-releases-list {
          margin-bottom: 9rem !important;
        }
      }

      #balances-component {
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .simple-page {
    .page-title {
      #filter-button-title {
        right: 2.3rem !important;
      }
    }

    .content {
      .card.card {
        padding-top: 0 !important;

        header {
          flex-direction: column-reverse !important;
          padding-top: 0 !important;
          margin-bottom: 0 !important;

          .center {
            margin-top: 1.5rem !important;
          }

          .right {
            position: absolute !important;
            right: 0 !important;
            margin-bottom: 4rem !important;
          }
        }

        app-releases-list {
          width: 100% !important;
          padding: 0 !important;
          margin-bottom: 4rem !important;
        }
      }
    }
  }
}

.simple-page {
  display: flex;
  flex-direction: column;

  .page-title {
    display: flex;
    align-items: start;
    gap: 1.5rem;
    font-size: 2.3rem;

    #add-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.3rem;
      height: 2.3rem;
      background-color: #099e26;

      .material-symbols-outlined {
        color: #fff;
      }
    }

    #filter-button-title {
      position: absolute;
      right: 3rem;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    place-items: flex-start;
    padding-top: 5%;

    .card {
      width: 65%;
      height: 75vh;
      max-height: 75vh;
      display: flex;
      flex-direction: column;
      padding: 0 !important;
      padding-top: 1rem !important;

      header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        margin-bottom: 1rem;

        .center,
        .right {
          display: flex;
          align-items: center;
        }

        .center {
          justify-content: center;
          gap: 1rem;
          color: var(--primary-font-color);
          margin: 0 auto;

          .tab {
            font-size: 1.3rem;
            text-transform: capitalize;
            width: 12rem;
            display: flex;
            justify-content: center;
          }
        }

        .right {
          justify-content: flex-end;
          padding-right: 2rem;
          position: absolute;
          right: 0;
        }
      }

      app-releases-list {
        padding: 0 1.2rem;
        margin-bottom: 1.5rem;
      }

      app-releases-list,
      .empty {
        flex: 1;
        overflow-y: scroll;
      }
    }

    #balances-component {
      width: 22%;
    }
  }
}

.change-view-mode {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  padding-top: 0;

  #title {
    width: 28rem;
    display: flex;
    justify-content: center;
    padding: 1.6rem 0;
    font-size: 1.3rem;
  }

  .mat-button-toggle-group {
    width: 100% !important;

    .mat-button-toggle {
      width: 50%;
    }
  }
}

.new-release-menu {
  display: flex;
  flex-direction: column;
  gap: 0 !important;
  padding: 0.5rem 0;
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);

  label {
    padding: 0.7rem 1.2rem;

    &:hover {
      background-color: var(--button-hover-background-color);
      cursor: pointer;
    }
  }
}
