<div
  [ngClass]="{
    'simple-page': true,
    'dark-page': utilsService.getUserConfigs.theme === 'dark'
  }"
>
  <div class="content">
    <mat-card class="releases-card">
      <header>
        <div class="first-row">
          <div class="left">
            <h1>
              {{ "cash-flow.title" | translate }}
            </h1>

            <button
              mat-icon-button
              id="add-btn"
              [mat-menu-trigger-for]="newReleaseMenu"
            >
              <span class="material-symbols-outlined">add</span>
            </button>

            <mat-menu #newReleaseMenu="matMenu">
              <div
                class="new-release-menu"
                [ngStyle]="{
                  'background-color':
                    utilsService.getUserConfigs.theme === 'dark'
                      ? '#3b3b3bfd'
                      : '',
                  color:
                    utilsService.getUserConfigs.theme === 'dark'
                      ? '#dddddd'
                      : ''
                }"
              >
                <span (click)="addRelease('E')">
                  {{ "cash-flow.new-expense" | translate }}
                </span>

                <span (click)="addRelease('R')">
                  {{ "cash-flow.new-revenue" | translate }}
                </span>

                <span (click)="addRelease('T')">
                  {{ "cash-flow.new-transfer" | translate }}
                </span>
              </div>
            </mat-menu>
          </div>

          <div class="right">
            <button
              mat-stroked-button
              color="primary"
              [mat-menu-trigger-for]="changeViewMode"
            >
              <div class="btn-content">
                <span class="material-symbols-outlined">sync_alt</span>
              </div>
            </button>

            <mat-menu #changeViewMode="matMenu" xPosition="before">
              <div class="change-view-mode">
                <span id="title">
                  {{ "cash-flow.view-mode.title" | translate }}
                </span>

                <mat-button-toggle-group [formControl]="viewModeCtrl">
                  <mat-button-toggle value="invoice">
                    {{ "cash-flow.view-mode.invoices-opt" | translate }}
                  </mat-button-toggle>

                  <mat-button-toggle value="releases">
                    {{ "cash-flow.view-mode.releases-opt" | translate }}
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </mat-menu>
          </div>
        </div>

        <div class="second-row">
          <button
            mat-icon-button
            (click)="changeMonth('before')"
            [disabled]="searching()"
          >
            <span class="material-symbols-outlined">chevron_left</span>
          </button>

          <div class="tab">
            {{ selectedDate | releasesMonth }}
          </div>

          <button
            mat-icon-button
            (click)="changeMonth('next')"
            [disabled]="searching()"
          >
            <span class="material-symbols-outlined">navigate_next</span>
          </button>
        </div>
      </header>

      <app-releases-list
        [releases]="monthlyValues().releases"
        [accounts]="accounts"
        [categories]="categories"
        [creditCards]="creditCards"
        [selectedDate]="selectedDate"
        (updateList)="getReleases()"
        id="releases-list"
      ></app-releases-list>

      <div class="totals">
        <div class="row1">
          <span>
            {{ "cash-flow.revenues" | translate }}: {{ currency
            }}{{ totals().revenues | customCurrency }}
          </span>

          <span>
            {{ "cash-flow.expenses" | translate }}: {{ currency
            }}{{ totals().expenses | customCurrency }}
          </span>

          <span>
            {{ "cash-flow.balance" | translate }}: {{ currency
            }}{{ totals().balance | customCurrency }}
          </span>
        </div>

        @if (viewModeCtrl.value === 'invoice') {
        <div class="row2">
          <span>
            {{ "cash-flow.general-balance" | translate }}: {{ currency
            }}{{ totals().generalBalance || 0 | customCurrency }}
          </span>

          <span>
            {{ "cash-flow.expected-balance" | translate }}: {{ currency
            }}{{ monthlyValues().expectedBalance | customCurrency }}
          </span>
        </div>
        }
      </div>
    </mat-card>
  </div>
</div>
