@import '../../../shared/styles/colors.scss';

::-webkit-scrollbar {
    background-color: transparent !important;
    width: 8px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #7a7a7ad7 !important;
    border-radius: 10px !important;
}

.simple-page {
    overflow: hidden;

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        .releases-card {
            background-color: #fff;
            width: 60%;
            min-height: 95vh;
            max-height: 95vh;
            border-radius: .6rem;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 1.1rem;

            header {
                display: flex;
                flex-direction: column;

                .first-row {
                    display: flex;
                    justify-content: space-between;
                    padding: .8rem 1.2rem;

                    .left {
                        display: flex;
                        align-items: start;
                        gap: 1.5rem;

                        h1 {
                            font-size: 2.3rem;
                        }

                        #add-btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 2.3rem;
                            height: 2.3rem;
                            background-color: #099e26;

                            .material-symbols-outlined {
                                color: #fff;
                            }
                        }
                    }

                    .right {
                        button {
                            padding: 1.4rem 1.4rem;

                            .btn-content {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }

                        .filter-menu {
                            padding: 1rem !important;

                            .filter-form {
                                padding: 1rem !important;
                            }
                        }
                    }
                }

                .second-row {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    color: #464646;

                    .tab {
                        font-size: 1.3rem;
                        text-transform: capitalize;
                        width: 12rem;
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            #releases-list {
                flex: 1;
                overflow-y: scroll;
            }

            .totals {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 1.4rem;
                font-size: 1.1rem;
                border-top: 1px solid #00000032;
                gap: 1rem;

                .row1,
                .row2 {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }
}

.change-view-mode {
    display: flex;
    flex-direction: column;
    padding: .8rem;
    padding-top: 0;

    #title {
        width: 28rem;
        display: flex;
        justify-content: center;
        padding: 1.6rem 0;
        font-size: 1.3rem;
    }

    .mat-button-toggle-group {
        width: 100% !important;

        .mat-button-toggle {
            width: 50%;
        }
    }
}

.new-release-menu {
    display: flex;
    flex-direction: column;
    gap: 0 !important;
    padding: .5rem 0;

    span {
        padding: .7rem 1.2rem;

        &:hover {
            background-color: #8080802a;
            cursor: pointer;
        }
    }
}

.dark-page {
    .content {
        .releases-card {
            background-color: $dark-card-bg;

            header {
                .first-row {

                    .filter-menu,
                    .mat-mdc-menu-content {
                        background-color: $dark-bg !important;
                    }
                }

                .second-row {
                    .tab {
                        color: $dark-font-color;
                    }

                    button {
                        color: #fff;
                    }
                }
            }

            .totals {
                border-top: 1px solid #ffffff32 !important;
            }
        }
    }
}