@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme(( //
      color: ( //
        theme-type: light,
        primary: mat.$green-palette,
      ),
      typography: ( //
        brand-family: 'Roboto',
        bold-weight: 900,
      ),
      density: (scale: 0),
    ));

html {
  @include mat.core-theme($theme);
  @include mat.all-component-themes($theme);
}

@import './app/app.component.scss';
@import 'colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Mallanna&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// desktop fullhd+
@media screen and (min-width: 1750px) and (min-height: 800px) {

  html,
  body {
    font-size: 16px !important;
  }

  .mat-mdc-form-field {
    .mdc-text-field--filled {
      .mdc-floating-label {
        top: 25px !important;
      }

      .mdc-floating-label--float-above {
        transform: translateY(-92%) scale(0.75) !important;
      }

      .mat-mdc-input-element {
        position: relative;
        bottom: 3px !important;
      }
    }
  }
}

@media screen and (max-width: 1750px) and (max-height: 800px) {

  html,
  body {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 1400px) and (max-height: 650px) {

  html,
  body {
    font-size: 13px !important;
  }

  .mat-mdc-form-field {
    .mdc-text-field--filled {
      .mdc-floating-label {
        top: 33px !important;
      }

      .mdc-floating-label--float-above {
        transform: translateY(-105%) scale(0.75) !important;
      }

      .mat-mdc-input-element {
        position: relative;
        top: 6px !important;
      }
    }

    .mat-mdc-select-trigger {
      position: relative !important;
      top: 3px !important;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  user-select: none;
  color: rgba(0, 0, 0, 0.856);
}

* {
  font-family: "Nunito", "Dosis", "Mallanna", system-ui, -apple-system, Roboto, sans-serif;
}

app-root {
  width: 100%;
  height: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #7a7a7ad7 !important;
  border-radius: 10px !important;
}

// START ANGULAR FIX ***********

.mat-mdc-form-field {
  height: 73px;
  flex-direction: column;

  .mdc-text-field--filled {
    background-color: transparent !important;
    padding-left: 4px;

    .mdc-floating-label {
      transform: none;
      // cursor: text !important;
    }

    // .mdc-floating-label--float-above {
    //   transform: translateY(-106%) scale(0.75);
    // }
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: transparent;
  }

  mat-hint {
    color: #3a3a3a !important;
  }
}

.mat-mdc-snack-bar-action {
  font-family: 'Nunito', system-ui, -apple-system, Roboto !important;
  color: #fff !important;
}

.mdc-tooltip__surface {
  font-family: 'Nunito', system-ui, -apple-system, Roboto !important;
  padding: .5rem !important;
  font-size: .9rem !important;
}

// .mdc-button {
//   font-family: 'Nunito', 'Dosis', 'Mallanna', system-ui, -apple-system, Roboto !important;
//   font-size: 1rem !important;
// }

.mat-bottom-sheet-container {
  max-width: 100vw !important;
  background-color: #fff !important;

  &:has(.dark-page) {
    background-color: $dark-bg !important;
  }
}

#cdk-overlay-0 {
  max-width: 100vw !important;
  background-color: transparent !important;
}

.mat-mdc-menu-content {
  padding: 0 !important;
}

.mat-mdc-menu-panel {
  max-width: 100% !important;
}

.mat-mdc-icon-button .mat-mdc-button-touch-target {
  width: 100% !important;
  height: 100% !important;
}

mat-card-title {
  h3 {
    font-size: 1.17rem !important;
  }
}

.mat-divider {
  border-top-color: $primary-divider-color !important;
}

.mat-mdc-dialog-surface {
  background-color: $primary-card-bg !important;
}

// END ANGULAR FIX ***********

.simple-page {
  width: 100%;
  height: 100%;
  background-color: $primary-bg;
  padding: 1rem;
  overflow-x: hidden;

  .page-title {
    color: #383838;
    position: relative;
    left: 1.5rem;
    top: .5rem;
  }

  .card {
    background-color: $primary-card-bg !important;
    border-radius: 1rem !important;
  }
}

.dark-page {
  color: $dark-font-color !important;
  background-color: $dark-bg !important;

  .content {
    .card {
      background-color: $dark-card-bg !important;
      color: $dark-font-color !important;
    }
  }

  .mdc-button,
  .mdc-icon-button {

    .btn-content {
      color: $dark-font-color !important;
    }

    span {
      color: $dark-font-color !important;
    }

    &:disabled {
      .btn-content {
        color: $disabled-font-color !important;
      }

      span {
        color: $disabled-font-color !important;
      }
    }
  }

  .mat-bottom-sheet-container {
    background-color: $dark-bg !important;
  }

  .login-box {
    background-color: #212121 !important;
  }

  label {
    color: #d5d5d5 !important;
  }

  .page-title {
    color: #e6e6e6;
  }

  .mdc-floating-label {
    color: #e6e6e6 !important;
  }

  .mat-mdc-input-element {
    color: #e6e6e6 !important;
  }

  .mat-mdc-form-field {
    mat-hint {
      color: #999999 !important;
    }
  }

  .mdc-form-field {
    transition-duration: 1s;
    color: #e6e6e6 !important;
  }

  .mat-mdc-select-min-line {
    transition-duration: 1s;
    color: #e6e6e6 !important;
  }

  .mat-mdc-select-arrow {
    transition-duration: 1s;
    color: #e6e6e6 !important;
  }

  .mat-mdc-dialog-title {
    transition-duration: 1s;
    color: #e6e6e6 !important;
  }

  .mat-mdc-outlined-button {
    border-color: rgba(198, 198, 198, 0.47) !important;
  }

  .mdc-tab__text-label {
    color: #fff !important;
  }

  .mdc-tab--active .mdc-tab__text-label {
    color: $primary-font-color !important;
  }

  .mat-datepicker-toggle-default-icon {
    color: #dddddd !important;
  }

  .mat-divider {
    border-top-color: $dark-divider-color !important;
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  background-color: #eff3f8;

  .login-box {
    max-width: 95vw;
    width: 510px;
    height: 510px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.08), 0px 22px 30px 2px rgba(0, 0, 0, 0.15), 0px 8px 10px rgba(0, 0, 0, 0.15) !important;

    .top {
      height: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      padding-top: 1.3em;

      h1 {
        font-size: 2.2em;
      }
    }

    form {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .bottom {
      width: 100%;
      height: 22%;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        font-size: 1rem;

        span {
          display: flex;
          align-items: center;
          gap: .6rem;
        }
      }
    }
  }
}

.mat-mdc-select-panel {

  .mat-mdc-option {
    width: 100%;
    padding: 0 !important;
    padding-left: .5rem !important;
    padding-right: .3rem !important;

    .mdc-list-item__primary-text {
      width: 100% !important;

      .account-opt {
        display: flex !important;
        align-items: center !important;
        gap: .6rem !important;

        img {
          border-radius: 50% !important;
        }

        .default-account-logo {
          width: 29px;
          height: 29px;
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          box-shadow: 0 0 1px #747474;
          color: #3f3f3f;
        }
      }

      .category-opt {
        display: flex !important;
        align-items: center !important;
        gap: .6rem !important;

        .material-symbols-outlined {
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: .5rem;
          font-size: 1.1rem;
          color: #fff;
        }
      }
    }
  }
}