<div
  class="release-form"
  [ngClass]="{ 'dark-page': utilsService.getUserConfigs.theme === 'dark' }"
>
  <form [formGroup]="form">
    <div class="row row1">
      <mat-form-field style="width: 75%" [hideRequiredMarker]="true">
        <mat-label>
          {{ language === "pt-br" ? "Descrição" : "Description" }}
        </mat-label>
        <input
          matInput
          type="text"
          formControlName="description"
          autofocus
          maxlength="50"
        />
      </mat-form-field>
    </div>

    <div class="row row2">
      @if (form.get('type')!.value !== 'T') {
      <mat-form-field style="width: 39%" [hideRequiredMarker]="true">
        @if (form.get('type')!.value === 'E') {
        <mat-label>
          {{ language === "pt-br" ? "Conta/cartão" : "Account/card" }}
        </mat-label>
        } @else {
        <mat-label>
          {{ language === "pt-br" ? "Conta" : "Account" }}
        </mat-label>
        }

        <mat-select formControlName="accountId">
          <mat-select-trigger>
            <ng-container
              *ngTemplateOutlet="selectedAccountTemplate"
            ></ng-container>
          </mat-select-trigger>

          @for (account of accountsList; track account.id) {
          <mat-option [value]="account.id" class="bank-account-item">
            <div class="account-opt">
              @if (account.image) {
              <img
                [ngSrc]="'assets/banks/' + account.image"
                width="30"
                height="30"
                alt="bank account logo"
              />
              } @else {
              <span class="material-symbols-outlined default-account-logo">
                account_balance
              </span>
              }
              <span>{{ account.name }}</span>
            </div>
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <ng-template #selectedAccountTemplate>
        <div class="selected-account">
          @if (selectedAccount && selectedAccount.image) {
          <img
            [ngSrc]="'assets/banks/' + selectedAccount.image"
            width="20"
            height="20"
            alt="bank account logo"
          />
          }
          <span>{{ selectedAccount?.name }}</span>
        </div>
      </ng-template>

      <mat-form-field style="width: 37%" [hideRequiredMarker]="true">
        <mat-label>
          {{ language === "pt-br" ? "Valor" : "Value" }}
        </mat-label>
        <input
          matInput
          type="text"
          formControlName="amount"
          placeholder="0"
          currencyMask
          [options]="{ prefix: currency + ' ', allowNegative: false }"
        />
      </mat-form-field>
      } @else {
      <mat-form-field style="width: 38%" [hideRequiredMarker]="true">
        <mat-label>
          {{ language === "pt-br" ? "Conta origem" : "Origin Account" }}
        </mat-label>
        <mat-select formControlName="accountId">
          <mat-select-trigger>
            <ng-container
              *ngTemplateOutlet="leavedAccountTemplate"
            ></ng-container>
          </mat-select-trigger>

          @for (account of accountsList; track account.id) {
          <mat-option [value]="account.id" class="bank-account-item">
            <div class="account-opt">
              @if (account.image) {
              <img
                [ngSrc]="'assets/banks/' + account.image"
                width="30"
                height="30"
                alt="bank account logo"
              />
              } @else {
              <span class="material-symbols-outlined default-account-logo">
                account_balance
              </span>
              }
              <span>{{ account.name }}</span>
            </div>
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <ng-template #leavedAccountTemplate>
        <div class="selected-account">
          @if (selectedAccount && selectedAccount.image) {
          <img
            [ngSrc]="'assets/banks/' + selectedAccount.image"
            width="20"
            height="20"
            alt="bank account logo"
          />
          }
          <span>{{ selectedAccount?.name }}</span>
        </div>
      </ng-template>

      <mat-form-field style="width: 38%" [hideRequiredMarker]="true">
        <mat-label>
          {{ language === "pt-br" ? "Conta destino" : "Target Account" }}
        </mat-label>
        <mat-select formControlName="targetAccountId">
          <mat-select-trigger>
            <ng-container
              *ngTemplateOutlet="enteredAccountTemplate"
            ></ng-container>
          </mat-select-trigger>

          @for (account of accountsList; track account.id) {
          <mat-option [value]="account.id" class="bank-account-item">
            <div class="account-opt">
              @if (account.image) {
              <img
                [ngSrc]="'assets/banks/' + account.image"
                width="30"
                height="30"
                alt="bank account logo"
              />
              } @else {
              <span class="material-symbols-outlined default-account-logo">
                account_balance
              </span>
              }
              <span>{{ account.name }}</span>
            </div>
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <ng-template #enteredAccountTemplate>
        <div class="selected-account">
          @if (selectedTargetAccount && selectedTargetAccount.image) {
          <img
            [ngSrc]="'assets/banks/' + selectedTargetAccount.image"
            width="20"
            height="20"
            alt="bank account logo"
          />
          }
          <span>{{ selectedTargetAccount?.name }}</span>
        </div>
      </ng-template>
      }
    </div>

    <div class="row row3">
      <mat-form-field style="width: 38%" [hideRequiredMarker]="true">
        <mat-label>
          {{ language === "pt-br" ? "Data" : "Date" }}
        </mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field style="width: 38%">
        <mat-label>
          {{ language === "pt-br" ? "Hora" : "Hour" }}
        </mat-label>
        <input matInput type="time" formControlName="time" />
      </mat-form-field>
    </div>

    <div class="row row4">
      @if (form.get('type')!.value !== 'T') {
      <mat-form-field style="width: 38%" [hideRequiredMarker]="true">
        <mat-label>
          {{ language === "pt-br" ? "Categoria" : "Category" }}
        </mat-label>
        <mat-select formControlName="categoryId">
          <mat-select-trigger>
            <ng-container
              *ngTemplateOutlet="selectedCategoryTemplate"
            ></ng-container>
          </mat-select-trigger>

          @for (item of getCategories; track item.id) {
          <mat-option [value]="item.id">
            <div class="category-opt">
              @if (item.icon) {
              <span
                class="material-symbols-outlined"
                [ngStyle]="{ 'background-color': item.color }"
              >
                {{ item.icon }}
              </span>
              }
              {{ item.name }}
            </div>
          </mat-option>
          }
        </mat-select>

        <ng-template #selectedCategoryTemplate>
          <div class="selected-category">
            @if (selectedCategory) {
            <span
              class="material-symbols-outlined"
              [ngStyle]="{ 'background-color': selectedCategory.color }"
            >
              {{ selectedCategory.icon }}
            </span>

            <span>{{ selectedCategory.name }}</span>
            }
          </div>
        </ng-template>
      </mat-form-field>
      } @else {
      <mat-form-field style="width: 38%" [hideRequiredMarker]="true">
        <mat-label>
          {{ language === "pt-br" ? "Valor" : "Value" }}
        </mat-label>
        <input
          matInput
          type="text"
          formControlName="amount"
          placeholder="0"
          currencyMask
          [options]="{ prefix: currency + ' ', allowNegative: false }"
        />
      </mat-form-field>
      }

      <mat-checkbox formControlName="done">
        {{ language === "pt-br" ? "Realizado" : "Realized" }}
      </mat-checkbox>
    </div>
  </form>
</div>
