<div
  class="category-form-dialog"
  [ngClass]="{ 'dark-page': utils.getUserConfigs.theme === 'dark' }"
>
  <div class="top">
    <h1>
      {{
        (data.category === "new"
          ? "categories.new-category"
          : "categories.editing-category"
        ) | translate
      }}
      - @switch (data.type) { @case ('E') {
      {{ "generic.expense" | translate }}
      } @case ('R') {
      {{ "generic.revenue" | translate }}
      } }
    </h1>

    <app-buttons
      [showClose]="true"
      mat-dialog-close
      class="close-btn"
    ></app-buttons>
  </div>

  <div class="content">
    <form [formGroup]="categoryForm">
      <div class="row1">
        <span
          class="material-symbols-outlined"
          [ngStyle]="{
            'background-color': categoryForm.value.color
          }"
        >
          {{ categoryForm.value.icon }}
        </span>

        <mat-form-field style="width: 50%" [hideRequiredMarker]="true">
          <mat-label>
            {{ "categories.description" | translate }}
          </mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            autofocus
            maxlength="40"
          />
        </mat-form-field>

        @if (data.type === 'E') {
        <mat-checkbox formControlName="essential">
          {{ "categories.essential" | translate }}
        </mat-checkbox>
        }
      </div>

      <mat-divider></mat-divider>

      <div class="row2">
        <span>
          {{ "categories.choose-color" | translate }}
        </span>

        <div class="colors">
          @for (item of colors; track $index) {
          <div
            class="color"
            [ngStyle]="{ 'background-color': item }"
            (click)="pickColor(item)"
          ></div>
          }
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="row3">
        <span>
          {{ "categories.choose-icon" | translate }}
        </span>

        <div class="icons">
          @for (item of icons; track $index) {
          <span class="material-symbols-outlined" (click)="pickIcon(item)">
            {{ item }}
          </span>
          }
        </div>
      </div>
    </form>

    <div class="row4">
      <app-buttons
        [showSave]="true"
        [disableSave]="
          categoryForm.invalid || categoryForm.pristine || saving()
        "
        [showSaveLoading]="saving()"
        (onSave)="save()"
      ></app-buttons>
    </div>
  </div>
</div>
