<div
  class="bank-account-details"
  [ngClass]="{
    'dark-page': darkThemeEnabled
  }"
>
  @if (account.image) {
  <img
    [ngSrc]="cloudFireCdnImgsLink + 'banks/' + account.image"
    width="80"
    height="80"
    alt="bank account logo"
  />
  }

  <div class="content">
    <div class="row1">
      <h1 class="name">{{ account.name }}</h1>

      <div class="balance">
        <h1>
          {{
            currency +
              (showValues ? (account.balance | customCurrency) : hideValue)
          }}
        </h1>
        <span (click)="adjustBalance()">
          {{ "my-accounts.adjust-balance" | translate }}
        </span>
      </div>
    </div>

    <div class="row2">
      <div class="left">
        @if (account.accountNumber) {
        <span>
          {{ "my-accounts.account-number" | translate }}:
          {{ account.accountNumber }}
        </span>
        } @if (account.agency) {
        <span>
          {{ "my-accounts.agency" | translate }}:
          {{ account.agency }}
        </span>
        }
      </div>

      <div class="right">
        <span>
          {{ getAccountType | translate }}
        </span>
      </div>
    </div>

    <div
      class="row3"
      [ngClass]="{ up: !account.accountNumber && !account.agency }"
    >
      <span class="item">
        @if (account.investments) {
        <span class="material-symbols-outlined true">check</span>
        } @else {
        <span class="material-symbols-outlined false">close</span>
        }
        {{ "my-accounts.account-with-investments" | translate }}
      </span>

      <span class="item">
        @if (account.addOverallBalance) {
        <span class="material-symbols-outlined true">check</span>
        } @else {
        <span class="material-symbols-outlined false">close</span>
        }
        {{ "my-accounts.add-to-overall-balance" | translate }}
      </span>

      <span class="item">
        @if (account.active) {
        <span class="material-symbols-outlined true">check</span>
        } @else {
        <span class="material-symbols-outlined false">close</span>
        }
        {{ "generic.active" | translate }}
      </span>
    </div>
  </div>

  <div class="actions">
    <app-buttons
      [showGeneric]="true"
      genericIcon="sort"
      genericLabel="my-accounts.see-releases"
      [genericStyle]="getBtnStyle"
      [btnStyle]="{
        padding: '2rem'
      }"
      [contentStyle]="{
        color: '#585858',
        'font-size': '1rem'
      }"
    ></app-buttons>

    <app-buttons
      [showGeneric]="true"
      genericIcon="query_stats"
      genericLabel="generic.reports"
      [genericStyle]="getBtnStyle"
      [btnStyle]="{
        padding: '2rem'
      }"
      [contentStyle]="{
        color: '#585858',
        'font-size': '1rem'
      }"
    ></app-buttons>

    <app-buttons
      [showGeneric]="true"
      genericLabel="actions.edit"
      [genericStyle]="getEditBtnStyle"
      [btnStyle]="{
        padding: '1.3rem 1.6rem'
      }"
      [contentStyle]="{
        'font-size': '1.1rem'
      }"
      (onGeneric)="edit()"
    ></app-buttons>
  </div>
</div>
