<div class="bank-account-details" [class.dark-page]="darkThemeEnabled">
  @if (showImage) {
  <img
    id="account-logo"
    [ngSrc]="cloudFireCdnImgsLink + 'banks/' + account.image"
    width="80"
    height="80"
    alt="bank account logo"
  />
  }

  <div class="content">
    <div class="row1">
      <h1 class="name">{{ account.name }}</h1>

      <div class="balance">
        <h1>
          {{
            currency +
              (showValues ? (account.balance | customCurrency) : hideValue)
          }}
        </h1>

        @if (!account.grouper) {
        <span (click)="adjustBalance()">
          {{ "my-accounts.adjust-balance" | translate }}
        </span>
        }
      </div>
    </div>

    <div class="row2">
      @if (account.accountNumber) {
      <span>
        {{ "my-accounts.account-number" | translate }}:
        {{ account.accountNumber }}
      </span>
      } @if (account.agency) {
      <span>
        {{ "my-accounts.agency" | translate }}:
        {{ account.agency }}
      </span>
      }
    </div>

    <div
      class="row3"
      [style.align-items]="
        account.accountNumber || account.agency ? 'start' : 'center'
      "
    >
      <div class="left">
        @for (item of configs; track $index) {
        <!---->
        @if (item.show) {
        <span class="item">
          <span
            class="material-symbols-outlined"
            [class.true]="account[item.key]"
            [class.false]="!account[item.key]"
          >
            {{ account[item.key] ? "check" : "close" }}
          </span>

          {{ item.label | translate }}
        </span>
        } }
      </div>

      <div class="right">
        @if (account.type) {
        <span>
          {{ getAccountType | translate }}
        </span>
        }

        <br />

        @if (account.primaryAccountId) {
        <div class="primary-account">
          <span> {{ "my-accounts.sub-account-of" | translate }}: </span>

          <div class="primary-account-details">
            @if (primaryAccount?.image) {
            <img
              [ngSrc]="cloudFireCdnImgsLink + 'banks/' + primaryAccount!.image"
              width="20"
              height="20"
              alt="bank account logo"
            />
            }
            <span>
              {{ primaryAccount?.name }}
            </span>
          </div>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="actions">
    <dynamic-button [config]="seeReleasesBtnConfig"></dynamic-button>

    <dynamic-button [config]="editBtnConfig"></dynamic-button>

    <dynamic-button [config]="changeSituationBtnConfig"></dynamic-button>

    <dynamic-button [config]="deleteBtnConfig"></dynamic-button>
  </div>
</div>
