<div class="public-header">
  <div class="left-side">
    <a href="#second-section" aria-label="Our services">
      <button mat-button>Nossos serviços</button>
    </a>

    <a href="#third-section" aria-label="Signature plans">
      <button mat-button>Planos</button>
    </a>
  </div>

  <div class="title">
    <img
      priority
      [ngSrc]="cloudFireCdnImgsLink + 'money-coin.svg'"
      width="45"
      height="45"
      alt="company logo"
    />
    <h1>Finax</h1>
  </div>

  <div class="right-side">
    <button
      mat-flat-button
      color="primary"
      [routerLink]="loginService.logged ? 'home' : 'login'"
      class="login-button"
    >
      Entrar
    </button>
  </div>
</div>
