<div class="public-header">
  <div class="left">
    <img
      priority
      [ngSrc]="cloudFireCdnImgsLink + 'money-coin.svg'"
      width="45"
      height="45"
      alt="company logo"
    />

    <h1>Finax</h1>
  </div>

  <div class="center">
    <button (click)="navigateToOurServices()" mat-button>
      Nossos serviços
    </button>

    <button (click)="navigateToPlans()" mat-button>Planos</button>
  </div>

  <div class="right">
    <button
      mat-button
      [routerLink]="loginService.logged ? 'home' : 'login'"
      class="login-button"
    >
      Entrar
    </button>

    <button
      mat-flat-button
      color="primary"
      routerLink="nova-conta"
      id="register-btn"
    >
      Começe grátis
    </button>
  </div>
</div>
