<div class="public-header grow">
  <div class="left">
    <img
      priority
      [ngSrc]="cloudFireCdnImgsLink + 'logo.svg'"
      width="45"
      height="45"
      alt="company logo"
    />

    <h1 class="text-gradient">Finax</h1>
  </div>

  <div class="center">
    <span (click)="navigateToResources()">Recursos</span>

    <span (click)="navigateToPrices()">Preços</span>
  </div>

  <div class="right">
    <button
      mat-button
      [routerLink]="loginService.logged ? 'home' : 'login'"
      class="login-button"
    >
      Entrar
    </button>

    <button mat-flat-button routerLink="nova-conta" class="button-gradient">
      Começe grátis
    </button>
  </div>
</div>
