@use "colors.scss" as *;

$left-side-width: 36%;
$right-side-width: 40%;
$header-height: 5.5rem;

@media screen and (max-width: 1050px) {
  .public-header {
    .left-side {
      display: none !important;
    }
  }
}

.public-header {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 5px #0000005d;
  padding: 0 2.8rem;
  position: relative;
  animation: grow 0.5s ease-out forwards;

  .left {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;

    h1 {
      font-family: "Dosis";
      color: var(--primary) !important;
    }
  }

  .center {
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    button {
      font-size: 1.1rem;
      padding: 0.9rem 1rem;
      color: #262626;
    }
  }

  .right {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.2rem;

    button {
      padding: 1.5rem 1.5rem;
      font-size: 1.2rem;
      font-weight: 500;
    }

    #register-btn {
      background-image: linear-gradient(to right, #22c55e, #3b82f6);
      background-color: hsl(172 70% 45%);
    }
  }
}

@keyframes grow {
  0% {
    height: 0;
  }
  100% {
    height: $header-height;
  }
}
