<form class="form" [formGroup]="accountForm()">
  <div class="row first">
    <mat-form-field [ngStyle]="{ width: isDialog() ? '38%' : '30%' }">
      <mat-label>{{ "my-accounts.description" | translate }}</mat-label>
      <input
        type="text"
        matInput
        #accountName
        maxlength="40"
        formControlName="name"
        autofocus
      />

      <mat-hint align="end">
        {{ accountName.value.length }}/{{ accountName.maxLength }}
      </mat-hint>

      @if (showDescriptionErrorHint) {
      <mat-hint>
        {{ "my-accounts.description-is-required" | translate }}
      </mat-hint>
      }
    </mat-form-field>

    <mat-form-field [ngStyle]="{ width: isDialog() ? '30%' : '23%' }">
      <mat-label>
        {{ "my-accounts.account-type" | translate }}
      </mat-label>

      <mat-select formControlName="type">
        <mat-option value="CHECKING">
          {{ "my-accounts.account-types.checking" | translate }}
        </mat-option>

        <mat-option value="SAVING">
          {{ "my-accounts.account-types.saving" | translate }}
        </mat-option>

        <mat-option value="SALARY">
          {{ "my-accounts.account-types.salary" | translate }}
        </mat-option>

        <mat-option value="LEGAL">
          {{ "my-accounts.account-types.legal" | translate }}
        </mat-option>

        <mat-option value="BROKERAGE">
          {{ "my-accounts.account-types.brokerage" | translate }}
        </mat-option>

        <mat-option value="CASH">
          {{ "my-accounts.account-types.cash" | translate }}
        </mat-option>
      </mat-select>

      @if (accountForm().value.type) {
      <div matSuffix>
        <span
          class="material-symbols-outlined clear-value-button"
          (click)="removeAccountType($event)"
        >
          close
        </span>
      </div>
      }
    </mat-form-field>

    <mat-form-field [ngStyle]="{ width: isDialog() ? '18%' : '15%' }">
      <mat-label>{{ "my-accounts.code" | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="code"
        currencyMask
        [options]="{
          align: 'left',
          precision: 0,
          allowNegative: false,
          max: 999,
          nullable: true
        }"
      />
    </mat-form-field>
  </div>

  <div class="row second">
    @if (!accountId()) {
    <mat-form-field
      floatLabel="always"
      [ngStyle]="{ width: isDialog() ? '30%' : '23%' }"
      [hideRequiredMarker]="true"
    >
      <mat-label>
        {{ "my-accounts.initial-balance" | translate }}
      </mat-label>

      <input
        matInput
        placeholder="0"
        currencyMask
        [options]="{
          prefix: currency + ' '
        }"
        formControlName="balance"
        [readonly]="accountId() !== null"
      />
      <mat-hint>
        {{ "my-accounts.minus-for-negative-more-for-positive" | translate }}
      </mat-hint>
    </mat-form-field>
    }

    <mat-form-field [ngStyle]="{ width: isDialog() ? '32%' : '27%' }">
      <mat-label>
        {{ "my-accounts.account-number" | translate }}
      </mat-label>
      <input
        matInput
        type="text"
        maxlength="15"
        formControlName="accountNumber"
      />
    </mat-form-field>

    <mat-form-field [ngStyle]="{ width: isDialog() ? '18%' : '15%' }">
      <mat-label>
        {{ "my-accounts.agency" | translate }}
      </mat-label>
      <input matInput type="text" formControlName="agency" maxlength="5" />
    </mat-form-field>
  </div>

  <div
    class="row third"
    [ngStyle]="{
      'margin-top': isDialog() ? '1rem' : '2rem',
    }"
  >
    <div class="check-boxs">
      <mat-checkbox formControlName="investments">
        {{ "my-accounts.account-with-investments" | translate }}
      </mat-checkbox>

      <br />

      <mat-checkbox formControlName="addOverallBalance">
        {{ "my-accounts.add-to-overall-balance" | translate }}
      </mat-checkbox>

      <br />

      <mat-checkbox formControlName="active">
        {{ "generic.active" | translate }}
      </mat-checkbox>
    </div>

    <div
      id="bank-img-div"
      [ngStyle]="{
        'margin-top': '1rem'
      }"
    >
      @if (!accountForm().value.image) {
      <span class="material-symbols-outlined" (click)="selectIcon()">
        account_balance
      </span>
      } @else {
      <img
        [ngSrc]="cloudFireCdnImgsLink + 'banks/' + accountForm().value.image"
        class="bank-img"
        width="70"
        height="70"
        (click)="selectIcon()"
        alt="bank account image"
      />
      }
      <span id="text" (click)="selectIcon()">
        {{ "generic.select-icon" | translate }}
      </span>
    </div>
  </div>
</form>
