.form {


    .row {
        width: 100%;
        display: flex;
        gap: 1rem;
        padding: 0 2rem;
    }

    .first {
        width: 100%;
        align-items: center;
        margin-bottom: 1rem;
    }

    .second {
        margin-bottom: 1rem;

        .selected-account {
            display: flex;
            align-items: center;
            gap: .5rem;

            img {
                border-radius: 50%;
            }
        }
    }

    .third {
        flex: 1;
        display: flex;

        .check-boxs {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
        }

        #bank-img-div {
            width: 35%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .2rem;
            padding-top: 1rem;
            margin-left: 5rem;

            .material-symbols-outlined {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                box-shadow: 0 0 2px #5d5d5d;
                cursor: pointer;
            }

            #bank-img {
                border-radius: 50%;
                box-shadow: 0 0 2px #5d5d5d;
                cursor: pointer;
            }

            #text {
                cursor: pointer;
            }
        }
    }
}