<div
  class="new-release-cash-flow-dialog"
  [ngClass]="{ 'dark-page': utilsService.getUserConfigs.theme === 'dark' }"
>
  <div
    class="top"
    [ngStyle]="{ 'margin-bottom': releaseForm.value.id ? '2.7rem' : '1.5rem' }"
  >
    <app-buttons
      [showSave]="true"
      [disableSave]="
        (data.editing && releaseForm.pristine && !changedAttachment) ||
        releaseForm.invalid ||
        (releaseForm.value.repeat === 'fixed' &&
          !releaseForm.value.repeatFor) ||
        (releaseForm.value.repeat === 'installments' &&
          !releaseForm.value.installmentsBy) ||
        saving
      "
      [showSaveLoading]="saving"
      (onSave)="save()"
      class="save-btn"
    ></app-buttons>

    @if (data.editing) {
    <h2>
      @switch (data.releaseType) { @case ("E") {
      {{ language === "pt-br" ? "Editando despesa" : "Editing expense" }}
      } @case ("R") {
      {{ language === "pt-br" ? "Editando receita" : "Editing revenue" }}
      } @case ("T") {
      {{ language === "pt-br" ? "Editando transferência" : "Editing transfer" }}
      } }
    </h2>
    } @else {
    <h2>
      @switch (data.releaseType) { @case ("E") {
      {{ language === "pt-br" ? "Nova despesa" : "New expense" }}
      } @case ("R") {
      {{ language === "pt-br" ? "Nova receita" : "New revenue" }}
      } @case ("T") {
      {{ language === "pt-br" ? "Nova transferência" : "New transfer" }}
      } }
    </h2>
    }

    <app-buttons
      [showClose]="true"
      mat-dialog-close
      class="close-btn"
    ></app-buttons>
  </div>

  <div class="content">
    <div class="form-buttons">
      <app-release-form
        [form]="releaseForm"
        [accountsList]="data.accounts"
        [categoriesList]="data.categories"
        style="flex: 1"
      ></app-release-form>

      <div
        class="buttons"
        [ngStyle]="{
          'margin-top':
            showRepeat || showObservation
              ? smallScreen
                ? '0'
                : '2rem'
              : smallScreen
              ? '0'
              : '.8rem'
        }"
      >
        <input
          type="file"
          id="fileInput"
          (change)="onFileSelected($event)"
          style="display: none"
        />

        <label
          for="fileInput"
          class="bottom-btn"
          [ngStyle]="{
          'background-color': selectedFile ? '#b6b6b673' : 'transparent',
          color: selectedFile ? '#fff' : '',
          border: selectedFile ? 'none' : '',
        }"
          [matTooltip]="language === 'pt-br' ? 'Anexo' : 'Attachment'"
          matTooltipPosition="left"
        >
          <span class="material-symbols-outlined">attach_file_add</span>
        </label>

        @if (!releaseForm.value.id) {
        <label
          class="bottom-btn"
          (click)="showRepeat = !showRepeat"
          [ngStyle]="{
          'background-color': showRepeat ? '#b6b6b673' : 'transparent',
          'color': showRepeat ? '#fff' : '',
          'border': showRepeat ? 'none' : '',
        }"
          [matTooltip]="language === 'pt-br' ? 'Repetir' : 'Repeat'"
          matTooltipPosition="left"
        >
          <span class="material-symbols-outlined">repeat</span>
        </label>
        }

        <label
          class="bottom-btn"
          (click)="showObservation = !showObservation"
          [ngStyle]="{
          'background-color': showObservation ? '#b6b6b673' : 'transparent',
          'color': showObservation ? '#fff' : '',
          'border': showObservation ? 'none' : '',
        }"
          [matTooltip]="language === 'pt-br' ? 'Observação' : 'Observation'"
          matTooltipPosition="left"
        >
          <span class="material-symbols-outlined">speaker_notes</span>
        </label>
      </div>
    </div>

    @if (selectedFile || showRepeat || showObservation) {
    <mat-divider></mat-divider>

    <form [formGroup]="releaseForm" class="extras">
      @if (selectedFile || showObservation) {
      <div class="file-obs" [ngStyle]="{ width: showRepeat ? '50%' : '100%' }">
        @if (selectedFile) {
        <div class="selected-file">
          <div class="file-content">
            <h3>{{ language === "pt-br" ? "Anexos" : "Attachments" }}</h3>

            <div class="file">
              <span>{{ selectedFile.name }}</span>

              <app-buttons
                [showClose]="true"
                (onClose)="removeFile()"
                class="remove-file-btn"
              ></app-buttons>
            </div>
          </div>
        </div>
        } @if (selectedFile && showObservation) {
        <mat-divider></mat-divider>
        } @if (showObservation) {
        <div class="observation">
          <mat-form-field appearance="outline" style="width: 80%">
            <mat-label>
              {{ language === "pt-br" ? "Observação" : "Observation" }}
            </mat-label>
            <textarea
              matInput
              formControlName="observation"
              maxlength="100"
            ></textarea>
          </mat-form-field>
        </div>
        }
      </div>
      } @if (showRepeat) {
      <div
        class="repeat"
        [ngStyle]="{
          width: selectedFile || showObservation ? '50%' : '100%',
          'border-left':
            selectedFile || showObservation ? '1px solid #d1d1d1' : 'none'
        }"
      >
        <div
          class="choices"
          [ngStyle]="{
            'flex-direction': selectedFile || showObservation ? 'column' : 'row',
            gap: selectedFile || showObservation ? '0' : '4rem',
          }"
        >
          <mat-checkbox
            [formControl]="fixedRepeat"
            (change)="onChangeRepeat('fixed', $event)"
          >
            {{
              language === "pt-br"
                ? "É um lançamento fixo"
                : "It's a fixed release"
            }}
          </mat-checkbox>

          <mat-checkbox
            [formControl]="installmenteRepeat"
            (change)="onChangeRepeat('installments', $event)"
          >
            {{
              language === "pt-br"
                ? "É um lançamento parcelado"
                : "It's a installment release"
            }}
          </mat-checkbox>
        </div>

        @if (releaseForm.value.repeat === 'fixed') {
        <div
          class="fixed-release"
          [ngStyle]="{
            'flex-direction': selectedFile || showObservation ? 'column' : 'row'
          }"
        >
          <mat-form-field
            [ngStyle]="{
              width: selectedFile || showObservation ? '50%' : '30%'
            }"
          >
            <mat-label></mat-label>
            <mat-select formControlName="fixedBy">
              <mat-option value="daily">
                {{ language === "pt-br" ? "Diário" : "Daily" }}
              </mat-option>
              <mat-option value="weekly">
                {{ language === "pt-br" ? "Semanal" : "Weekly" }}
              </mat-option>
              <mat-option value="monthly">
                {{ language === "pt-br" ? "Mensal" : "Monthly" }}
              </mat-option>
              <mat-option value="bimonthly">
                {{ language === "pt-br" ? "Bimestral" : "Bimonthly" }}
              </mat-option>
              <mat-option value="quarterly">
                {{ language === "pt-br" ? "Trimestral" : "Quarterly" }}
              </mat-option>
              <mat-option value="biannual">
                {{ language === "pt-br" ? "Semestral" : "Biannual" }}
              </mat-option>
              <mat-option value="annual">
                {{ language === "pt-br" ? "Anual" : "Annual" }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [hideRequiredMarker]="true">
            <mat-label>
              {{ language === "pt-br" ? "Por:" : "For:" }}
            </mat-label>
            <input
              matInput
              type="text"
              formControlName="repeatFor"
              currencyMask
              [options]="{
                prefix: '',
                allowNegative: false,
                allowZero: false,
                decimal: '',
                precision: 0,
                suffix: ' ' + repeatForSuffix,
                thousands: '',
                nullable: false,
                min: 2,
                max: 1000,
              }"
            />
          </mat-form-field>
        </div>
        } @else if (releaseForm.value.repeat === 'installments') {
        <div class="installments-release">
          <mat-form-field
            [ngStyle]="{
              width: selectedFile || showObservation ? '40%' : '20%'
            }"
            [hideRequiredMarker]="true"
          >
            <mat-label>
              {{ language === "pt-br" ? "Em:" : "In:" }}
            </mat-label>
            <input
              matInput
              type="text"
              formControlName="installmentsBy"
              currencyMask
              [options]="{
                prefix: '',
                allowNegative: false,
                allowZero: false,
                decimal: '',
                precision: 0,
                suffix: language === 'pt-br' ? ' meses' : ' months',
                thousands: '',
                nullable: false,
                min: 2,
                max: 48,
              }"
            />
          </mat-form-field>
        </div>
        }
      </div>
      }
    </form>
    }
  </div>
</div>
