<div
  class="credit-card-details"
  [ngClass]="{ 'dark-page': utils.getUserConfigs.theme === 'dark' }"
>
  @if (card.image) {
  <img
    id="card-logo"
    [ngSrc]="cloudFireCdnImgsLink + 'banks/' + card.image"
    width="80"
    height="80"
    alt="credit card logo"
  />
  }

  <div class="content">
    <div class="row1">
      <h1 class="name">{{ card.name }}</h1>

      <div class="limit">
        <span>{{ "credit-cards.limit" | translate }}:</span>
        <h1>{{ currency }}{{ card.cardLimit | customCurrency }}</h1>
      </div>
    </div>

    <div class="row2">
      <div class="left">
        <div class="standard_payment_account">
          <span>
            {{ "credit-cards.standard-payment-account" | translate }}:
          </span>

          <span class="account">
            @if (card.accountImage) {
            <img
              [ngSrc]="
                'https://d3dpbaewouik5z.cloudfront.net/imgs/banks/' +
                card.accountImage
              "
              width="27"
              height="27"
              alt="standard payment account logo"
            />
            }

            {{ card.accountName }}
          </span>
        </div>

        <div class="active">
          @if (card.active) {
          <span class="material-symbols-outlined true">check</span>
          } @else {
          <span class="material-symbols-outlined false">close</span>
          }
          {{ "generic.active" | translate }}
        </div>
      </div>

      <div class="right">
        <div class="item">
          <span>{{ "credit-cards.close-day" | translate }}:</span>

          <span>{{ card.closeDay }}</span>
        </div>

        <div class="item">
          <span>{{ "credit-cards.expires-day" | translate }}:</span>

          <span>{{ card.expiresDay }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <app-buttons
      [showGeneric]="true"
      genericIcon="sort"
      genericLabel="credit-cards.see-invoice"
      [genericStyle]="strokedBtnStyle"
      [btnStyle]="{
        padding: '2rem'
      }"
      [contentStyle]="{
        color: '#585858'
      }"
      (onGeneric)="seeInvoice()"
    ></app-buttons>

    <app-buttons
      [showGeneric]="true"
      genericLabel="actions.edit"
      [genericStyle]="basicBtnStyle"
      (onGeneric)="edit()"
    ></app-buttons>
  </div>
</div>
