<div class="credit-card-details">
  @if (showImage) {
  <img
    id="card-logo"
    [ngSrc]="cloudFireCdnImgsLink + 'banks/' + card.image"
    width="80"
    height="80"
    alt="credit card logo"
  />
  }

  <div class="content">
    <div class="row1">
      <h1 class="name">
        <label>
          {{ card.name }}
        </label>
      </h1>

      <div class="limit">
        <label>{{ "credit-cards.limit" | translate }}:</label>
        <h1>{{ currency }}{{ card.cardLimit | customCurrency }}</h1>
      </div>
    </div>

    <div class="row2">
      <div class="left">
        <div class="standard_payment_account">
          <label>
            {{ "credit-cards.standard-payment-account" | translate }}:
          </label>

          <span class="account">
            @if (card.accountImage) {
            <img
              [ngSrc]="cloudFireCdnImgsLink + 'banks/' + card.accountImage"
              width="27"
              height="27"
              alt="standard payment account logo"
            />
            }

            <label>{{ card.accountName }}</label>
          </span>
        </div>

        <div class="active">
          @if (card.active) {
          <span class="material-symbols-outlined true">check</span>
          } @else {
          <span class="material-symbols-outlined false">close</span>
          }
          <label>{{ "generic.active" | translate }}</label>
        </div>
      </div>

      <label class="right">
        <div class="item">
          <span>{{ "credit-cards.close-day" | translate }}:</span>

          <span>{{ card.closeDay }}</span>
        </div>

        <div class="item">
          <span>{{ "credit-cards.expires-day" | translate }}:</span>

          <span>{{ card.expiresDay }}</span>
        </div>
      </label>
    </div>
  </div>

  <div class="actions">
    <dynamic-button [config]="seeInvoiceBtnConfig"></dynamic-button>

    <dynamic-button [config]="editBtnConfig"></dynamic-button>
  </div>
</div>
