@import 'colors.scss';

.confirm-duplicated-releases-action {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: .8rem;
    gap: 2.5rem;
    padding-bottom: 3rem;

    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        padding-left: 1rem;
    }

    .actions {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;

        button {
            width: 55%;
            padding: 1.6rem 0 !important;
            font-size: 1.15rem !important;
            box-shadow: 2px 2px 4px #062e08e0;

            &:hover {
                box-shadow: 3px 3px 7px #0a4d0ef6;
            }
        }
    }
}