<div id="public-page">
  <app-public-header
    (onNavigateToOurServices)="navigateToOurServices()"
    (onNavigateToPlans)="navigateToPlans()"
    style="z-index: 10"
  ></app-public-header>

  <app-public-first-section
    #firstSection
    id="first-section"
    class="public-section"
  ></app-public-first-section>

  <mat-divider />

  @defer (hydrate on viewport) {
  <app-public-second-section
    #secondSection
    id="second-section"
    class="public-section"
  ></app-public-second-section>

  <mat-divider />

  @defer (hydrate on viewport) {
  <app-public-third-section
    #thirdSection
    id="third-section"
    class="public-section"
  ></app-public-third-section>
  }

  <app-public-footer></app-public-footer>
  }
</div>
