<div id="public-page">
  <app-public-header
    (onNavigateToOurServices)="navigateToOurServices()"
    (onNavigateToPlans)="navigateToPlans()"
    style="z-index: 10"
  />

  <app-public-first-section
    #firstSection
    id="first-section"
    class="public-section"
  />

  <mat-divider />

  @defer (hydrate on viewport) {
  <app-public-second-section
    #secondSection
    id="second-section"
    class="public-section"
  />

  <mat-divider />

  <app-public-third-section
    #thirdSection
    id="third-section"
    class="public-section"
  />

  <app-public-fourth-section
    #fourthSection
    id="fourth-section"
    class="public-section"
  />

  <app-public-five-section
    #fiveSection
    id="five-section"
    class="public-section"
  />

  <app-public-footer />
  }
</div>
