<div class="release">
  <span
    class="material-symbols-outlined category-icon"
    [style.background-color]="release().categoryColor"
  >
    {{ release().categoryIcon }}
  </span>

  <div class="title-account">
    <label class="release-title">
      {{ release().description || release().categoryName }}
    </label>

    <div class="release-account">
      @if (release().isCreditCardRelease) {
      <span class="material-symbols-outlined card-icon">credit_card</span>

      <span id="account">{{ release().creditCardName }}</span>
      } @else {
      <span id="account">{{ release().accountName }}</span>
      }
    </div>
  </div>

  <span
    class="date"
    [style.color]="isLate ? '#f44336' : isToday ? 'orange' : '#616161'"
  >
    {{ release().date | date : "dd/MM/yyyy" }}
  </span>

  <span class="amount">
    {{ currency() }}{{ release().amount | customCurrency }}
  </span>
</div>
