<div
  [ngClass]="{
    'simple-page': true,
    'dark-page': theme === 'dark'
  }"
>
  <h1 class="page-title">
    {{ "settings.title" | translate }}
  </h1>

  <form [formGroup]="configsForm" class="content">
    <div class="config theme">
      <span>{{ "settings.theme" | translate }}:</span>

      <mat-button-toggle-group formControlName="theme">
        <mat-button-toggle value="light">
          <i class="material-symbols-outlined">light_mode</i>
        </mat-button-toggle>

        <mat-button-toggle value="dark">
          <i class="material-symbols-outlined">dark_mode</i>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- <mat-divider></mat-divider>

    <div class="config">
      <span>
        Somar bens materiais no patrimônio total:
      </span>
      <mat-radio-group formControlName="addingMaterialGoodsToPatrimony" class="flex flex-column">
        <mat-radio-button [value]="true" color="primary">
          Sim
        </mat-radio-button>
        <mat-radio-button [value]="false" color="primary">
          Não
        </mat-radio-button>
      </mat-radio-group>
    </div> -->

    <mat-divider></mat-divider>

    <div class="config">
      <span>{{ "settings.language" | translate }}:</span>
      <div>
        <mat-form-field>
          <mat-select formControlName="language">
            @for (language of languagesList; track $index) {
            <mat-option [value]="language.id">
              {{ "settings.languages." + language.ds | translate }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="config flex flex-column">
      <span>{{ "settings.currency" | translate }}:</span>
      <div>
        <mat-form-field>
          <mat-select formControlName="currency">
            @for (currency of currenciesList; track $index) {
            <mat-option [value]="currency">
              {{ currency }}
              {{ "settings.currencies." + currency | translate }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
