@media screen and (max-width: 650px) {
  .balances {
    flex-wrap: wrap;
    padding-bottom: 0.4rem !important;

    span {
      min-width: 45%;
      max-width: 45%;
      text-align: center;
    }
  }
}

.balances {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.4rem;
  font-size: 1.1rem;
  gap: 1rem;
}
