<div class="balances">
  <span>
    {{ "cash-flow.revenues" | translate }}: {{ currency()
    }}{{ balances().revenues | customCurrency }}
  </span>

  <span>
    {{ "cash-flow.expenses" | translate }}: {{ currency()
    }}{{ balances().expenses | customCurrency }}
  </span>

  <span>
    {{ "cash-flow.actual-balance" | translate }}: {{ currency()
    }}{{ balances().balance | customCurrency }}
  </span>

  <span>
    {{ "cash-flow.expected-balance" | translate }}: {{ currency()
    }}{{ balances().expectedBalance | customCurrency }}
  </span>
</div>
