.balances {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.4rem;
    font-size: 1.1rem;
    border-top: 1px solid #00000032;
    gap: 1rem;

    .row1,
    .row2 {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}