@media screen and (max-width: 1050px) {
  #balances {
    flex-direction: row !important;
    overflow-x: scroll !important;
    padding: 0 1rem !important;

    app-balance {
      min-width: 20rem !important;
    }
  }
}

@media screen and (max-width: 650px) {
  #balances {
    gap: 0 !important;
    padding: 0 0.3rem !important;

    app-balance {
      min-width: 17rem !important;
    }
  }
}

#balances {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  app-balance {
    width: 100%;
  }
}
