<div class="balances">
  <span>
    {{ "cash-flow.revenues" | translate }}: {{ currency()
    }}{{ balances().revenues | customCurrency }}
  </span>

  <span>
    {{ "cash-flow.expenses" | translate }}: {{ currency()
    }}{{ balances().expenses | customCurrency }}
  </span>

  <span>
    {{ "cash-flow.actual-balance" | translate }}:
    <!--  -->
    @if (smallWidth()) {
    <br />
    }
    {{ currency() }}{{ balances().balance | customCurrency }}
  </span>

  <span>
    {{ "cash-flow.expected-balance" | translate }}:
    <!--  -->
    @if (smallWidth()) {
    <br />
    }
    {{ currency() }}{{ balances().expectedBalance | customCurrency }}
  </span>
</div>
